@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login y Registro con HTML5 y CSS3</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="~/Content/css/modules/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.png" type="image/x-icon">
</head>
<body>
    <main>
        <article>
            <section>
                <form action="@Url.Action("Login", "Account")" method="POST">
                    <h1>Inicia Sesion</h1>
                    <img src="~/Content/img/icons-social/facebook.svg" title="Inicia Sesion con Facebook" alt="Inicia Sesion con Facebook">
                    <img src="~/Content/img/icons-social/google.svg" title="Inicia Sesion con Google" alt="Inicia Sesion con Google">
                    <img src="~/Content/img/icons-social/twitter.svg" title="Inicia Sesion con Twitter" alt="Inicia Sesion con Twitter">
                    <img src="~/Content/img/icons-social/github.svg" title="Inicia Sesion con GitHub" alt="Inicia Sesion con GitHub">

                    <input type="text" name="usuario" placeholder="Correo electr&oacute;nico" required><br />
                    <input type="password" name="contrasena" placeholder="Contrase&ntilde;a" required><br />
                    <button type="submit">Entrar</button>
                    <button type="reset">Limpiar</button>

                    <p>Aun no tienes cuenta ?</p>
                    <p>
                        <a href="@Url.Action("Register", "Account")">Registrate</a>
                    </p>
                </form>
            </section>
        </article>
    </main>
</body>
</html>
