@Html.Partial("~/Views/Shared/_head.cshtml")

<!-- METAS -->
<title>Asociación Pataz: cientos de escolares del distrito de Pataz se benefician con renovación de computadoras para mejora de Telecentros | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Asociación Pataz: cientos de escolares del distrito de Pataz se benefician con renovación de computadoras para mejora de Telecentros | PODEROSA' />
<meta name='description' content='Ochocientos escolares – aproximadamente- de los niveles primaria y secundaria de diez instituciones educativas del distrito de Pataz, pertenecientes a los anexos: Chagual, Suyubamba, Vista Florida, Pataz, Los Alisos, Shicún, Socorro, Nimpana, Chuquitambo y San Fernando' />
<meta name='url' content='http://www.poderosa.com.pe/noticias/asociacion_pataz_cientos_de_escolares_del_distrito_de_pataz_se_benefician_con_renovacion_de_computadoras_para_mejora_de_telecentros/' />
<meta name='keywords' content='Poderosa, Asociación Pataz,benefician con renovación de computadoras,Telecentros' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Asociación Pataz: cientos de escolares del distrito de Pataz se benefician con renovación de computadoras para mejora de Telecentros | PODEROSA' />
<meta property='og:description' content='Ochocientos escolares – aproximadamente- de los niveles primaria y secundaria de diez instituciones educativas del distrito de Pataz, pertenecientes a los anexos: Chagual, Suyubamba, Vista Florida, Pataz, Los Alisos, Shicún, Socorro, Nimpana, Chuquitambo y San Fernando' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/asociacion_pataz_cientos_de_escolares_del_distrito_de_pataz_se_benefician_con_renovacion_de_computadoras_para_mejora_de_telecentros/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/asociacion_pataz_cientos_de_escolares_del_distrito_de_pataz_se_benefician_con_renovacion_de_computadoras_para_mejora_de_telecentros/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <main>
        <section class="pt-4">
            <div class="noticias-banner ">
                <div class="bg-gris-oscuro-4 ">
                    <h1 class=" fuente-3 noticias-banner-texto">
                        Asociación Pataz: cientos de escolares del distrito de Pataz se benefician con renovación de computadoras para mejora de Telecentros
                    </h1>

                </div>
                <div class="noticia-banner-img-xl">

                    <img src="~/Content/noticias/asociacion-pataz-cientos-de-escolares-del-distrito-de-pataz-se-benefician-con-renovacion/banner.jpg" alt="" class="img-fluid">

                </div>
            </div>
            <div class="noticia-container-xl">

                <div class="noticia-container-texto ">

                    <div>
                        <!-- <h2 class="fuente-3 dorado">El gobierno regional ha formalizado a más de 3 mil mineros, gracias al apoyo de Compañía Minera Poderosa. Esfuerzo reducirá minería ilegal e impacto ambiental.</h2>
                        -->
                        <h6 class="mayuscula mt-4 fuente-3">VIJUS DE MAYO 27 DE 2019</h6>
                    </div>

                    <p>Ochocientos escolares – aproximadamente- de los niveles primaria y secundaria de diez instituciones educativas del distrito de Pataz, pertenecientes a los anexos: Chagual, Suyubamba, Vista Florida, Pataz, Los Alisos, Shicún, Socorro, Nimpana, Chuquitambo y San Fernando; se han beneficiado con la renovación de 22 computadoras de escritorio (mobiliario incluido), como mejora para la operatividad de los Centros de Recursos Tecnológicos (Telecentros Educativos).</p>

                    <p>
                        Esta implementación es parte de la ejecución del proyecto: Seguimiento al desarrollo de competencias en los estudiantes del nivel primaria y secundaria con la participación de la comunidad educativa a través del uso de las tecnologías de la información en el distrito de Pataz.
                    </p>

                    <p>
                        El proyecto busca contribuir a la sostenibilidad de la calidad educativa de las instituciones educativas del distrito; y es ejecutado por Asociación Pataz con fondos donados por PODEROSA.
                    </p>

                    <p>
                        La entrega de estos equipos se realizó en mayo y contó con la participación de los directores, docentes y los presidentes de las APAFA de las instituciones educativas beneficiarias.
                    </p>

                    <p>
                        Cabe resaltar que en marzo se firmó un convenio entre la UGEL Pataz y Asociación Pataz, mediante el cual se financia las plazas de 16 docentes, algunos de ellos especialistas en computación, quienes complementan sus horas académicas con la práctica en los telecentros .
                    </p>

                    <h5 class="dorado fuente-3">Telecentros Educativos</h5>

                    <p>Son ambientes educativos que están conformados por computadoras estacionales (desktock) y una laptop, las cuales están comunicadas mediante una red local (LAN). Estas computadoras contienen una plataforma virtual que permite reforzar las competencias comunicativas de comprender lo que se lee y resolver problemas matemáticos.</p>


                </div>



                <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-3 img-fluid">
                <!--     <img src="imagenes/pagina-interna/forma-dorada-transparente.png" alt="" class="contendor-iconos-img-4 img-fluid"> -->



                <div class="noticia-container-texto">
                    <!--
                                <div class="pt-5">
                                   <img class="img-fluid" src="/imagenes/noticias/equipo-de-geomecanica-pasa-con-exito-fiscalizacion-tecnica/01.jpg" alt="imagen">
                               </div> -->

                    <section class="position-relative pt-5">
                        <div class="container-custom2">
                            <div class="row ">

                                <div class="col-12  col-xxl-12">
                                    <div id="carousel-items" class="carousel slide">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <img src="~/Content/noticias/asociacion-pataz-cientos-de-escolares-del-distrito-de-pataz-se-benefician-con-renovacion/01.jpg" class="img-fluid" alt="...">
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <img src="~/Content/noticias/asociacion-pataz-cientos-de-escolares-del-distrito-de-pataz-se-benefician-con-renovacion/02.jpg" class="img-fluid" alt="...">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="carousel-item ">
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <img src="~/Content/noticias/asociacion-pataz-cientos-de-escolares-del-distrito-de-pataz-se-benefician-con-renovacion/03.jpg" class="img-fluid" alt="...">
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <img src="~/Content/noticias/asociacion-pataz-cientos-de-escolares-del-distrito-de-pataz-se-benefician-con-renovacion/04.jpg" class="img-fluid" alt="...">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <img src="~/Content/noticias/asociacion-pataz-cientos-de-escolares-del-distrito-de-pataz-se-benefician-con-renovacion/05.jpg" class="img-fluid" alt="...">
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <img src="~/Content/noticias/asociacion-pataz-cientos-de-escolares-del-distrito-de-pataz-se-benefician-con-renovacion/01.jpg" class="img-fluid" alt="...">
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="d-flex pt-4 pt-sm-0 pb-4 justify-content-center">
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-items" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-items" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>




                </div>
                <div class="pt-5">
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="me-3">Comparte en:</p>

                    </div>
                </div>
            </div>
        </section>




        <section class=" py-5">
            <div class="container">
                <div class="contenedor-noticias py-5">
                    <div class="contenedor-noticias-titulo pb-3">
                        <h1 class="fuente-3">
                            Lo último
                        </h1>
                        <button class="fuente-5 button-ver-mas">
                            Ver más noticias <a href="https://www.poderosa.com.pe/noticias/index" class="icono"><img src="~/Content/img/home/icono.svg" alt="" class="img-fluid"></a>
                        </button>
                    </div>
                    <div class="row  ">
                        <div class="col-12 col-md-6 col-lg-4 mb-5">
                            <a href="https://www.poderosa.com.pe/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal" class="text-decoration-none">
                                <img src="~/Content/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal/resumen.jpg"
                                     alt=""
                                     class="img-fluid contenedor-noticias-img zoom-img">
                                <h5 class="fuente-3 mt-2">
                                    Pablo de la Flor destaca riesgos de la minería ilegal en el XXXV Encuentro Empresarial del Norte
                                </h5>
                            </a>
                            <p class="fuente-4">
                                “Es difícil distinguir entre minería informal e ilegal, ya que el REINFO es disfuncional."
                            </p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-5">
                            <a href="https://www.poderosa.com.pe/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus" class="text-decoration-none">
                                <img src="~/Content/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus/resumen.jpg"
                                     alt=""
                                     class="img-fluid contenedor-noticias-img zoom-img">
                                <h5 class="fuente-3 mt-2">
                                    Trabajo conjunto permite que el Centro Asistencial de Salud de Vijus mejore primer
                                    nivel de atención

                                </h5>
                            </a>
                            <p class="fuente-4">
                                El poder del esfuerzo conjunto hizo posible el mejoramiento del Centro de Salud del anexo de Vijus, distrito de Pataz.
                            </p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-5">
                            <a href="https://www.poderosa.com.pe/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024" class="text-decoration-none">
                                <img src="~/Content/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img">
                                <h5 class="fuente-3 mt-2">
                                    PODEROSA presente en Cumbre Perú Sostenible 2024
                                </h5>
                            </a>
                            <p class="fuente-4">
                                Lima fue sede de la Cumbre Perú Sostenible, el evento más importante del país dedicado a promover la sostenibilidad en todos los sectores
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>