@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>
    Compañía Minera Poderosa: Primera empresa minera en el Perú en obtener la certificación ISO 37301 con los más altos estándares internacionales en Compliance | PODEROSA
</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Compañía Minera Poderosa: Primera empresa minera en el Perú en obtener la certificación ISO 37301 con los más altos estándares internacionales en Compliance | PODEROSA' />
<meta name='description' content='En setiembre del año 2022, junto a la creación del área de Riesgos y Compliance, Poderosa inició el proceso de implementación de los requisitos de la norma ISO 37301: 2021 “Sistema de Gestión Compliance”' />
<meta name='url' content='http://www.poderosa.com.pe/noticias/compania-minera-poderosa-primera-empresa-minera-en-el-peru-en-obtener-la-certificacion-iso-37301/' />
<meta name='keywords' content='Poderosa, minera, certificación, estándares, internacionales, Compliance' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Compañía Minera Poderosa: Primera empresa minera en el Perú en obtener la certificación ISO 37301 con los más altos estándares internacionales en Compliance | PODEROSA' />
<meta property='og:description' content='En setiembre del año 2022, junto a la creación del área de Riesgos y Compliance, Poderosa inició el proceso de implementación de los requisitos de la norma ISO 37301: 2021 “Sistema de Gestión Compliance”' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/compania-minera-poderosa-primera-empresa-minera-en-el-peru-en-obtener-la-certificacion-iso-37301/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/compania-minera-poderosa-primera-empresa-minera-en-el-peru-en-obtener-la-certificacion-iso-37301/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <main>

        <section class="pt-4">
            <div class="noticias-banner ">
                <div class="bg-gris-oscuro-4 ">
                    <h1 class=" fuente-3 noticias-banner-texto">
                        "Compañía Minera Poderosa: Primera empresa minera en el Perú en obtener la certificación ISO 37301 con los más altos estándares internacionales en Compliance"

                    </h1>

                </div>
                <div class="noticia-banner-img-xl">

                    <img src="~/Content/noticias/compania-minera-poderosa-primera-empresa-minera-en-el-peru-en-obtener-la-certificacion-iso-37301/banner.jpg" alt="" class="img-fluid">

                </div>
            </div>
            <div class="noticia-container-xl">

                <div class="noticia-container-texto ">

                    <div>
                        <!--                <h2 class="fuente-3 dorado">Representantes de Poderosa solicitan frenar el Reinfo en pro de una minería sostenible.</h2> -->
                        <h6 class="mayuscula mt-4 fuente-3">Pataz, Mayo 31 de 2024</h6>
                    </div>



                    <p>Pataz, mayo 31, 2024. En setiembre del año 2022, junto a la creación del área de Riesgos y Compliance, Poderosa inició el proceso de implementación de los requisitos de la norma ISO 37301: 2021 <strong class="fuente-3">“Sistema de Gestión Compliance”</strong>, con la finalidad de reforzar la cultura de integridad, gestión de riesgos y cumplimiento en nuestra organización. </p>

                    <p>En marzo del 2024, superamos la auditoría externa, realizada por la certificadora internacional BASC Perú a través de su marca Perú Certification; y como resultado de este proceso, obtuvimos la Certificación ISO 37301:2021, convirtiéndonos en la primera compañía minera en el Perú en obtener dicha certificación, consolidando una vez más, nuestro firme compromiso con la ética y transparencia empresarial.</p>

                    <p>Con la obtención de esta certificación, PODEROSA refuerza su compromiso con la integridad y las mejores prácticas internacionales de Compliance, buscando siempre la excelencia organizacional. Compliance es una palabra muy poderosa y representa transparencia, integridad y compromiso con nuestras obligaciones, lo cual se ve reflejado en todos los niveles de nuestra organización. </p>

                    <p>Este logro solo fue posible gracias a cada uno de nuestros trabajadores y al poder del esfuerzo conjunto, motivo por el cual nos sentimos orgullosos. La certificación ISO 37301:2021; vigente desde el 17 de mayo del 2024 hasta el 17 de mayo 2027, estará sujeta a monitoreos permanentes que permitan asegurar el mantenimiento de las condiciones de aplicación sujetas al sistema de gestión de Compliance.</p>
                </div>



                <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-3 img-fluid">
                <!--     <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" alt="" class="contendor-iconos-img-4 img-fluid"> -->






            </div>
            <div class="pt-5">
                <div class="d-flex align-items-center justify-content-center">
                    <p class="me-3">Comparte en:</p>

                </div>
            </div>
            </div>
        </section>



        <section class=" py-5">
            <div class="container">
                <div class="contenedor-noticias py-5">
                    <div class="contenedor-noticias-titulo pb-3">
                        <h1 class="fuente-3">
                            Lo último
                        </h1>
                        <button class="fuente-5 button-ver-mas">
                            Ver más noticias <a href="https://www.poderosa.com.pe/noticias/index" class="icono"><img src="~/Content/img/home/icono.svg" alt="" class="img-fluid"></a>
                        </button>
                    </div>
                    <div class="row  ">
                        <div class="col-12 col-md-6 col-lg-4 mb-5">
                            <a href="https://www.poderosa.com.pe/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal" class="text-decoration-none">
                                <img src="~/Content/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal/resumen.jpg"
                                     alt=""
                                     class="img-fluid contenedor-noticias-img zoom-img">
                                <h5 class="fuente-3 mt-2">
                                    Pablo de la Flor destaca riesgos de la minería ilegal en el XXXV Encuentro Empresarial del Norte
                                </h5>
                            </a>
                            <p class="fuente-4">
                                “Es difícil distinguir entre minería informal e ilegal, ya que el REINFO es disfuncional."
                            </p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-5">
                            <a href="https://www.poderosa.com.pe/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus" class="text-decoration-none">
                                <img src="~/Content/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus/resumen.jpg"
                                     alt=""
                                     class="img-fluid contenedor-noticias-img zoom-img">
                                <h5 class="fuente-3 mt-2">
                                    Trabajo conjunto permite que el Centro Asistencial de Salud de Vijus mejore primer
                                    nivel de atención

                                </h5>
                            </a>
                            <p class="fuente-4">
                                El poder del esfuerzo conjunto hizo posible el mejoramiento del Centro de Salud del anexo de Vijus, distrito de Pataz.
                            </p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-5">
                            <a href="https://www.poderosa.com.pe/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024" class="text-decoration-none">
                                <img src="~/Content/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img">
                                <h5 class="fuente-3 mt-2">
                                    PODEROSA presente en Cumbre Perú Sostenible 2024
                                </h5>
                            </a>
                            <p class="fuente-4">
                                Lima fue sede de la Cumbre Perú Sostenible, el evento más importante del país dedicado a promover la sostenibilidad en todos los sectores
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>