@Html.Partial("~/Views/Shared/_head.cshtml")


<!-- METAS -->
<title>Los CEO más rentables: Ing. Marcelo Santillana es reconocido en el ranking top ten de Semana Económica | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Los CEO más rentables: Ing. Marcelo Santillana es reconocido en el ranking top ten de Semana Económica | PODEROSA' />
<meta name='description' content='El Ing. Marcelo Santillana, Gerente General de PODEROSA,fue reconocido anoche en el evento "Los CEO más rentables", distinción entregada por la revista Semana Económica. El Ing. Santillana fue distinguido con el primer puesto en la categoría Minería y el quinto puesto en el ranking top 25.' />
<meta name='url' content='http://www.poderosa.com.pe/noticias/los-ceo-mas-rentables-ing-marcelo-santillana-es-reconocido-en-el-ranking-top-ten-de-semana-economica/' />
<meta name='keywords' content='Poderosa, CEO más rentables, Semana Económica, Ing. Marcelo Santillana' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Los CEO más rentables: Ing. Marcelo Santillana es reconocido en el ranking top ten de Semana Económica | PODEROSA' />
<meta property='og:description' content='El Ing. Marcelo Santillana, Gerente General de PODEROSA, fue reconocido anoche en el evento "Los CEO más rentables", distinción entregada por la revista Semana Económica. El Ing. Santillana fue distinguido con el primer puesto en la categoría Minería y el quinto puesto en el ranking top 25.' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/los-ceo-mas-rentables-ing-marcelo-santillana-es-reconocido-en-el-ranking-top-ten-de-semana-economica/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/los-ceo-mas-rentables-ing-marcelo-santillana-es-reconocido-en-el-ranking-top-ten-de-semana-economica/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <section class="pt-4">
        <div class="noticias-banner ">
            <div class="bg-gris-oscuro-4 ">
                <h1 class=" fuente-3 noticias-banner-texto">
                    Los CEO más rentables: Ing. Marcelo Santillana es reconocido en el ranking top ten de Semana Económica
                </h1>

            </div>
            <div class="noticia-banner-img-xl">

                <img src="~/Content/noticias/los-ceo-mas-rentables-ing-marcelo-santillana-es-reconocido-en-el-ranking-top-ten-de-semana-economica/banner.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="noticia-container-xl">

            <div class="noticia-container-texto ">

                <div>
                    <!-- <h2 class="fuente-3 dorado">El gobierno regional ha formalizado a más de 3 mil mineros, gracias al apoyo de Compañía Minera Poderosa. Esfuerzo reducirá minería ilegal e impacto ambiental.</h2>
                    -->
                    <h6 class="mayuscula mt-4 fuente-3">27 de Setiembre de 2018</h6>
                </div>


                <p>El Ing. Marcelo Santillana, Gerente General de <strong class="fuente-3">PODEROSA,</strong> fue reconocido anoche en el evento "Los CEO más rentables", distinción entregada por la revista Semana Económica. El Ing. Santillana fue distinguido con el primer puesto en la categoría Minería y el quinto puesto en el ranking top 25.</p>

                <p>A la ceremonia asistió la familia del Ing. Marcelo Santillana, Eva Arias, Presidenta de Directorio, Ing. Walter Sologuren, Jimena Sologuren, Sub Gerente de Responsabilidad Social y Comunicaciones, Ing. Diego Sologuren, Coordinador Ejecutivo de Desarrollo Estratégico, Ing. Fausto Cueva, Gerente de Geología y Exploraciones, Ing. Walter Díaz, Gerente del SIG y RS, Ing. Daniel Torres, Gerente de Operaciones, José Elejalde, Gerente de Administración y Finanzas y Comercialización, miembros del Directorio y colaboradores de <strong class="fuente-3">PODEROSA.</strong></p>

                <p>Este evento se realizó en el JW Marriott de Miraflores a las 7:30 p.m. donde asistieron CEO de importantes empresas del&lt; país y representantes del ámbito empresarial.</p>

                <h5 class="dorado fuente-3">Dato</h5>
                <p>El ranking de Semana Económica "Los CEO más rentables", que llega a la tercera edición (2014, 2016 y 2018), reconoce a los CEO más importantes del Perú, cuyo trabajo ha hecho que sus empresas logren el mejor desempeño financiero en los últimos años.</p>

                <p>El ranking reconoce la gestión y liderazgo de los CEO que han hecho posible el crecimiento de sus empresas para convertirlas en líderes de su sector, y agregar mayor valor para sus accionistas.</p>

                <p>Las categorías premiadas son: Banca y Finanzas, Industrial, Construcción, Minería, Crecimiento Eficiente, la CEO más rentable, el CEO rentable más joven y desarrollo sostenible, y el premio el CEO más rentable.</p>

            </div>



            <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-3 img-fluid">
            <!--     <img src="imagenes/pagina-interna/forma-dorada-transparente.png" alt="" class="contendor-iconos-img-4 img-fluid"> -->



            <div class="noticia-container-texto">
                <!--
                            <div class="pt-5">
                               <img class="img-fluid" src="~/Content/noticias/equipo-de-geomecanica-pasa-con-exito-fiscalizacion-tecnica/01.jpg" alt="imagen">
                           </div> -->
                <!--
                   <section class="position-relative pt-5">
                            <div class="container-custom2">
                               <div class="row ">

                                  <div class="col-12  col-xxl-12">
                                     <div id="carousel-items" class="carousel slide">
                                       <div class="carousel-inner">
                                         <div class="carousel-item active">
                                           <div class="row">
                                              <div class="col-12 col-sm-6 mb-3">
                                                 <img src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/01.jpg" class="img-fluid" alt="...">
                                              </div>
                                              <div class="col-12 col-sm-6">
                                                 <img src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/02.jpg" class="img-fluid" alt="...">
                                              </div>
                                           </div>
                                         </div>
                                         <div class="carousel-item">
                                           <div class="row">
                                              <div class="col-12 col-sm-6 mb-3">
                                                 <img src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/03.jpg" class="img-fluid" alt="...">
                                              </div>
                                              <div class="col-12 col-sm-6 mb-3">
                                                 <img src="~/Content/noticias/yo-innovo-por-el-peru-concytec-reconoce-proyecto-innovador/01.jpg" class="img-fluid" alt="...">
                                              </div>

                                           </div>
                                         </div>



                                       </div>
                                       <div class="d-flex pt-4 pt-sm-0 pb-4 justify-content-center">
                                       <button class="carousel-control-prev" type="button" data-bs-target="#carousel-items" data-bs-slide="prev">
                                         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                         <span class="visually-hidden">Previous</span>
                                       </button>
                                       <button class="carousel-control-next" type="button" data-bs-target="#carousel-items" data-bs-slide="next">
                                         <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                         <span class="visually-hidden">Next</span>
                                       </button>
                                      </div>
                                     </div>
                                  </div>
                               </div>
                           </div>
                         </section>
                 -->



            </div>
            <div class="pt-5">
                <div class="d-flex align-items-center justify-content-center">
                    <p class="me-3">Comparte en:</p>

                </div>
            </div>
        </div>
    </section>




    <section class=" py-5">
        <div class="container">
            <div class="contenedor-noticias py-5">
                <div class="contenedor-noticias-titulo pb-3">
                    <h1 class="fuente-3">
                        Lo último
                    </h1>
                    <button class="fuente-5 button-ver-mas">
                        Ver más noticias <a href="https://www.poderosa.com.pe/noticias/index" class="icono"><img src="~/Content/img/home/icono.svg" alt="" class="img-fluid"></a>
                    </button>
                </div>
                <div class="row  ">
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www.poderosa.com.pe/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal" class="text-decoration-none">
                            <img src="~/Content/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Pablo de la Flor destaca riesgos de la minería ilegal en el XXXV Encuentro Empresarial del Norte
                            </h5>
                        </a>
                        <p class="fuente-4">
                            “Es difícil distinguir entre minería informal e ilegal, ya que el REINFO es disfuncional."
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www.poderosa.com.pe/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus" class="text-decoration-none">
                            <img src="~/Content/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Trabajo conjunto permite que el Centro Asistencial de Salud de Vijus mejore primer
                                nivel de atención

                            </h5>
                        </a>
                        <p class="fuente-4">
                            El poder del esfuerzo conjunto hizo posible el mejoramiento del Centro de Salud del anexo de Vijus, distrito de Pataz.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www.poderosa.com.pe/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024" class="text-decoration-none">
                            <img src="~/Content/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                PODEROSA presente en Cumbre Perú Sostenible 2024
                            </h5>
                        </a>
                        <p class="fuente-4">
                            Lima fue sede de la Cumbre Perú Sostenible, el evento más importante del país dedicado a promover la sostenibilidad en todos los sectores
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>