@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Mineros ilegales dinamitan otra torre de alta tension | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Segundo atentado contra Poderosa en menos de una semana | PODEROSA' />
<meta name='description' content='La madrugada del domingo 12 de enero de 2025, Compañía Minera Poderosa fue víctima de un nuevo atentado a manos de mineros ilegales coludidos con grupos criminales.' />
<meta name='url' content='https://www.poderosa.com.pe/noticias/mineros-ilegales-dinamitan-otra-torre-de-alta-tension' />
<meta name='keywords' content='Poderosa, Minería, atentado, dinamitan, torre, tensión' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Minera Poderosa sufre nuevo atentado | PODEROSA' />
<meta property='og:description' content='La madrugada del domingo 12 de enero de 2025, Compañía Minera Poderosa fue víctima de un nuevo atentado a manos de mineros ilegales coludidos con grupos criminales.' />
<meta property='og:url' content='https://www.poderosa.com.pe/noticias/mineros-ilegales-dinamitan-otra-torre-de-alta-tension' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/noticias/mineros-ilegales-dinamitan-otra-torre-de-alta-tension/banner.png' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="noticias-banner">
            <div class="bg-gris-oscuro-4">
                <h1 class="fuente-3 noticias-banner-texto">
                    Mineros ilegales dinamitan otra torre de alta tensión
                </h1>
            </div>
            <div class="noticia-banner-img">
                <img src="~/Content/noticias/minera-poderosa-sufre-nuevo-atentado/banner.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="noticia-container">
            <div class="noticia-container-texto">
                <div>
                    <h2 class="dorado fuente-3 ">Descripción</h2>
                    <h6 class="mayuscula mt-4 fuente-3">16 de Enero de 2025</h6>
                </div>

                <h5 class="dorado">
                    Segundo atentado contra Poderosa en menos de una semana
                </h5>

                <p>
                    Esta madrugada, mineros ilegales destruyeron con cuatro cargas de dinamita otra torre de alta tensión
                    en las inmediaciones de la bocamina Atahualpa, dejando sin fluido eléctrico el sector Cedro y la Unidad
                    Productiva Santa María de Compañía Minera Poderosa. Inmediatamente se pudo activar el plan de
                    emergencia para reponer parcialmente el suministro eléctrico a las operaciones mientras se reemplaza
                    la torre afectada.
                </p>

                <p>
                    Se trata del segundo atentado contra la empresa en menos de cuatro días y la decimosexta (16) torre
                    de alta tensión siniestrada por los ilegales en los últimos tres años. A ello hay que sumar la lamentable
                    pérdida de la vida de 18 colaboradores, víctimas de los ataques de mineros ilegales contra nuestras
                    operaciones.
                </p>

                <p>
                    Como señalamos en un anterior comunicado, la escalada destructiva desatada por los mineros ilegales
                    se da a pesar de la vigencia del Estado de Emergencia y la presencia de más de 200 efectivos policiales
                    y personal del ejército en Pataz.
                </p>

                <p>
                    Al constante asedio que viene padeciendo Poderosa por parte de estos grupos criminales hay que
                    sumar el espiral de enfrentamientos violentos que se vienen produciendo entre los propios mineros
                    ilegales por el control territorial de la zona, con terribles consecuencias. Recordemos que el último
                    noviembre la PNP descubrió una fosa común con al menos 16 cuerpos que, según reportes policiales.
                </p>

                <p>
                    El deterioro de las condiciones de seguridad y la actuación impune de los mineros ilegales en la zona
                    exige una respuesta contundente y coherente del Estado. Esta debe involucrar un mejor trabajo de
                    inteligencia y la creación de una unidad de flagrancia, además del recientemente anunciado Frente
                    Policial por el Premier Gustavo Adrianzen. Este frente es urgente de concretar para que el Estado de
                    Emergencia pueda ser más efectivo.
                </p>

                <p>
                    El Ministerio Público (MP) no cuenta con una oficina en Pataz para atender estos casos, debiendo los
                    fiscales movilizarse desde Huamachuco, a seis horas de distancia. Urge resolver esta falencia y
                    apuntalar las coordinaciones del MP y el Poder Judicial para combatir la minería ilegal.
                </p>

                <p>
                    También le corresponde una enorme responsabilidad al Congreso de la República que, en diciembre
                    pasado, amplió nuevamente el REINFO, registro que los mineros ilegales utilizan para seguir operando
                    con total impunidad.
                </p>

                <p>
                    En la actualidad hay 25 zonas de nuestras operaciones tomadas por mineros ilegales, de donde hemos
                    tenido que replegarnos para proteger la integridad física y seguridad de los trabajadores. Igualmente,
                    operan en la zona más de 40 plantas ilegales de procesamiento aurífero perfectamente identificadas y
                    georreferenciadas. A ello hay que agregar el trasiego de mineral extraído ilegalmente y que es
                    trasladado a distintas plantas formales en la costa.
                </p>

                <p>
                    Lamentablemente, nuestros reiterados requerimientos a la PNP para que desaloje a los ilegales de las
                    galerías en las que invade e intervenga las plantas que procesan el mineral ilícito no han sido
                    atendidos.
                </p>
                <p class="text-right mb-2"><strong>COMPAÑÍA MINERA PODEROSA S.A.</strong></p>
                <p class="text-right">Pataz, 16 de enero de 2025</p>
                <div class="d-flex justify-content-center mt-5">
                    <div class="d-flex align-items-center gap-2">
                        <p class="mb-2 text-center">Comparte en:</p>
                        @Html.Partial("~/Views/Shared/_redes.cshtml")
                    </div>
                </div>
                <br>
            </div>
        </div>
    </section>

    <section class=" py-5">
        <div class="container">
            <div class="contenedor-noticias py-5">
                <div class="contenedor-noticias-titulo pb-3">
                    <h1 class="fuente-3">
                        Lo último
                    </h1>
                    <button class="fuente-5 button-ver-mas">
                        Ver más noticias <a href="https://www.poderosa.com.pe/noticias/index" class="icono"><img src="~/Content/img/home/icono.svg" alt="" class="img-fluid"></a>
                    </button>
                </div>
                <div class="row  ">
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www.poderosa.com.pe/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal" class="text-decoration-none">
                            <img src="~/Content/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Pablo de la Flor destaca riesgos de la minería ilegal en el XXXV Encuentro Empresarial del Norte
                            </h5>
                        </a>
                        <p class="fuente-4">
                            “Es difícil distinguir entre minería informal e ilegal, ya que el REINFO es disfuncional."
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www.poderosa.com.pe/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus" class="text-decoration-none">
                            <img src="~/Content/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Trabajo conjunto permite que el Centro Asistencial de Salud de Vijus mejore primer
                                nivel de atención

                            </h5>
                        </a>
                        <p class="fuente-4">
                            El poder del esfuerzo conjunto hizo posible el mejoramiento del Centro de Salud del anexo de Vijus, distrito de Pataz.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www.poderosa.com.pe/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024" class="text-decoration-none">
                            <img src="~/Content/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                PODEROSA presente en Cumbre Perú Sostenible 2024
                            </h5>
                        </a>
                        <p class="fuente-4">
                            Lima fue sede de la Cumbre Perú Sostenible, el evento más importante del país dedicado a promover la sostenibilidad en todos los sectores
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
