@Html.Partial("~/Views/Shared/_head.cshtml")



<!-- METAS -->
<title>PODEROSA concluye con éxito primer seguimiento de certificación de las Normas ISO 9001, 14001 y 45001 | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='PODEROSA concluye con éxito primer seguimiento de certificación de las Normas ISO 9001, 14001 y 45001 | PODEROSA' />
<meta name='description' content='PODEROSA mantiene la certificación de las normas ISO 9001, 14001 y 45001 luego de la auditoría externa del primer seguimiento de certificación, realizada por la empresa certificadora SGS Perú.' />
<meta name='url' content='http://www.poderosa.com.pe/noticias/poderosa-concluye-con-exito-primer-seguimiento/' />
<meta name='keywords' content='Poderosa, primer seguimiento, certificacion, normas' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='PODEROSA concluye con éxito primer seguimiento de certificación de las Normas ISO 9001, 14001 y 45001 | PODEROSA' />
<meta property='og:description' content='PODEROSA mantiene la certificación de las normas ISO 9001, 14001 y 45001 luego de la auditoría externa del primer seguimiento de certificación, realizada por la empresa certificadora SGS Perú.' />
<meta property='og:url' content='http://www.poderosa.com.pe/noticias/poderosa-concluye-con-exito-primer-seguimiento/' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/noticias/poderosa-concluye-con-exito-primer-seguimiento/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="noticias-banner ">
            <div class="bg-gris-oscuro-4 ">
                <h1 class=" fuente-3 noticias-banner-texto">PODEROSA concluye con éxito primer seguimiento de certificación de las Normas ISO 9001, 14001 y 45001</h1>


            </div>
            <div class="noticia-banner-img-xl">

                <img src="~/Content/noticias/poderosa-concluye-con-exito-primer-seguimiento/banner.jpg" alt="" class="img-fluid">

            </div>
        </div>
        <div class="noticia-container-xl">

            <div class="noticia-container-texto ">

                <div>
                    <!--  <h2 class="fuente-3 dorado">Jimena Sologuren recibe reconocimiento por su labor a favor de la minería sostenible</h2>   -->

                    <h6 class="mayuscula mt-4 fuente-3">16 de Febrero de 2022</h6>
                </div>

                <p>
                    Pataz, febrero 16, 2022. PODEROSA mantiene la certificación de las normas ISO 9001, 14001 y
                    45001 luego de la auditoría externa del primer seguimiento de certificación, realizada por la
                    empresa certificadora SGS Perú, quienes recomiendan la continuidad de la certificación luego
                    de comprobar la conformidad de las normas, efectividad del proceso y la mejora continua de
                    nuestra empresa.
                </p>

                <p>
                    El equipo auditor estuvo conformado por Denis Hilario auditor (líder), Cecilia García, José Luis
                    Loayza, Gina Espinoza, Paul Carrillo y José Flores. La auditoría se realizó del 8 al 10 de febrero.
                </p>

                <p>
                    En el cierre de la auditoría el equipo auditor resaltó que el Sistema Integrado de Gestión de
                    PODEROSA muestra su madurez destacando sus fortalezas y no haber encontrado un hallazgo
                    crítico, solo una no conformidad menor al cual se debe atender un plan de acción para
                    implementar y ser revisado en la próxima auditoría.
                </p>

                <p>
                    El Ing. Marcelo Santillana, Gerente General, felicitó al equipo PODEROSA por el trabajo
                    realizado por mantener la certificación.
                </p>

                <p>
                    Esta auditoría externa se realizó de manera remota vía Microsoft Teams, teléfono, revisión de
                    documentos y registros on line, WhatsApp y correo electrónico. Observación de actividades/
                    Instalaciones a través de la cámara web del cliente (WhatsApp).
                </p>

                <p>
                    Participaron en el inicio y cierre de la auditoría externa la Alta Gerencia, superintendentes,
                    jefaturas y colaboradores de los distintos procesos.
                </p>
            </div>



            <img src="i~/Content/img/forma-gris-transparente.png" alt="" class="contendor-iconos-img-3 img-fluid">
            <!--     <img src="imagenes/pagina-interna/forma-dorada-transparente.png" alt="" class="contendor-iconos-img-4 img-fluid"> -->





            <div class="noticia-container-texto">

            </div>

            <!--     <div class="pt-5 text-center">
                           <img class="img-fluid" src="/~/Content/noticias/premio-a-la-innovacion-tecnologica-2021-proyecto-sustentable-y-ecologico/01.jpg" alt="imagen">
                       </div> -->

            <section class="position-relative pt-5">
                <div class="container-custom2">
                    <div class="row ">

                        <div class="col-12  col-xxl-12">
                            <div id="carousel-items" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 mb-3">
                                                <img src="~/Content/noticias/poderosa-concluye-con-exito-primer-seguimiento/01.jpg" class="img-fluid" alt="...">
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <img src="~/Content/noticias/poderosa-concluye-con-exito-primer-seguimiento/02.jpg" class="img-fluid" alt="...">
                                            </div>
                                        </div>
                                    </div>





                                </div>
                                <div class="d-flex pt-4 pt-sm-0 pb-4 justify-content-center">
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-items" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-items" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>
        <div class="pt-5">
            <div class="d-flex align-items-center justify-content-center">
                <p class="me-3">Comparte en:</p>

            </div>
        </div>
        </div>
    </section>




    <section class=" py-5">
        <div class="container">
            <div class="contenedor-noticias py-5">
                <div class="contenedor-noticias-titulo pb-3">
                    <h1 class="fuente-3">
                        Lo último
                    </h1>
                    <button class="fuente-5 button-ver-mas">
                        Ver más noticias <a href="https://www.poderosa.com.pe/noticias/index" class="icono"><img src="~/Content/img/home/icono.svg" alt="" class="img-fluid"></a>
                    </button>
                </div>
                <div class="row  ">
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www.poderosa.com.pe/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal" class="text-decoration-none">
                            <img src="~/Content/noticias/pablo-de-la-flor-destaca-riesgos-de-la-mineria-ilegal/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Pablo de la Flor destaca riesgos de la minería ilegal en el XXXV Encuentro Empresarial del Norte
                            </h5>
                        </a>
                        <p class="fuente-4">
                            “Es difícil distinguir entre minería informal e ilegal, ya que el REINFO es disfuncional."
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www.poderosa.com.pe/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus" class="text-decoration-none">
                            <img src="~/Content/noticias/trabajo-conjunto-permite-que-el-centro-asistencial-de-salud-de-vijus/resumen.jpg"
                                 alt=""
                                 class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                Trabajo conjunto permite que el Centro Asistencial de Salud de Vijus mejore primer
                                nivel de atención

                            </h5>
                        </a>
                        <p class="fuente-4">
                            El poder del esfuerzo conjunto hizo posible el mejoramiento del Centro de Salud del anexo de Vijus, distrito de Pataz.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5">
                        <a href="https://www.poderosa.com.pe/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024" class="text-decoration-none">
                            <img src="~/Content/noticias/poderosa-presente-en-cumbre-peru-sostenible-2024/resumen.jpg" alt="" class="img-fluid contenedor-noticias-img zoom-img">
                            <h5 class="fuente-3 mt-2">
                                PODEROSA presente en Cumbre Perú Sostenible 2024
                            </h5>
                        </a>
                        <p class="fuente-4">
                            Lima fue sede de la Cumbre Perú Sostenible, el evento más importante del país dedicado a promover la sostenibilidad en todos los sectores
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>