/* #################################################################################################### */
/* FUENTES */
/* #################################################################################################### */

/* -------------------------------------------------- */
/* MuseoSans */
/* -------------------------------------------------- */
@font-face {
    font-family: 'MuseoSans-300';
    src: url('../fonts/MuseoSans-300.woff2') format('woff2'),
        url('../fonts/MuseoSans-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo900-Regular';
    src: url('../fonts/Museo900-Regular.woff2') format('woff2'),
        url('../fonts/Museo900-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
/* -------------------------------------------------- */

/* #################################################################################################### */
