proyecto_poderosa_documento/Content/planner/trabajo-en-equipo/trabajo-en-equipo.mp4 filter=lfs diff=lfs merge=lfs -text
proyecto_poderosa_documento/Content/descargas/batolito-comunitario/60-BatolitoComunitario.pdf filter=lfs diff=lfs merge=lfs -text
