@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/02-gestion-ambiental/compromiso-cero-emisiones/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/02-gestion-ambiental/compromiso-cero-emisiones/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/02-gestion-ambiental/compromiso-cero-emisiones/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Gestión Ambiental</h3>
                <h1 class="bannerInterno__titulo fuente-3">Compromiso Cero Emisiones</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>

    <section class=" py-5">
    <div class="container mt-5">
        <div class="contenedor-tres-filas">
            <div class=" text-center">
                <div class="row ">
                    <div class="col-lg-6 contenedor-tres-filas__img">
                        <img src="~/Content/img/04-sostenibilidad/04-02-gestion-ambiental/04-02-05-compromiso-cero-emisiones/02.jpg" alt="" class="img-fluid ">
                    </div>
                    <div class="col-lg-6">
                        <div class="contenedor-tres-filas__texto">
                            <div><img src="~/Content/img/proveedores/ico-01.png" alt="" class="px-4"></div>
                            <p class=" fuente-4">
                                Aspiramos a ser la primera minera aurífera
                                Carbono Cero del país. Estamos
                                comprometidos en alcanzar cero emisiones
                                para el 2030 y lograr la neutralidad de
                                carbono en 2040.
                            </p>
                        </div>
                        <div class="contenedor-tres-filas__texto">
                            <div><img src="~/Content/img/proveedores/ico-01.png" alt="" class="px-4"></div>
                            <p class=" fuente-4">
                                Asumimos la responsabilidad de este
                                cambio, promoviendo prácticas
                                responsables en todas nuestras
                                operaciones para que generaciones
                                actuales y futuras disfruten de una vida
                                mejor.
                            </p>
                        </div>
                        <div class="contenedor-tres-filas__texto">
                            <div><img src="~/Content/img/proveedores/ico-01.png" alt="" class="px-4"></div>
                            <p class=" fuente-4">
                                Hemos implementado un plan energético y
                                ambiental que incluye proyectos de energía
                                renovable, fortalecimiento de
                                infraestructura eléctrica, descarbonización
                                del transporte, proveedores sostenibles,
                                iniciativas de economía circular y proyectos
                                de forestación.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
