@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>

    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/02-gestion-ambiental/nuestro-aporte/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/02-gestion-ambiental/nuestro-aporte/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/02-gestion-ambiental/nuestro-aporte/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Gestión Ambiental</h3>
                <h1 class="bannerInterno__titulo-largo fuente-3"> Nuestro Aporte</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>

    <section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="imagenes/pagina-interna/iconos-circulos.png" alt="">
                    <h1 class="fuente-3 dorado">
                        Uso responsable del agua
                    </h1>
                </div>
                <div class="col-lg-6 contenedor-tres-filas__img">
                    <br>
                    <img src="~/Content/img/04-sostenibilidad/04-02-gestion-ambiental/04-02-06-nuestro-aporte/02.jpg" alt="" class="img-fluid rounded-80">
                </div>

                <div class="col-lg-6 ">
                    <div class="contenedor-lista">
                        <br>
                        <p>
                            La conservación del agua es esencial para asegurar todas nuestras
                            operaciones. Por ello, contemplamos el uso eficiente recirculando y
                            reutilizando el agua para reducir el consumo de agua fresca.
                            Utilizamos tecnología avanzada para tratar agua de consumo,
                            residual e industrial, de esta manera garantizamos su calidad.
                        </p>
                    </div>
                    <div class="d-flex align-items-center my-3">
                        <img src="~/Content/img/01-quienes-somos/nuestra-historia/icono-handshake.png" alt="Apretón de manos" class="img-fluid me-2 w-25">
                        <p class="mb-0">
                            En el año 2023, obtuvimos el Certificado Azul
                            del programa Huella Hídrica del ANA, con
                            nuestro proyecto de reducción del uso de
                            agua y la implementación de un sistema de
                            micromedición en el anexo de Vijus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class=" py-5">
                <div class="contenedor-tres-filas">
                    <div class="row py-4">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="contenedor-mostaza ">
            <div class="row">
                <div class="col-lg-6 ">
                    <img src="~/Content/img/04-sostenibilidad/04-02-gestion-ambiental/04-02-06-nuestro-aporte/03.jpg" alt="" class="img-fluid h-100">
                </div>
                <div class="col-lg-6 ">
                    <div class="contenedor-mostaza_der">
                        <div class="row  ">
                            <div class="d-flex justify-content-start align-items-start">
                                <div class="contenedor-mostaza_text">
                                    <h1 class="fuente-3">Manejo de residuos</h1>
                                    <p class="fuente-4">
                                        Nuestra gestión de residuos es manejada de acuerdo con la normativa
                                        ambiental y nuestra política corporativa, priorizando la economía circular y el
                                        reciclaje. Trabajamos bajo el enfoque de las 10 Rs: reordenar, reformular, reducir,
                                        reutilizar, refabricar, reciclar, revalorizar energéticamente, rediseñar,
                                        recompensar y renovar.
                                        De esta manera, el ciclo de vida de los productos se extiende y el impacto
                                        ambiental se reduce promoviendo así la sostenibilidad en nuestras operaciones.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="contenedor-lista">
                        <br>
                        <h1 class="fuente-3 dorado">Monitoreo Ambiental</h1>
                        <p>
                            Nuestra gestión ambiental es transparente. Realizamos
                            periódicamente de manera conjunta un monitoreo participativo
                            con autoridades locales que nos permite realizar un seguimiento
                            oportuno a nuestros compromisos ambientales midiendo los
                            componentes de aire, agua, suelo y ruidos.Esta información es
                            importante para mejorar los planes de manejo ambiental,
                            especialmente en lo que se refiere a la gestión del agua.
                        </p>
                    </div>
                    <div class="d-flex align-items-center my-3">
                        <img src="~/Content/img/01-quienes-somos/nuestra-historia/icono-handshake.png" alt="Apretón de manos" class="img-fluid me-2 w-25">
                        <p class="mb-0">
                            Adicionalmente ejecutamos análisis
                            diarios, en base a estos indicadores se
                            planifican y ejecutan acciones correctivas
                            de mitigación cuando es necesario para
                            asegurar la protección del medio
                            ambiente.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 contenedor-tres-filas__img">
                    <br>
                    <img src="~/Content/img/04-sostenibilidad/04-02-gestion-ambiental/04-02-06-nuestro-aporte/05.jpg" alt="" class="img-fluid rounded-80">
                </div>
            </div>
    </section>

    <section>
        <div class="container">
            <div class=" py-5">
                <div class="contenedor-tres-filas">
                    <div class="row py-4">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dorado-claro-1 py-5 ">
        <div class="container py-3">
            <div class="row">
                <div class=" col-lg-6">
                    <img src="~/Content/img/04-sostenibilidad/04-02-gestion-ambiental/04-02-06-nuestro-aporte/06.jpg" alt="" class="img-fluid h-100 w-100 rounded-right-100">
                </div>
                <div class=" col-lg-6   contenedor-lista py-5 py-lg-0">
                    <img src="imagenes/pagina-interna/iconos-circulos.png" alt="">
                    <h2 class="fuente-3 dorado mt-3">Forestación</h2>
                    <ul class="fuente-4">
                        <li class="pb-2 ">
                            Una muestra de nuestro compromiso con las comunidades
                            aledañas de nuestra área de influencia es que desde 1986,
                            Poderosa viene realizado un plan de forestación integral con la
                            finalidad de proteger el ecosistema y prevenir la erosión.
                        </li>
                        <br>
                        <li class="pb-2 ">
                            Mantenemos 5,568 hectáreas con más de 6.8 millones de
                            árboles, en las variedades como: eucalipto, pino y cedro.
                        </li>
                        <br>
                        <li class="pb-2 ">
                            Recientemente con el apoyo de la comunidad se ha plantado
                            100,000 árboles en el anexo de Suyubamba. De esta manera,
                            promovemos el desarrollo sostenible como parte de nuestra
                            responsabilidad socioambiental.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="position-relative py-5">
        <div class="container-custom2">
            <div class="row g-0">
                <div class="offset-xxl-1  col-12  col-xxl-3 d-flex flex-column pb-4 pe-xxl-5">
                    <h3 class="fuente-3 gris-oscuro">Cierre de Minas</h3>
                    <p class="fuente-4 gris-oscuro">
                        Garantizamos una transición segura de los
                        componentes mineros al final de su vida útil, mediante
                        la implementación de un Plan de Cierre Progresivo. Los
                        trabajos de movimientos de tierra, rehabilitación y
                        revegetación de suelos se realizan paralelamente a la
                        operación minera y se ejecutan durante la vida útil de
                        la mina de acuerdo con la normativa legal
                        vigente.Aplicamos responsablemente las mejores
                        prácticas en gestión ambiental protegiendo el medio
                        ambiente y dejando el lugar donde operamos en
                        condiciones sostenibles.
                    </p>
                </div>

                <div class="col-12  col-xxl-8">
                    <div id="carousel-items" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/04-sostenibilidad/04-02-gestion-ambiental/04-02-06-nuestro-aporte/carrusel-01.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/04-sostenibilidad/04-02-gestion-ambiental/04-02-06-nuestro-aporte/carrusel-02.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/04-sostenibilidad/04-02-gestion-ambiental/04-02-06-nuestro-aporte/carrusel-03.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/04-sostenibilidad/04-02-gestion-ambiental/04-02-06-nuestro-aporte/carrusel-04.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex pt-4 pt-sm-0 pb-4">
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-items" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-items" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
