@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>

    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <section class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/02-operaciones/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/02-operaciones/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/02-operaciones/02-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h1 class="bannerInterno__titulo fuente-3">
                    Operaciones
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>

    <section class=" py-5">
        <div class="contendor-iconos py-0 py-lg-5 d-flex align-items-center">
            <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-1 img-fluid">
            <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-2 img-fluid" 4="">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-4 fuente-4 text-start ">
                        <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="">
                        <h2 class="fuente-3 dorado pt-3">Gestión Estratégica</h2>
                        <p>
                            Optimizar nuestros procesos es una parte integral de nuestra misión de transformar nuestros recursos minerales de manera responsable en oportunidades de desarrollo. Esta misión cobra mayor relevancia cuando se alinea con nuestra visión, principios, políticas, planes y estrategias.
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="~/Content/img/02-operaciones/03-index/02.jpg" alt="" class="img-fluid rounded-80">
                    </div>
                    <div class="col-sm-4 fuente-4 text-start">

                        <img src="~/Content/img/01-quienes-somos/nuestra-historia/icono-handshake.png" alt="" class="img-fluid me-3 w-25">
                        <p>Gestionamos nuestras operaciones con responsabilidad, implementando gradualmente tecnologías y procesos automatizados para obtener beneficios inmediatos. Al mismo tiempo mantenemos un enfoque continuo en la gestión de activos y la mejora constante a través de proyectos que aseguran una eficiencia operacional sostenible a lo largo del tiempo. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="contenedor-mostaza ">
            <div class="row">
                <div class="col-lg-6 ">
                    <img src="~/Content/img/02-operaciones/03-index/03.jpg" alt="" class="img-fluid h-100">
                </div>
                <div class="col-lg-6 ">
                    <div class="contenedor-mostaza_der">
                        <div class="row  ">
                            <div class="col-lg-5 d-flex justify-content-center align-items-center mb-3 mb-lg-0">
                                <img src="~/Content/img/02-operaciones/03-index/04.png" alt="" class="img-fluid ">
                            </div>
                            <div class="col-lg-7 d-flex justify-content-center align-items-center">
                                <div class="contenedor-mostaza_text">
                                    <h2 class="fuente-3">Exploraciones Y Proyectos</h2>
                                    <p class="fuente-4">
                                        Contamos con un procedimiento que marca los lineamientos de nuestros subprocesos y actividades para la Obtención de Recursos Minerales (ORM), dirigidos a identificar las zonas que alberguen recursos minerales, modelar su geometría y estimar su contenido fino de oro, que bajo ciertos criterios de evaluación se puedan extraer económicamente.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="position-relative py-5">
        <div class="container-custom2 pt-5">
            <div class="row g-0">
                <div class="offset-xxl-1  col-12  col-xxl-3 d-flex flex-column pb-4 pe-xxl-5">
                    <h2 class="fuente-3">Geología</h2>
                    <p class="fuente-4 gris-oscuro">Tenemos el objetivo de incrementar los recursos y las reservas minerales de manera sostenible para garantizar la vida útil de la mina y la continuidad de sus operaciones a corto, mediano y largo plazo, en el contexto de una cultura de desarrollo sostenible, teniendo en cuenta la seguridad, el cuidado al medio ambiente y una buena relación con las comunidades del entorno</p>
                </div>

                <div class="col-12  col-xxl-8">
                    <div id="carousel-items" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/02-operaciones/03-index/carrusel-01.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/02-operaciones/03-index/carrusel-02.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/02-operaciones/03-index/carrusel-03.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/02-operaciones/03-index/carrusel-04.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex pt-4 pt-sm-0 pb-4">
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-items" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-items" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dorado-claro-1 ">
        <div class="container py-5 ">
            <div class="contenedor-tres-filas py-5">
                <div class=" text-center">
                    <div class="row ">

                        <div class="col-lg-6">
                            <h2 class="fuente-3 dorado text-start">Minado</h2>
                            <p class="text-start">Debido a las características de nuestro yacimiento la explotación se realiza utilizando una combinación de métodos convencionales (con rieles) y métodos sin rieles (trackless).  Limpiamos los tajos y subniveles con winches eléctricos de rastrillaje, acumulando mineral en cámaras, desde donde se extrae con equipos trackless de bajo perfil o en tolvas que descargan en carros mineros.</p>
                            <div class="contenedor-tres-filas__texto pb-3">
                                <div><img src="~/Content/img/04-sostenibilidad/04-04-cumplimiento/04-04-01-gestion-de-cumplimiento/icon-02.png" alt="" class="px-4"></div>
                                <div>
                                    <p class="fuente-4">
                                        Para el sostenimiento de la mina, empleamos pernos de anclaje, malla electrosoldada, cuadros de madera, cimbras de acero y concreto lanzado, según las características geomecánicas del macizo rocoso. Estas medidas se aplican en labores de exploración, desarrollo y explotación.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <img src="~/Content/img/02-operaciones/03-index/05.jpg" alt="" class="img-fluid  rounded-right-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class=" py-5">
        <div class="container py-5">
            <div class="contenedor-tres-filas">
                <div class=" text-center">
                    <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="">
                    <h2 class="fuente-3 dorado py-3">
                        Procesamiento De Mineral
                    </h2>
                    <div class="row ">
                        <div class="col-lg-6 ">
                            <img src="~/Content/img/02-operaciones/03-index/06.jpg" alt="" class="img-fluid rounded-right-100">
                        </div>
                        <div class="col-lg-6">
                            <p class="text-start">Buscamos obtener la máxima recuperación de oro desde el mineral, empleando eficientemente los recursos en las plantas de procesamiento.  En planta Marañón y planta Santa María, recuperamos el oro mediante un proceso de lixiviación con cianuro, también conocido como cianuración directa. La capacidad total de tratamiento de ambas plantas es de 980 toneladas diarias.</p>
                            <div class="contenedor-tres-filas__texto pb-3">

                                <div><img src="~/Content/img/proveedores/ico-03.png" alt="" class="px-4"></div>
                                <p class=" fuente-4">
                                    Las recuperaciones en nuestras plantas superan el 92%. Los residuos generados se almacenan en canchas de relave, donde controlamos todos los efluentes para evitar la contaminación.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="contenedor-mostaza ">
            <div class="row">
                <div class="col-lg-6 ">
                    <img src="~/Content/img/02-operaciones/03-index/07.jpg" alt="" class="img-fluid h-100">
                </div>
                <div class="col-lg-6 ">
                    <div class="contenedor-mostaza_der">
                        <div class="row  ">
                            <div class="col-lg-5 d-flex justify-content-center align-items-center mb-3 mb-lg-0">
                                <img src="~/Content/img/02-operaciones/03-index/08.png" alt="" class="img-fluid ">
                            </div>
                            <div class="col-lg-7 d-flex justify-content-center align-items-center">
                                <div class="contenedor-mostaza_text">
                                    <h2 class="fuente-3">Comercialización</h2>
                                    <p class="fuente-4">
                                        Nuestra producción total de barras doré las exportamos y se venden a uno de los principales compradores de oro a nivel mundial.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
