@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>

    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")

        <section class="pt-4">
            <div class="bannerInterno__contenedor">
                <img src="~/Content/img/cabeceras/02-operaciones/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
                <img src="~/Content/img/cabeceras/02-operaciones/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
                <img src="~/Content/img/cabeceras/02-operaciones/02-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
                <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
                <div class="bannerInterno__texto">
                    <h3 class="bannerInterno__indice fuente-5">Operaciones</h3>
                    <h1 class="bannerInterno__titulo fuente-3">
                        Procesos
                    </h1>
                </div>
                <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
            </div>
        </section>

        <section class="py-5">
            <div class="contendor-iconos py-5 d-flex align-items-center">
                <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-1 img-fluid">
                <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-2 img-fluid">
                <div class="container">
                    <div class="row ">

                        <div class="col-lg-6  pt-5 pt-lg-0 pb-5">
                            <img src="~/Content/img/02-operaciones/02-procesos/01.jpg" alt="" class="img-fluid  rounded-80">
                        </div>

                        <div class="col-lg-5">
                            <div class="text-start ">
                                <h1 class="fuente-3 dorado text-start pb-4">
                                    Geología
                                </h1>
                                <p class="fuente-4">Tenemos el objetivo de incrementar los recursos y las reservas minerales de manera sostenible para garantizar la vida útil de la mina y la continuidad de sus operaciones a corto, mediano y largo plazo, en el contexto de una cultura de desarrollo sostenible, teniendo en cuenta la seguridad, el cuidado al medio ambiente y una buena relación con las comunidades del entorno</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-dorado-claro-1 py-5">
            <div class=" container py-0 py-lg-5">
                <div class="contenedor-lista ">
                    <div class="row">
                        <div class="col-lg-3  pb-3">
                            <h1 class="fuente-3 dorado">
                                Minado
                            </h1>
                            <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="">
                        </div>
                        <div class="col-lg-9 fuente-4 ">
                            <p>Debido a las características de nuestro yacimiento la explotación se realiza utilizando una combinación de métodos convencionales (con rieles) y métodos sin rieles (trackless).  Limpiamos los tajos y subniveles con winches eléctricos de rastrillaje, acumulando mineral en cámaras, desde donde se extrae con equipos trackless de bajo perfil o en tolvas que descargan en carros mineros.</p>
                            <p>Para el sostenimiento de la mina, empleamos pernos de anclaje, malla electrosoldada, cuadros de madera, cimbras de acero y concreto lanzado, según las características geomecánicas del macizo rocoso. Estas medidas se aplican en labores de exploración, desarrollo y explotación.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class=" py-5 ">
            <div class="container py-0 py-lg-5">
                <div class="row g-5">
                    <div class=" col-lg-6 col-md-12  contenedor-lista">
                        <h1 class="fuente-3 dorado pb-4">Procesamiento Mineral</h1>

                        <p class="fuente-4">Buscamos obtener la máxima recuperación de oro desde el mineral, empleando eficientemente los recursos en las plantas de procesamiento.  En planta Marañón y planta Santa María, recuperamos el oro mediante un proceso de lixiviación con cianuro, también conocido como cianuración directa. La capacidad total de tratamiento de ambas plantas es de 980 toneladas diarias.</p>
                        <p class="fuente-4">Las recuperaciones en nuestras plantas superan el 92%. Los residuos generados se almacenan en canchas de relave, donde controlamos todos los efluentes para evitar la contaminación.</p>
                    </div>
                    <div class=" col-lg-6 col-md-12">
                        <img src="~/Content/img/02-operaciones/02-procesos/02.jpg" alt="" class="img-fluid h-100 w-100 rounded-right-100">
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-0 p-0">
                        <img src="~/Content/img/02-operaciones/01-gestion-estrategica/01.jpg" alt="" class="img-fluid h-100 w-100">
                    </div>
                    <div class="col-lg-6 p-0">
                        <div class="contenedor-mostaza_der">
                            <div class="row ">

                                <div class="col-lg-12 d-flex justify-content-center align-items-center">
                                    <div class="contenedor-mostaza_text p-0">
                                        <h1 class="fuente-3">Comercialización</h1>
                                        <p class="fuente-4">
                                            Nuestra producción total de barras doré las exportamos y se venden a uno de los principales compradores de oro a nivel mundial.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
