@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/05-publicaciones/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/05-publicaciones/01-tablet.png" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/05-publicaciones/01-movil.png" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/05-publicaciones/forma-gris-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">

                <h1 class="bannerInterno__titulo fuente-3">
                    Batolito
                </h1>
            </div>
            <img src="~/Content/img/cabeceras/forma-gris.png" class="img-fluid bannerInterno__small" alt="">
        </div>

        <section class="bg-dorado-claro-1 publicaciones-contenedor">
            <div class="container">

                <div class="publicaciones-bloque">
                    <div class=" py-5 d-flex align-items-center justify-content-center">
                        <div class="row ">
                            <div class="col-lg-12 ">
                                <div class="publicaciones-bloque__contenido ">
                                    <div class="col-lg-4  pb-4 pb-lg-0">
                                        <a href="~/Content/descargas/batolito/Batolito_56.pdf" target="_blank">
                                            <img src="~/Content/img/publicaciones/01-batolito/Batolito_56-principal.jpg" alt="" class="img-fluid zoom-img">
                                        </a>
                                    </div>
                                    <div class="col-lg-8">
                                        <h2><strong class="fuente-3">Batolito Nº56</strong></h2>
                                        <p class="fuente-4"> Nuevo Batolito Digital   </p>
                                        <div class="d-flex flex-column gap-3 pt-4">

                                            <a href="~/Content/descargas/batolito/Batolito_56.pdf" class="btn-descarga" target="_blank">
                                                Descargar PDF
                                                <span class="btn-descarga-icon btn-descarga-dorado">
                                                    <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                                </span>
                                            </a>

                                            <a href="https://indd.adobe.com/view/59dcf4c9-860f-4c69-8a83-22f81ca6859c" class="btn-descarga" target="_blank">
                                                Versión Interactiva

                                                <span class="btn-descarga-icon btn-descarga-dorado">
                                                    <img src="~/Content/img/icon-interactiva.png" alt="Descargar" class="img-icon">
                                                </span>


                                            </a>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <section class="py-5" id="batolitos">
        <div class="container  py-5">
            <h2 class="dorado mb-5">NÚMEROS ANTERIORES</h2>

            <div class="publicaciones_pagination row justify-content-center">
                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 55</h6>

                    <a href="~/Content/descargas/batolito/Batolito_55.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_55.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>

                    <a href="https://indd.adobe.com/view/ded31162-2006-41dc-8909-327392bc15f5" target="_blank">
                        <div class="d-flex align-items-center pt-1 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-interactiva-mostaza.png" alt="Versión Interactiva" class="img-icon">
                            </span>
                            <span>Versión Interactiva</span>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 54</h6>

                    <a href="~/Content/descargas/batolito/Batolito_54.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_54.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>

                    <a href="https://indd.adobe.com/view/1c951882-bb5a-480b-9798-79926af9d7d7" target="_blank">
                        <div class="d-flex align-items-center pt-1 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-interactiva-mostaza.png" alt="Versión Interactiva" class="img-icon">
                            </span>
                            <span>Versión Interactiva</span>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-3 col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 53</h6>

                    <a href="~/Content/descargas/batolito/Batolito_53.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_53.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>

                    <a href="https://indd.adobe.com/view/272004f0-411a-4e50-8c7d-7738d561dbc2" target="_blank">
                        <div class="d-flex align-items-center pt-1 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-interactiva-mostaza.png" alt="Versión Interactiva" class="img-icon">
                            </span>
                            <span>Versión Interactiva</span>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-3 col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 52</h6>

                    <a href="~/Content/descargas/batolito/Batolito_52.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_52.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>

                    <a href="https://indd.adobe.com/view/6acef0f1-0d3c-48bc-a58b-80feed967543" target="_blank">
                        <div class="d-flex align-items-center pt-1 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-interactiva-mostaza.png" alt="Versión Interactiva" class="img-icon">
                            </span>
                            <span>Versión Interactiva</span>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 51</h6>

                    <a href="~/Content/descargas/batolito/Batolito_51.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_51.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>

                    <a href="https://indd.adobe.com/view/297739d6-2404-4eaa-9c4c-ead49df015d4" target="_blank">
                        <div class="d-flex align-items-center pt-1 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-interactiva-mostaza.png" alt="Versión Interactiva" class="img-icon">
                            </span>
                            <span>Versión Interactiva</span>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 50</h6>

                    <a href="~/Content/descargas/batolito/Batolito_50.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_50.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>

                    <a href="https://indd.adobe.com/view/df0bfb28-1157-4280-9766-1e7f25152cc3" target="_blank">
                        <div class="d-flex align-items-center pt-1 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-interactiva-mostaza.png" alt="Versión Interactiva" class="img-icon">
                            </span>
                            <span>Versión Interactiva</span>
                        </div>
                    </a>
                </div>





                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 49</h6>

                    <a href="~/Content/descargas/batolito/Batolito_49.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_49.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>

                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 48</h6>

                    <a href="~/Content/descargas/batolito/Batolito_48.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_48.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>

                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 47</h6>

                    <a href="~/Content/descargas/batolito/Batolito_47.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_47.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 46</h6>

                    <a href="~/Content/descargas/batolito/Batolito_46.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_46.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 45</h6>

                    <a href="~/Content/descargas/batolito/Batolito_45.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_45.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 44</h6>

                    <a href="~/Content/descargas/batolito/Batolito_44.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_44.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>
                </div>


                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 43</h6>

                    <a href="~/Content/descargas/batolito/Batolito_43.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_43.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 42</h6>

                    <a href="~/Content/descargas/batolito/Batolito_42.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_42.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 41</h6>

                    <a href="~/Content/descargas/batolito/Batolito_41.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_41.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 40</h6>

                    <a href="~/Content/descargas/batolito/Batolito_40.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_40.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 39</h6>

                    <a href="~/Content/descargas/batolito/Batolito_39.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_39.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 38</h6>

                    <a href="~/Content/descargas/batolito/Batolito_38.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_38.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 37</h6>

                    <a href="~/Content/descargas/batolito/Batolito_37.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_37.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 36</h6>

                    <a href="~/Content/descargas/batolito/Batolito_36.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_36.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-3 col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 35</h6>

                    <a href="~/Content/descargas/batolito/Batolito_35.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_35.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>
                </div>

                <div class="col-6 col-md-3 col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 34</h6>

                    <a href="~/Content/descargas/batolito/Batolito_34.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_34.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>
                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 33</h6>

                    <a href="~/Content/descargas/batolito/Batolito_33.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_33.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>
                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 32</h6>

                    <a href="~/Content/descargas/batolito/Batolito_32.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_32.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>


                </div>





                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 31</h6>

                    <a href="~/Content/descargas/batolito/Batolito_31.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_31.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>

                </div>

                <div class="col-6 col-md-3  col-xl-2 pb-5">
                    <h6 class="fuente-5 fw-bold">BATOLITO 30</h6>

                    <a href="~/Content/descargas/batolito/Batolito_30.pdf" target="_blank">
                        <div class="border-coleccionables">
                            <img src="~/Content/descargas/batolito/Batolito_30.jpg" alt="" class="img-fluid zoom-img">
                        </div>
                        <div class="d-flex align-items-center pt-3 btn-link">
                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                            <span>Descargar</span>
                        </div>
                    </a>
                </div>
            </div>



        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
<!-- SCRIPTS -->
<script type="text/javascript" src="~/Content/js/pagination/jQuery.paginate.js"></script>
<script>
    $('.publicaciones_pagination').paginate({
        items_per_page: 18
    });
</script>

