@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Reporte de Sostenibilidad | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Reporte de Sostenibilidad | PODEROSA' />
<meta name='description' content='Reporte de Sostenibilidad' />
<meta name='url' content='http://www.poderosa.com.pe/publicaciones/memorias' />
<meta name='keywords' content='memoria anual, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Reporte de Sostenibilidad | PODEROSA' />
<meta property='og:description' content='Reporte de Sostenibilidad' />
<meta property='og:url' content='http://www.poderosa.com.pe/publicaciones/memorias' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")


    <div class="pt-4 pb-5">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/05-publicaciones/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/05-publicaciones/01-tablet.png" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/05-publicaciones/01-movil.png" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/05-publicaciones/forma-gris-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">

                <h1 class="bannerInterno__titulo-largo fuente-3">
                    Reportes de Sostenibilidad
                </h1>
            </div>
            <img src="~/Content/img/cabeceras/05-publicaciones/forma-gris.png" class="img-fluid bannerInterno__small" alt="">
        </div>

        <section class="bg-dorado-claro-1 publicaciones-contenedor">
            <div class="container">

                <div class="publicaciones-bloque" id="reporte-sostenibilidad">
                    <div class=" py-5 d-flex align-items-center justify-content-center">
                        <div class="row ">
                            <div class="col-md-12 col-lg-3   pb-4 pb-lg-0">
                                <a href="~/Content/descargas/memorias/reporte-sostenibilidad-2023.pdf" target="_blank">
                                    <img src="~/Content/descargas/memorias/informe-anual-de-sostenibilidad-2023-principal.png" alt="" class="img-fluid zoom-img">
                                </a>
                            </div>
                            <div class="col-md-12 col-lg-9">
                                <h2><strong class="fuente-3">Reporte de Sostenibilidad 2023 </strong></h2>
                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="d-flex flex-column gap-3 pt-4">

                                            <a href="~/Content/descargas/memorias/reporte-sostenibilidad-2023.pdf" class="btn-descarga btn-descarga-space " target="_blank">
                                                Descargar PDF
                                                <span class="btn-descarga-icon btn-descarga-dorado">
                                                    <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                                </span>
                                            </a>

                                            <a href="~/Content/descargas/memorias/estados-financieros-2023.pdf" class="btn-descarga btn-descarga-space " target="_blank">
                                                Estados Financieros

                                                <span class="btn-descarga-icon btn-descarga-dorado">
                                                    <img src="~/Content/img/icon-interactiva.png" alt="Descargar" class="img-icon">
                                                </span>


                                            </a>
                                            </a>
                                            <a href="~/Content/descargas/memorias/estados-financieros-eng-2023.pdf" class="btn-descarga btn-descarga-space" target="_blank">
                                                Estados Financieros en inglés

                                                <span class="btn-descarga-icon btn-descarga-dorado">
                                                    <img src="~/Content/img/icon-interactiva.png" alt="Descargar" class="img-icon">
                                                </span>


                                            </a>
                                        </div>

                                    </div>
                                    <div class="col-lg-6">

                                        <div class="d-flex flex-column gap-3 pt-4">

                                            <a href="~/Content/descargas/memorias/principios-buen-gobierno-2023.pdf" class="btn-descarga " target="_blank">
                                                Principios de Buen Gobierno <br>Corporativo
                                                <span class="btn-descarga-icon btn-descarga-dorado">
                                                    <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                                </span>
                                            </a>

                                            <a href="~/Content/descargas/memorias/principios-buen-gobierno-2023-eng.pdf" class="btn-descarga " target="_blank">
                                                Descargar Principios de Buen Gobierno Corporativo en inglés

                                                <span class="btn-descarga-icon  btn-descarga-dorado">
                                                    <img src="~/Content/img/icon-interactiva.png" alt="Descargar" class="img-icon">
                                                </span>


                                            </a>
                                            <a href="~/Content/descargas/memorias/reporte-sostenibilidad-eng-2023.pdf" class="btn-descarga btn-descarga-space" target="_blank">
                                                Descargar versión en inglés
                                                <span class="btn-descarga-icon btn-descarga-dorado">
                                                    <img src="~/Content/img/icon-interactiva.png" alt="Descargar" class="img-icon">
                                                </span>


                                            </a>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </section>
    </div>






    <section class="py-5">
        <div class="container">
            <h2 class="dorado mb-5">NÚMEROS ANTERIORES</h2>

            <div class="publicaciones_pagination  row g-5 g-lg-3 pb-5">


                <div class="col-sm-6 pb-4">
                    <div class="row">
                        <div class="col-md-4 col-lg-5 ">
                            <a href="~/Content/descargas/memorias/reporte-sostenibilidad-2022.pdf" target="_blank">
                                <div class="">
                                    <img src="~/Content/descargas/memorias/2022.png" alt="" class="img-fluid zoom-img border-coleccionables">
                                </div>
                            </a>
                            <h3 class="pt-3">2022</h3>
                        </div>
                        <div class="col-md-8 col-lg-7 ">
                            <a href="~/Content/descargas/memorias/reporte-sostenibilidad-2022.pdf" target="_blank" class="d-flex align-items-center  btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar</span>
                                </div>
                            </a>
                            <a href="~/Content/descargas/memorias/principios-buen-gobierno-2022.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar Principios de Buen Gobierno Corporativo</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/principios-buen-gobierno-2022-eng.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar Principios de Buen Gobierno Corporativo en inglés</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/estados-financieros-2022.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Estados Financieros</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/estados-financieros-eng-2022.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>

                                    <span class="ms-2">Estados Financieros en inglés</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/reporte-sostenibilidad-eng-2022.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar versión en inglés</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 pb-4">
                    <div class="row">
                        <div class="col-md-4 col-lg-5 ">
                            <a href="~/Content/descargas/memorias/reporte-sostenibilidad-2021.pdf" target="_blank">
                                <div class="">
                                    <img src="~/Content/descargas/memorias/2021.jpg" alt="" class="img-fluid zoom-img border-coleccionables">
                                </div>
                            </a>
                            <h3 class="pt-3">2021</h3>
                        </div>
                        <div class="col-md-8 col-lg-7 ">
                            <a href="~/Content/descargas/memorias/reporte-sostenibilidad-2021.pdf" target="_blank" class="d-flex align-items-center btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar</span>
                                </div>
                            </a>
                            <a href="~/Content/descargas/memorias/principios-buen-gobierno-2021.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar Principios de Buen Gobierno Corporativo</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/principios-buen-gobierno-2021-eng.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar Principios de Buen Gobierno Corporativo en inglés</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/estados-financieros-2021.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Estados Financieros</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/estados-financieros-eng-2021.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>

                                    <span class="ms-2">Estados Financieros en inglés</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/reporte-sostenibilidad-eng-2021.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar versión en inglés</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6 pb-4">
                    <div class="row">
                        <div class="col-md-4 col-lg-5 ">
                            <a href="~/Content/descargas/memorias/memoria-2020.pdf" target="_blank">
                                <div class="">
                                    <img src="~/Content/descargas/memorias/2020.png" alt="" class="img-fluid zoom-img border-coleccionables">
                                </div>
                            </a>
                            <h3 class="pt-3">2020</h3>
                        </div>
                        <div class="col-md-8 col-lg-7 ">
                            <a href="~/Content/descargas/memorias/memoria-2020.pdf" target="_blank" class="d-flex align-items-center  btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar</span>
                                </div>
                            </a>
                            <a href="~/Content/descargas/memorias/principios-buen-gobierno-2020.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar Principios de Buen Gobierno Corporativo</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/principios-buen-gobierno-2020-eng.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar Principios de Buen Gobierno Corporativo en inglés</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/resumen-informe-de-sostenibilidad-2020.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Resumen del Informe Anual de Sostenibilidad</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/memoria-2020-eng.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>

                                    <span class="ms-2">Descargar versión en inglés</span>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>




                <div class="col-sm-6 pb-4">
                    <div class="row">
                        <div class="col-md-4 col-lg-5 ">
                            <a href="~/Content/descargas/memorias/2019.pdf" target="_blank">
                                <div class="">
                                    <img src="~/Content/descargas/memorias/2019.jpg" alt="" class="img-fluid zoom-img border-coleccionables">
                                </div>
                            </a>
                            <h3 class="pt-3">2019</h3>
                        </div>
                        <div class="col-md-8 col-lg-7 ">
                            <a href="~/Content/descargas/memorias/2019.pdf" target="_blank" class="d-flex align-items-center btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar</span>
                                </div>
                            </a>
                            <a href="~/Content/descargas/memorias/2019-bgc.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar Principios de Buen Gobierno Corporativo</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/2019-resumen.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Resumen del Informe Anual de Sostenibilidad</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/2019-eng.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar versión en inglés</span>
                                </div>
                            </a>









                        </div>

                    </div>
                </div>


                <div class="col-sm-6 pb-4">
                    <div class="row">
                        <div class="col-md-4 col-lg-5 ">
                            <a href="~/Content/descargas/memorias/2018.pdf" target="_blank">
                                <div class="">
                                    <img src="~/Content/descargas/memorias/2018.jpg" alt="" class="img-fluid zoom-img border-coleccionables">
                                </div>
                            </a>
                            <h3 class="pt-3">2018</h3>
                        </div>
                        <div class="col-md-8 col-lg-7 ">
                            <a href="~/Content/descargas/memorias/2018.pdf" target="_blank" class="d-flex align-items-center  btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar</span>
                                </div>
                            </a>
                            <a href="https://www.poderosa.com.pe/publicaciones/memoria-2018" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2"> Ver versión digital</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/2018-bgc.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar Principios del Buen Gobierno Corporativo</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/2018_memoria_eng.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar versión en inglés</span>
                                </div>
                            </a>




                        </div>
                    </div>
                </div>


                <div class="col-sm-6 pb-4">
                    <div class="row">
                        <div class="col-md-4 col-lg-5 ">
                            <a href="~/Content/descargas/memorias/2017.pdf" target="_blank">
                                <div class="">
                                    <img src="~/Content/descargas/memorias/2017.jpg" alt="" class="img-fluid zoom-img border-coleccionables">
                                </div>
                            </a>
                            <h3 class="pt-3">2017</h3>
                        </div>
                        <div class="col-md-8 col-lg-7 ">
                            <a href="~/Content/descargas/memorias/2017.pdf" target="_blank" class="d-flex align-items-center btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar versión en español</span>
                                </div>
                            </a>
                            <a href="~/Content/descargas/memorias/2017.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar versión en español</span>
                                </div>
                            </a>

                            <a href="~/Content/descargas/memorias/2017-bgc.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar Principios del Buen Gobierno Corporativo</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 pb-4">
                    <div class="row">

                        <div class="col-md-4 col-lg-5 ">
                            <a href="~/Content/descargas/memorias/2016.pdf" target="_blank">
                                <div class="">
                                    <img src="~/Content/descargas/memorias/2016.jpg" alt="" class="img-fluid zoom-img border-coleccionables">
                                </div>
                            </a>
                            <h3 class="pt-3">2016</h3>
                        </div>
                        <div class="col-md-8 col-lg-7 ">
                            <a href="~/Content/descargas/memorias/2016.pdf" target="_blank" class="d-flex align-items-center  btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar versión en español</span>
                                </div>
                            </a>
                            <a href="~/Content/descargas/memorias/2016-bgc.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2"> Descargar Principios del Buen Gobierno Corporativo</span>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>


                <div class="col-sm-6 pb-4">
                    <div class="row">
                        <div class="col-md-4 col-lg-5">
                            <a href="~/Content/descargas/memorias/2015.pdf" target="_blank">
                                <div class="">
                                    <img src="~/Content/descargas/memorias/2015.jpg" alt="" class="img-fluid zoom-img border-coleccionables">
                                </div>
                            </a>
                            <h3 class="pt-3">2015</h3>
                        </div>
                        <div class="col-md-8 col-lg-7">
                            <a href="~/Content/descargas/memorias/2015.pdf" target="_blank" class="d-flex align-items-center btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2">Descargar versión en español</span>
                                </div>
                            </a>
                            <a href="~/Content/descargas/memorias/2015-bgc.pdf" target="_blank" class="d-flex align-items-center pt-3 btn-link">
                                <div class="d-flex align-items-center">
                                    <span class="btn-icon ">
                                        <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                    </span>
                                    <span class="ms-2"> Descargar Principios del Buen Gobierno Corporativo</span>
                                </div>
                            </a>



                        </div>

                    </div>
                </div>







                <div class="col-6 col-md-3 col-lg-2">
                    <a href="~/Content/descargas/memorias/2014.pdf" target="_blank">
                        <div>
                            <img src="~/Content/descargas/memorias/2014.jpg" alt="2022" class="img-fluid zoom-img border-coleccionables w-100">
                        </div>
                    </a>
                    <div class="d-flex justify-content-between align-items-center pt-3">
                        <a href="~/Content/descargas/memorias/2014.pdf" target="_blank" class="d-flex justify-content-between align-items-center w-100 btn-link">
                            <h3 class="mb-0">2014</h3>

                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <a href="~/Content/descargas/memorias/2013.pdf" target="_blank">
                        <div>
                            <img src="~/Content/descargas/memorias/2013.jpg" alt="2022" class="img-fluid zoom-img border-coleccionables w-100">
                        </div>
                    </a>
                    <div class="d-flex justify-content-between align-items-center pt-3">
                        <a href="~/Content/descargas/memorias/2013.pdf" target="_blank" class="d-flex justify-content-between align-items-center w-100 btn-link">
                            <h3 class="mb-0">2013</h3>

                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <a href="~/Content/descargas/memorias/2012.pdf" target="_blank">
                        <div>
                            <img src="~/Content/descargas/memorias/2012.jpg" alt="2022" class="img-fluid zoom-img border-coleccionables w-100">
                        </div>
                    </a>
                    <div class="d-flex justify-content-between align-items-center pt-3">
                        <a href="~/Content/descargas/memorias/2012.pdf" target="_blank" class="d-flex justify-content-between align-items-center w-100 btn-link">
                            <h3 class="mb-0">2012</h3>

                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <a href="~/Content/descargas/memorias/2011.pdf" target="_blank">
                        <div>
                            <img src="~/Content/descargas/memorias/2011.jpg" alt="2022" class="img-fluid zoom-img border-coleccionables w-100">
                        </div>
                    </a>
                    <div class="d-flex justify-content-between align-items-center pt-3">
                        <a href="~/Content/descargas/memorias/2011.pdf" target="_blank" class="d-flex justify-content-between align-items-center w-100 btn-link">
                            <h3 class="mb-0">2011</h3>

                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <a href="~/Content/descargas/memorias/2010.pdf" target="_blank">
                        <div>
                            <img src="~/Content/descargas/memorias/2010.jpg" alt="2022" class="img-fluid zoom-img border-coleccionables w-100">
                        </div>
                    </a>
                    <div class="d-flex justify-content-between align-items-center pt-3">
                        <a href="~/Content/descargas/memorias/2010.pdf" target="_blank" class="d-flex justify-content-between align-items-center w-100 btn-link">
                            <h3 class="mb-0">2010</h3>

                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2 pb-5">
                    <a href="~/Content/descargas/memorias/2009.pdf" target="_blank">
                        <div>
                            <img src="~/Content/descargas/memorias/2009.jpg" alt="2022" class="img-fluid zoom-img border-coleccionables w-100">
                        </div>
                    </a>
                    <div class="d-flex justify-content-between align-items-center pt-3">
                        <a href="~/Content/descargas/memorias/2009.pdf" target="_blank" class="d-flex justify-content-between align-items-center w-100 btn-link">
                            <h3 class="mb-0">2009</h3>

                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <a href="~/Content/descargas/memorias/2007.pdf" target="_blank">
                        <div>
                            <img src="~/Content/descargas/memorias/2007.jpg" alt="2022" class="img-fluid zoom-img border-coleccionables w-100">
                        </div>
                    </a>
                    <div class="d-flex justify-content-between align-items-center pt-3">
                        <a href="~/Content/descargas/memorias/2007.pdf" target="_blank" class="d-flex justify-content-between align-items-center w-100 btn-link">
                            <h3 class="mb-0">2007</h3>

                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                        </a>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-2">
                    <a href="~/Content/descargas/memorias/2006.pdf" target="_blank">
                        <div>
                            <img src="~/Content/descargas/memorias/2006.jpg" alt="2022" class="img-fluid zoom-img border-coleccionables w-100">
                        </div>
                    </a>
                    <div class="d-flex justify-content-between align-items-center pt-3 pb-5">
                        <a href="~/Content/descargas/memorias/2009.pdf" target="_blank" class="d-flex justify-content-between align-items-center w-100 btn-link">
                            <h3 class="mb-0">2006</h3>

                            <span class="btn-icon">
                                <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                            </span>
                        </a>
                    </div>
                </div>




            </div>
        </div>

    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
<!-- SCRIPTS -->
<script type="text/javascript" src="~/Content/js/pagination/jQuery.paginate.js"></script>
<script>
    $('.publicaciones_pagination').paginate({
        items_per_page: 14
    });
</script>

