
@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Coleccionables | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Coleccionables | PODEROSA' />
<meta name='description' content='Coleccionables' />
<meta name='url' content='http://www.poderosa.com.pe/publicaciones/coleccionables' />
<meta name='keywords' content='Coleccionables, pataz, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Coleccionables | PODEROSA' />
<meta property='og:description' content='Coleccionables' />
<meta property='og:url' content='http://www.poderosa.com.pe/publicaciones/coleccionables' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <main>
        <div class="pt-4 ">
            <div class="bannerInterno__contenedor">
                <img src="~/Content/img/cabeceras/05-publicaciones/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
                <img src="~/Content/img/cabeceras/05-publicaciones/01-tablet.png" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
                <img src="~/Content/img/cabeceras/05-publicaciones/01-movil.png" class="img-fluid  d-block d-md-none d-lg-none" alt="">
                <img src="~/Content/img/cabeceras/05-publicaciones/forma-gris-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
                <div class="bannerInterno__texto">

                    <h1 class="bannerInterno__titulo-largo  fuente-3">
                        Publicaciones No Periódicas
                    </h1>
                </div>
                <img src="~/Content/img/cabeceras/forma-gris.png" class="img-fluid bannerInterno__small" alt="">
            </div>

        </div>


        <section class="py-5">
            <div class="container  py-5">

                <div class="row justify-content-center">
                    <div class="col-6 col-md-5 col-lg-3 col-xl-4 pb-5">
                        <h6 class="fuente-5">Afiche de Buenas Prácticas</h6>
                        <a href="~/Content/descargas/publicaciones-no-periodicas/afiche-de-buenas-practicas_g.jpg" target="_blank">
                            <div class="border-coleccionables">
                                <img src="~/Content/descargas/publicaciones-no-periodicas/afiche-de-buenas-practicas.jpg" alt="Manual de Prevención de Tormentas Eléctricas" class="img-fluid zoom-img">
                            </div>
                            <div class="d-flex align-items-center pt-3 btn-link">
                                <span class="btn-icon ">
                                    <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                </span>
                                <span>Descargar</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-5 col-lg-3 col-xl-4 pb-5">
                        <h6 class="fuente-5">Tríptico Energía Eléctrica</h6>
                        <a href="~/Content/descargas/publicaciones-no-periodicas/triptico-energia-electrica.pdf" target="_blank">
                            <div class="border-coleccionables">
                                <img src="~/Content/descargas/publicaciones-no-periodicas/triptico-energia-electrica.jpg" alt="Stickers Prevención de Tormentas" class="img-fluid zoom-img">
                            </div>
                            <div class="d-flex align-items-center pt-3 btn-link">
                                <span class="btn-icon">
                                    <img src="~/Content/img/icon-circular-descarga.png" alt="Descargar" class="img-icon">
                                </span>
                                <span>Descargar</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </main>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")

<!-- SCRIPTS -->
<script type="text/javascript" src="~/Content/js/pagination/jQuery.paginate.js"></script>
<script>
    $('.publicaciones_pagination').paginate({
        items_per_page: 14
    });
</script>
