
@Html.Partial("~/Views/Shared/_head.cshtml")

<!------------------------------------TABS---------------------------------------------->
<link href="~/Content/tabs/css/easy-responsive-tabs.css" rel="stylesheet" />
<!------------------------------------FN TABS------------------------------------------->
<!-- METAS -->
<title>Accionistas | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Reclutamiento y Selección | PODEROSA' />
<meta name='description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
<meta name='url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
<meta name='keywords' content='accionistas, estructura accionarial, reporte Anual de sostenibilidad, estatuto social, reporte cumplimiento del código de buen gobierno corporativo, Certificado OHSAS 18001 2007, Certificado ISO 9001 2015, Certificado ISO 14001 2015, Distintivo Empresa Socialmente Responsable, documentación, estados financieros, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Reclutamiento y Selección | PODEROSA' />
<meta property='og:description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
<meta property='og:url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/quienes-somos/accionistas/compartir.jpg' />
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/06-gestion-del-talento/reclutamiento-y-seleccion/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/06-gestion-del-talento/reclutamiento-y-seleccion/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/06-gestion-del-talento/reclutamiento-y-seleccion/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Gestión del Talento</h3>
                <h1 class="bannerInterno__titulo fuente-3">Reclutamiento Y Seleccion</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>


    <section>
        <div class="container">
            <div class=" py-5">
                <div class="contenedor-tres-filas">
                    <div class="row py-4">
                        <div class="col-lg-6 d-flex justify-content-center align-items-center">
                            <img src="~/Content/img/04-sostenibilidad/04-06-gestion-del-talento/reclutamiento-y-seleccion/02.jpg"
                                 alt=""
                                 class="img-fluid rounded-80" />
                        </div>
                        <!--Cambio-->
                        <div class="col-lg-6 ">
                            <div class="contenedor-lista">
                                <p class="fuente-4 text-start"></p>
                                Estamos enfocados en establecer un proceso integral de reclutamiento y selección de talento en Poderosa, cuyas principales estrategias se alinean con nuestros principios de sostenibilidad:
                                </p>
                            </div>
                            <div class="d-flex align-items-center my-3">
                                <img src="~/Content/img/01-quienes-somos/nuestra-historia/icono-handshake.png"
                                     alt="Apretón de manos"
                                     class="img-fluid me-3 w-25" />
                                <div>
                                    <h3 class="fuente-3 dorado text-start">Reclutamiento Interno:</h3>
                                    <p class="mb-0">
                                        Nuestro objetivo es cubrir el 50% de los procesos de
                                        selección con personal actual, promoviendo el
                                        desarrollo interno.
                                    </p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center my-3">
                                <img src="~/Content/img/01-quienes-somos/nuestra-historia/icono-handshake.png"
                                     alt="Apretón de manos"
                                     class="img-fluid me-3 w-25" />
                                <div>
                                    <h3 class="fuente-3 dorado text-start">Reclutamiento Externo:</h3>
                                    <p class="mb-0">
                                        Buscamos captar el mejor talento para ocupar un puesto de trabajo mediante diversas fuentes, como: bolsas laborales (incluyendo LinkedIn), convenios con universidades, institutos y colegios profesionales, priorizando la diversidad y la inclusión.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-0 p-0">
                    <img src="~/Content/img/04-sostenibilidad/04-06-gestion-del-talento/reclutamiento-y-seleccion/03.jpg" alt="" class="img-fluid h-100 w-100">
                </div>
                <div class="col-lg-6 p-0">
                    <div class="contenedor-mostaza_der">
                        <div class="row  ">
                            <!--Cambio-->
                            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                                <div class="contenedor-mostaza_text p-0">
                                    <h1 class="fuente-3">Programa De Prácticas: Talentos De Oro Poderosa</h1>
                                    <p class="fuente-4">
                                        Alentar el talento, refleja nuestro compromiso con la formación de profesionales
                                        competentes interesados en consolidar sus conocimientos con la aplicación de
                                        técnicas y métodos en un escenario real.
                                        Cada año, entre 40 y 70 practicantes preprofesionales y profesionales se
                                        integran a Poderosa a través del programa "Talentos de Oro", dirigido a
                                        estudiantes de los últimos ciclos y egresados con buen rendimiento académico
                                        de todas las universidades a nivel nacional.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")

<!------------------------------------TABS---------------------------------------------->
<script src="~/Content/tabs/js/easyResponsiveTabs.js"></script>
<script src="~/Content/tabs/js/main.js"></script>
<!------------------------------------FN TABS---------------------------------------------->
</html>


