@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/03-gestion-de-la-energia/introduccion/01.jpg" class="img-fluid  h-auto w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/03-gestion-de-la-energia/introduccion/01-tablet.jpg" class="img-fluid  h-auto d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/03-gestion-de-la-energia/introduccion/01-movil.jpg" class="img-fluid  h-auto d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h1 class="bannerInterno__titulo fuente-3">Gestión de Energía</h1>
            </div>  
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>

    <section class=" py-5">
        <div class="container mt-5">
            <div class="contenedor-tres-filas">
                <div class=" text-center">
                    <div class="row ">
                        <div class="col-lg-6 contenedor-tres-filas__img">
                            <img src="~/Content/img/04-sostenibilidad/04-03-gestion-de-la-energia/04-03-06-gestion-de-la-energia/introduccion/02.jpg" alt="" class="img-fluid ">
                        </div>
                        <div class="col-lg-6">
                            <h2 class="fuente-3 dorado pb-3 text-start">
                                Monitoreo Ambiental
                            </h2>
                            <p class="text-start">No centramos en satisfacer de manera oportuna y segura la demanda eléctrica de nuestras operaciones mineras, al tiempo que reducimos el consumo de combustibles diésel mediante proyectos de autogeneración con energías renovables, como hidroeléctrica, solares fotovoltaicas y eólica, y mejoramos el sistema de transmisión eléctrica en nuestras unidades de producción.  </p>
                            <div class="contenedor-tres-filas__texto">
                                <div><img src="~/Content/img/proveedores/ico-01.png" alt="" class="px-4"></div>
                                <p class=" fuente-4">
                                    Todo ello con un enfoque a obtener la mayor confiabilidad de nuestra red interna y en minimizar el impacto en el entorno social y ambiental, de acuerdo con nuestro compromiso de reducir emisiones.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class=" text-center ">
                <h2 class="fuente-3 dorado">
                    Matriz Eléctrica Poderosa 2023 - 2030
                </h2>
                <img src="imagenes/pagina-interna/iconos-circulos.png" alt="">
            </div>
            <div class="text-center pt-5">
                <img src="~/Content/img/04-sostenibilidad/04-03-gestion-de-la-energia/04-03-06-gestion-de-la-energia/introduccion/png1.png" alt="" class="img-fluid ">
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class=" text-center ">
                <h2 class="fuente-3 dorado">
                    Matriz de proyectos eléctricos al 2030
                </h2>
                <img src="imagenes/pagina-interna/iconos-circulos.png" alt="">
            </div>
            <div class="text-center pt-5">
                <img src="~/Content/img/04-sostenibilidad/04-03-gestion-de-la-energia/04-03-06-gestion-de-la-energia/introduccion/grafico-02.jpg" alt="" class="img-fluid ">
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
