@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/03-gestion-de-la-energia/avances-energias-limpias/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/03-gestion-de-la-energia/avances-energias-limpias/01-tablet.png" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/03-gestion-de-la-energia/avances-energias-limpias/01-movil.png" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Gestión de la Energía</h3>
                <h1 class="bannerInterno__titulo-largo fuente-3">Nuestros avances con energías limpias</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
    </section>

    <section class="py-5">
        <div class="container">
            <p class="text-center">Como parte de nuestro Plan Energético Ambiental, venimos implementados proyectos de energías renovables e iniciamos las mediciones de energía para desarrollar un plan de Eficiencia Energética. Identificamos fuentes de suministro como la hidroeléctrica, térmica y compra de electricidad al SEIN, para controlar la incidencia de la energía termoeléctrica producida con base en combustibles fósiles, para ello también calculamos nuestra huella de carbono, utilizando como referencia el año 2020.</p>
        </div>
    </section>
    <section class="bg-dorado-claro-1 py-5 ">
        <div class="container py-3">
            <div class="row">
                <div class=" col-lg-6">
                    <img src="~/Content/img/04-sostenibilidad/04-03-gestion-de-la-energia/04-03-05-nuestros-avances-con-energias-limpias/png.png" alt="" class="img-fluid h-100 w-100 rounded-right-100">
                </div>
                <div class=" col-lg-6   contenedor-lista py-5 py-lg-0">
                    <img src="imagenes/pagina-interna/iconos-circulos.png" alt="">
                    <h2 class="fuente-3 dorado mt-3">Proyecto Central hidroeléctrica N1</h2>
                    <p class="fuente-4">
                        Avanzamos con el estudio de factibilidad del proyecto a un 95%; y, se inició la gestión para obtener la acreditación hídrica para una central hidroeléctrica del tipo derivación, con una potencia de 12 MW.
                    </p>
                    <p><strong class="fuente-4">Principales actividades por desarrollarse en el 2024:</strong> </p>
                    <ul class="fuente-4">
                        <li class="pb-2 "> Concluir el Estudio de Factibilidad en el primer trimestre. </li>
                        <li class="pb-2 "> Obtener la Resolución de la Acreditación Hídrica por el ANA</li>
                        <li class="pb-2 "> Obtener el CIRA.</li>
                        <li class="pb-2 ">  Elaboración del Estudio Ambiental del Proyecto. </li>
                        <li class="pb-2 ">  Gestión de Servidumbre de la Central Hidroeléctrica y Línea de Transmisión </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class=" py-5 ">
        <div class="container">
            <div class="row">
                <div class=" col-lg-6   contenedor-lista pb-5 pb-lg-0">
                    <h2 class="fuente-3 dorado mt-3">Proyecto Pumped Hydro</h2>
                    <p class="fuente-4">
                        Central hidroeléctrica de bombeo o reversible que contará con dos pequeños sistemas de almacenamiento de agua a distinta altura que permitirá guardar energía hidráulica en los momentos de menor demanda y aprovecharla para generar energía eléctrica en la hora punta. El proyecto tendrá una capacidad instalada de 6 MW aproximadamente.
                    </p>
                    <p><strong class="fuente-4">Principales actividades por desarrollarse en el 2024:</strong> </p>
                    <ul class="fuente-4">
                        <li class="pb-2 "> Culminación de Estudio de Perfil de proyecto Pumped Hydro. </li>
                        <li class="pb-2 "> Topografía para desarrollo de Factibilidad</li>
                        <li class="pb-2 "> Elaboración del Estudio Ambiental del Proyecto.</li>
                        <li class="pb-2 ">  Elaboración del Estudio Ambiental del Proyecto. </li>
                        <li class="pb-2 ">  Elaboración de Estudio Factibilidad del Proyecto </li>
                    </ul>
                </div>
                <div class=" col-lg-6">
                    <img src="~/Content/img/04-sostenibilidad/04-03-gestion-de-la-energia/04-03-05-nuestros-avances-con-energias-limpias/png1.png" alt="" class="img-fluid h-100 w-100 ">
                </div>
            </div>
        </div>
    </section>
    <section class=" py-5">
        <div class="container ">
            <div class="contenedor-tres-filas">
                <div class=" text-center">
                    <img src="imagenes/pagina-interna/iconos-circulos.png" alt="">
                    <div>
                        <h2 class="fuente-3 dorado py-3">
                            Proyecto solar fotovoltaico 7 MWp
                        </h2>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6 ">
                            <img src="~/Content/img/04-sostenibilidad/04-03-gestion-de-la-energia/04-03-05-nuestros-avances-con-energias-limpias/png2.png" alt="" class="img-fluid rounded-right-100 w-100 h-100">
                        </div>
                        <div class="col-lg-6  py-5 py-lg-5">
                            <div class="text-start">
                                <p>Proyecto de autogeneración el cual aportará energía para las operaciones mineras. Se instalará en un terreno cercano a las operaciones de una dimensión de 12 Ha y se conectará a una subestación existente de Poderosa en 25 kV mediante una línea de transmisión de 2 km.  </p>
                                <p><strong class="fuente-4 ">Principales actividades por desarrollarse en el 2024:</strong> </p>
                            </div>
                            <div class="contenedor-tres-filas__texto contenedor-lista pt-3">
                                <div><img src="~/Content/img/proveedores/ico-01.png" alt="" class="px-4"></div>
                                <ul class="contenedor-lista">
                                    <li class="pb-2">
                                        Obtención del instrumento de gestión ambiental DIA.
                                    </li>
                                    <li class="pb-2">
                                        Adjudicación del contrato de EPC.
                                    </li>
                                    <li class="pb-2">
                                        Elaboración de la ingeniería de detalle.
                                    </li>
                                    <li class="pb-2">
                                        Inicio de construcción de la planta solar fotovoltaica.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dorado-claro-1 py-5">
        <div class="contendor-iconos py-0 py-lg-5 d-flex align-items-center">
            <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-1 img-fluid">
            <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-2 img-fluid" 4="">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-4 fuente-4 text-start">
                        <img src="~/Content/img/01-quienes-somos/nuestra-historia/icono-handshake.png" alt="" class="img-fluid me-3 w-25">
                        <p>
                            Nuestra demanda energética interna será cubierta por pequeños sistemas solares fotovoltaicas con baterías para abastecer energía eléctrica de oficinas, campamentos, comedores, almacenes, etc. Los paneles solares se distribuirán en los techos de las instalaciones existentes. La potencia instalada será de aproximadamente 2.0 MW en varias etapas y se conectarán a la red de distribución de Poderosa en 220/380 V.
                        </p>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="~/Content/img/04-sostenibilidad/04-03-gestion-de-la-energia/04-03-05-nuestros-avances-con-energias-limpias/png3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-sm-4 fuente-4 text-start">
                        <div class="   contenedor-lista pb-5 pb-lg-0">
                            <p><strong class="fuente-4">Principales actividades por desarrollarse en el 2024:</strong> </p>
                            <ul class="fuente-4">
                                <li class="pb-2 ">Ejecución del EPC y Puesta en Servicio de la zona Sur del proyecto de aproximadamente 500 kW incluyendo baterías.</li>
                                <li class="pb-2 ">Estudio de Evaluación Estructural de las instalaciones de la zona Norte (Vijus, Paraiso y Cedro).</li>
                                <li class="pb-2 "> Proceso de licitación del EPC de la zona Norte del proyecto de aproximadamente 500 kW.</li>
                                <li class="pb-2 "> Reforzamiento de las estructuras de las instalaciones de la zona Sur y Norte para el complemento del proyecto de aproximadamente 1000 kW.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" py-5 ">
        <div class="container py-3">
            <div class="row">
                <div class=" col-lg-6">
                    <img src="~/Content/img/04-sostenibilidad/04-03-gestion-de-la-energia/04-03-05-nuestros-avances-con-energias-limpias/png.png" alt="" class="img-fluid h-100 w-100 rounded-right-100">
                </div>
                <div class=" col-lg-6   contenedor-lista pb-5 pb-lg-0">
                    <h2 class="fuente-3 dorado mt-3">Proyecto Pumped Hydro</h2>
                    <p class="fuente-4">
                        Desarrollamos inicialmente un proyecto piloto con buses eléctricos de transporte de personal de contratas en la unidad minera. Luego se migrará a otros vehículos eléctricos como camionetas y transporte pesado como camiones y otros, para cumplir con la meta de carbono neutral al 2040 mediante energías limpias.
                    </p>
                    <p><strong class="fuente-4">Principales actividades por desarrollarse en el 2024:</strong> </p>
                    <ul class="fuente-4">
                        <li class="pb-2 "> Instalar y poner en funcionamiento dos electrolineras para cargar los vehículos eléctricos. </li>
                        <li class="pb-2 "> Iniciar el funcionamiento del primer Bus eléctrico como Plan Piloto para transportar personal.</li>
                        <li class="pb-2 "> Iniciar la implementación de un segundo bus eléctrico piloto para transporte de personal.</li>
                        <li class="pb-2 ">  Elaborar ratios de desempeño de los dos buses eléctricos para tomar decisiones de incremento de flota futura.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
