@Html.Partial("~/Views/Shared/_head.cshtml")

<!------------------------------------TABS---------------------------------------------->
<link href="~/Content/tabs/css/easy-responsive-tabs.css" rel="stylesheet" />
<!------------------------------------FN TABS------------------------------------------->
<!-- METAS -->
<title>Accionistas | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Poblaciones Vecinas | PODEROSA' />
<meta name='description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
<meta name='url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
<meta name='keywords' content='accionistas, estructura accionarial, reporte Anual de sostenibilidad, estatuto social, reporte cumplimiento del código de buen gobierno corporativo, Certificado OHSAS 18001 2007, Certificado ISO 9001 2015, Certificado ISO 14001 2015, Distintivo Empresa Socialmente Responsable, documentación, estados financieros, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Poblaciones Vecinas | PODEROSA' />
<meta property='og:description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
<meta property='og:url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/quienes-somos/accionistas/compartir.jpg' />
    </head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/05-comunidad/desarrollo-social/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/05-comunidad/desarrollo-social/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/05-comunidad/desarrollo-social/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Comunidad</h3>
                <h1 class="bannerInterno__titulo-largo fuente-3">Desarrollo Social</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </div>

    <section class="py-5">
        <div class="container text-center">
            <div class="row">
                <div class="col-6 col-md-6 col-lg-3 pb-5">
                    <img src="~/Content/img/pagina-interna-4/circulo-1.png"
                         alt=""
                         class="img-fluid" />
                </div>
                <div class="col-6 col-md-6 col-lg-3 pb-5">
                    <img src="~/Content/img/04-sostenibilidad/04-05-comunidad/desarrollo-social/circulo-01.jpg"
                         alt=""
                         class="img-fluid" />
                </div>
                <div class="order-4 order-sm-4 order-lg-3 col-6 col-md-6 col-lg-3 pb-5">
                    <img src="~/Content/img/pagina-interna-4/circulo-3.png"
                         alt=""
                         class="img-fluid" />
                </div>
                <div class="col-6 order-sm-3 col-md-6 col-lg-3 pb-5">
                    <img src="~/Content/img/04-sostenibilidad/04-05-comunidad/desarrollo-social/circulo-02.jpg"
                         alt=""
                         class="img-fluid" />
                </div>
            </div>
            <p class="fuente-4">
                En Poderosa, contribuimos de forma activa al desarrollo de nuestro
                país y a la disminución de la brecha de pobreza existente en las
                poblaciones de su ámbito, implementando, a través de Asociación Pataz
                y en cooperación con el Estado, organizaciones especializadas de
                prestigio y sociedad civil organizada, proyectos de salud y educación,
                orientados a los sectores más vulnerables de la población.
            </p>
        </div>
    </section>

    <section>
        <div class="contenedor-mostaza">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/img/04-sostenibilidad/04-05-comunidad/desarrollo-social/02.jpg" alt="" class="img-fluid h-100" />
                </div>
                <div class="col-lg-6">
                    <div class="contenedor-mostaza_der">
                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-start align-items-center">
                                <div class="contenedor-mostaza_text text-start ps-9">
                                    <!-- Alineación a la izquierda -->
                                    <h1 class="fuente-3">Salud</h1>
                                    <p class="fuente-4">
                                        Pensamos que nuestros proyectos deben tener un enfoque
                                        integral del bienestar de las personas, por lo que
                                        trabajamos en mejorar la salud y nutrición, pero además
                                        por propiciar que las poblaciones tengan acceso a agua en
                                        cantidad y de la calidad adecuada. Trabajamos en el
                                        fortalecimiento de la Junta Administradora de Servicios de
                                        Saneamiento (JASS) para lograr una mejor administración
                                        del servicio de agua para consumo humano. Además apostamos
                                        por el fortalecimiento del Sistema de Vigilancia Comunal
                                        (SIVICO) uniendo a la comunidad con los establecimientos
                                        de salud.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="position-relative py-5">
        <div class="container-custom2 d-flex flex-column align-items-end w-75">
            <!-- Se mueve todo a la derecha -->
            <!-- Primera fila: Título y Párrafo -->
            <div class="row g-0 justify-content-end mb-4 w-100">
                <!-- Se mantiene alineado a la derecha -->
                <div class="col-12 d-flex flex-column justify-content-center align-items-start">
                    <h2 class="fuente-3 text-start">Educación</h2>
                    <p class="fuente-4 gris-oscuro">
                        Ya sea a través de nuestra oficina de Relaciones Comunitarias o de
                        Asociación Pataz, apostamos por que los niños y niñas de la zona
                        cuenten con una educación de calidad. Todos los años renovamos con
                        convenio con la UGEL de Pataz para ayudar que hayan más docentes
                        en la zona, y estos sean asumidos por el Estado paulatinamente.
                        Apostamos por que los alumnos de primaria tengan acceso a la
                        tecnología a través de telecentros educativos. Creemos que los
                        estudiantes deben estudiar en condiciones adecuadas por lo que
                        complementamos nuestro apoyo a la pedagogía con paquetes escolares
                        y mobiliario. Además fomentamos la implementación del Sistema de
                        Acompañamiento Comunal en Educación (SIACE) para integrar las
                        instituciones educativas en una red distrital que permita el
                        compartir experiencias.
                    </p>
                </div>
            </div>

            <!-- Segunda fila: Carrusel -->
            <div class="row g-0 justify-content-end w-100">
                <!-- Se alinea a la derecha -->
                <div class="col-12 d-flex justify-content-end">
                    <!-- Se alinea completamente -->
                    <div id="carousel-items" class="carousel slide w-100">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/04-sostenibilidad/04-05-comunidad/desarrollo-social/carrusel-01.jpg"
                                             class="img-fluid"
                                             alt="..." />
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/04-sostenibilidad/04-05-comunidad/desarrollo-social/carrusel-02.jpg"
                                             class="img-fluid"
                                             alt="..." />
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/04-sostenibilidad/04-05-comunidad/desarrollo-social/carrusel-03.jpg"
                                             class="img-fluid"
                                             alt="..." />
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/04-sostenibilidad/04-05-comunidad/desarrollo-social/carrusel-04.jpg"
                                             class="img-fluid"
                                             alt="..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex pt-4 pt-sm-0 pb-4">
                            <button class="carousel-control-prev"
                                    type="button"
                                    data-bs-target="#carousel-items"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"
                                      aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next"
                                    type="button"
                                    data-bs-target="#carousel-items"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon"
                                      aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")

<!------------------------------------TABS---------------------------------------------->
<script src="~/Content/tabs/js/easyResponsiveTabs.js"></script>
<script src="~/Content/tabs/js/main.js"></script>
<!------------------------------------FN TABS---------------------------------------------->
    </html>
