@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<!-- METAS -->
<title>Nuestra historia | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Nuestra historia | PODEROSA' />
<meta name='description' content='La riqueza aurífera de la provincia de Pataz es conocida desde siempre. Ahí se trabaja ancestralmente la minería tanto de manera artesanal, como a través de empresas. Se sabe que las primeras familias que habitaron la zona se aventuraron en esta actividad a pequeña escala.' />
<meta name='url' content='http://www.poderosa.com.pe/quienes-somos/nuestra-historia' />
<meta name='keywords' content='historia poderosa, momentos en la historia, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Nuestra historia | PODEROSA' />
<meta property='og:description' content='La riqueza aurífera de la provincia de Pataz es conocida desde siempre. Ahí se trabaja ancestralmente la minería tanto de manera artesanal, como a través de empresas. Se sabe que las primeras familias que habitaron la zona se aventuraron en esta actividad a pequeña escala.' />
<meta property='og:url' content='http://www.poderosa.com.pe/quienes-somos/nuestra-historia' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/quienes-somos/nuestra-historia/compartir.jpg' />
<link rel="stylesheet" href="~/Content/css/modules/_nuestra-historia.css" asp-append-version="true">
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/01-quienes-somos/nuestra-historia/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/nuestra-historia/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/nuestra-historia/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h1 class="bannerInterno__titulo fuente-3">
                    Nuestra Historia
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </div>

    <section>
        <div class="container">
            <div class=" py-5">
                <div class="contenedor-tres-filas">
                    <div class="row py-4">
                        <div class="col-lg-6 contenedor-tres-filas__img">
                            <img src="~/Content/img/01-quienes-somos/nuestra-historia/grupo-fotos.jpg" alt="" class="img-fluid rounded-80">
                        </div>
                        <div class="col-lg-6 ">
                            <div class="contenedor-lista">
                                <p>
                                    La riqueza aurífera de la provincia de Pataz es conocida desde siempre. Ahí se
                                    trabaja ancestralmente la minería tanto de manera artesanal, como a través
                                    de empresas. Se sabe que las primeras familias que habitaron la zona se
                                    aventuraron en esta actividad a pequeña escala. En el distrito de Pataz se
                                    instala la primera operación a escala industrial en los años 20, cuando la
                                    Northern Perú Mining Corporation instala una planta de cianuración de 250
                                    toneladas por día. Esta empresa opera hasta fines de los años 40.
                                    Simultáneamente el Ing. Gordillo Delboy exploraba la zona norte del distrito en
                                    las quebradas La Lima y el Tingo midiendo 48,000TM con una ley de 13.27gr
                                    Au/TM. Pero en ese tiempo por la lejanía y los relativos precios bajos del
                                    mineral se termina por abandonar la zona. Simultáneamente el Ing. Gordillo Delboy
                                    exploraba la zona norte del distrito en las quebradas La Lima y el Tingo midiendo 48,000TM
                                    con una ley de 13.27gr Au/TM. Pero en ese tiempo por la lejanía y los relativos precios
                                    bajos del mineral se termina por abandonar la zona.
                                </p>
                            </div>
                            <div class="d-flex align-items-center my-3">
                                <img src="~/Content/img/01-quienes-somos/nuestra-historia/icono-handshake.png" alt="Apretón de manos" class="img-fluid me-2 w-25">
                                <p class="mb-0">
                                    Hacia 1967, Wilder Lozano Noriega denuncia la zona que
                                    hoy conocemos como Poderosa. Es él quien busca y
                                    anima a don Jesús Arias Dávila a entrar en esta
                                    aventura y conquistar el reto de Poderosa. Así surge una
                                    perdurable amistad y el 5 de mayo de 1980 se
                                    funda <strong class="dorado">Compañía Minera Poderosa.</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="contenedor-ancho-circular">
            <div class="contenedor-gris__seccion">
                <div class="col-12">
                    <img src="~/Content/img/forma-derecha-dorada.png" class="img-fluid contenedor-gris__seccion-formaizdercha">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6">
                            <img src="~/Content/img/01-quienes-somos/nuestra-historia/circulo.jpg" alt="" class="img-fluid contenedor-gris__seccion-imagen img1">
                            <img src="~/Content/img/icono-circulo-dorado.png" class="img-fluid contenedor-gris__seccion-formaizquierda">
                        </div>
                        <div class="col-xl-5 col-lg-6 d-flex align-items-center">
                            <p class="fuente-4 pb-3">
                                Don Jesús Arias Dávila envía a dos geólogos para constatar la factibilidad y
                                riqueza de Poderosa: Walter Sologuren y Alberto Samaniego, junto a los
                                estudiantes de geología Marco Antonio Augusto y Pablo Catteriano. Saliendo de
                                Lima, llegan a Trujillo y pasaron luego por Huamachuco y Chagual, hasta donde
                                llegaba la carretera. Luego, sin más camino, a pie y a veces por el río con el
                                agua hasta el pecho o por la ribera continuaron hacia Vijus cargados con
                                mochilas, carpas, ollas y equipamiento.
                                <br>
                                En Vijus, Wilder Lozano se une a la expedición y se organizan en dos grupos, uno
                                para cada zona de trabajo: Adelita (hoy La Lima) y el Tingo.
                                Ambos grupos descubrieron afloramientos y estructuras de mineral que
                                constataban la continuidad de la zona mineralizada de Pataz, comprobando la
                                riqueza de Poderosa. El 19 de diciembre de 1977 entregaron su informe concluyendo
                                que Poderosa valía la pena.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="position-relative py-5">
        <div class="container-custom2">
            <div class="row g-0 align-items-stretch">
                <!-- Asegura altura igual en ambas columnas -->
                <!-- Sección "Momentos en la Historia" (Ahora alineada con el carrusel) -->
                <div class="offset-xxl-1 col-12 col-xxl-3 d-flex flex-column justify-content-center pe-xxl-5">
                    <h3 class="fuente-3 dorado">
                        Momentos en la Historia
                    </h3>
                    <p class="mt-1 fuente-4">
                        <!-- Reduje el margen aquí -->
                        Nuestra historia está llena de anécdotas e
                        hitos. Nuestra historia ha sido construida por
                        grandes hombres y mujeres que apostaron
                        por una minería responsable y sostenible.
                        Luego empezar con el hito.
                    </p>
                </div>

                <div class="col-12 col-xxl-8 d-flex align-items-center">
                    <!-- Asegura alineación con el texto -->
                    <div id="carousel-items" class="carousel slide w-100">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/01-quienes-somos/nuestra-historia/carrusel-01.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/01-quienes-somos/nuestra-historia/carrusel-02.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/01-quienes-somos/nuestra-historia/carrusel-03.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/01-quienes-somos/nuestra-historia/carrusel-04.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex pt-4 pt-sm-0 pb-4">
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-items" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-items" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>

