
@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Premios y reconocimientos | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Premios y reconocimientos | PODEROSA' />
<meta name='description' content='PODEROSA ha ganado multiples premios y reconocimientos a lo largo de los años. Presentamos los más recientes en el siguiente cuadro:' />
<meta name='url' content='http://www.poderosa.com.pe/quienes-somos/premios-y-reconocimientos' />
<meta name='keywords' content='premios, reconocimientos, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Premios y reconocimientos | PODEROSA' />
<meta property='og:description' content='PODEROSA ha ganado multiples premios y reconocimientos a lo largo de los años. Presentamos los más recientes en el siguiente cuadro:' />
<meta property='og:url' content='http://www.poderosa.com.pe/quienes-somos/premios-y-reconocimientos' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/quienes-somos/premios-y-reconocimientos/compartir.jpg' />
<link rel="stylesheet" href="~/Content/css/modules/_tabla-premios.css" asp-append-version="true">
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/01-quienes-somos/premios-y-reconocimientos/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/premios-y-reconocimientos/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/premios-y-reconocimientos/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h1 class="bannerInterno__titulo fuente-3">
                    Premios y Reconocimientos
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </div>

    <main>
        <section class="my-seccion">
            <div class="container">
                <p class="fuente-4">PODEROSA ha ganado multiples premios y reconocimientos a lo largo de los años. Presentamos los más recientes en el siguiente cuadro:</p>
            </div>
        </section>

        <section class="my-seccion">
            <div class="container">
                <table class="table table-borderless table-responsive text-center tabla-premios">
                    <tbody>
                        <tr>
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Diciembre</strong><br>
                                <strong>2024</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Premio 5s kaizen – oficinas administrativas de Trujillo y Lima – gran<br> premio oro absoluto
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">AOTS (Association for Overseas Technical Cooperation and Sustainable Partnerships)</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr>
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Diciembre</strong><br>
                                <strong>2024</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Premio 5s kaizen - unidad de producción marañón y santa maría - oro
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">AOTS (Association for Overseas Technical Cooperation and Sustainable Partnerships)</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr>
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Diciembre</strong><br>
                                <strong>2024</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Premio 5s kaizen - asociación pataz - plata
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">AOTS (Association for Overseas Technical Cooperation and Sustainable Partnerships)</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Noviembre</strong><br>
                                <strong>2024</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Galardón plata en el premio iberoamericano de la calidad 2024
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">FUNDIBEQ</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Octubre</strong><br>
                                <strong>2024</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    4 Galardones Por Reconocimiento A Las Mejores Prácticas De Excelencia En La Categoría Producción
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">
                                    Comité de Gestión de la Calidad de la Sociedad Nacional de Industrias (SNI)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Julio</strong><br>
                                <strong>2024</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Distintivo empresa con gestión sostenible
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">Perú Sostenible</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Abril</strong><br>
                                <strong>2024</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Certificado i-rec
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">Kallpa</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Abril</strong><br>
                                <strong>2024</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Distintivo Recicla 2023
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">Claro Perú</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Diciembre</strong><br>
                                <strong>2023</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Certificado azul a compañía minera poderosa s.a., unidades de producción marañón y santa maría.
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">Autoridad nacional del agua - ana</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Diciembre</strong><br>
                                <strong>2023</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Resolución jefatural n° 0393-2023-ana
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">Autoridad nacional del agua - ana</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Diciembre</strong><br>
                                <strong>2023</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Reconocimiento A Poderosa Por Su Valioso Apoyo Y Compromiso Con El Desarrollo Del Perú
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">
                                    Universidad nacional de cajamarca
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Diciembre</strong><br>
                                <strong>2023</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Reconocimiento A Poderosa Por Su Valioso Apoyo Y Compromiso Con El Desarrollo Del Perú
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">
                                    Universidad nacional de cajamarca
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Noviembre</strong><br>
                                <strong>2023</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Diploma Otorgado A Compañía Minera Poderosa Por Haber Alcanzado El
                                    Mejor Desempeño Como Gran Empresa En El Sector Minero En La
                                    Categoría De Diversificación De Producto
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">
                                    Gobierno regional la libertad y comité ejecutivo regional exportador la libertad
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Noviembre</strong><br>
                                <strong>2023</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Diploma Otorgado A Compañía Minera Poderosa Por Haber
                                    Implementado El Proyecto De Responsabilidad Social Empresarial Con
                                    Enfoque Agrícola En Beneficio De La Población
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">
                                    Gobierno regional la libertad y comité ejecutivo regional exportador la libertad
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Noviembre</strong><br>
                                <strong>2023</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Líder De La Innovación Social Con Enfoque A Misiones En El Perú
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">
                                    Comité regional empresa, estado, academia, sociedad civil organizada - creeas la libertad
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>

                        <tr class="">
                            <!-- Columna de la Fecha (Reducimos su ancho) -->
                            <td class="texto-fecha text-start align-top">
                                <strong>Octubre</strong><br>
                                <strong>2023</strong>
                            </td>
                            <!-- Columna del Icono -->
                            <td class="text-end align-top">
                                <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                            </td>
                            <!-- Columna del Premio -->
                            <td class="columna-premio">
                                <span class="titulo-premio dorado">
                                    Reconocimiento Por Su Valiosa Contribución A La Gestión Reactiva
                                    Del Riesgo De Desastres Durante El Período 2022-2023, En
                                    Beneficio De La Población En Situación De Vulnerabilidad En El
                                    País
                                </span>
                                <br>
                                <strong>Otorga: </strong>
                                <p class="texto-premio">
                                    Instituto nacional de defensa civil (indeci)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr class="separador">
                            </td>
                        </tr>
                    </tbody>

                    <tr class="">
                        <!-- Columna de la Fecha (Reducimos su ancho) -->
                        <td class="texto-fecha text-start align-top">
                            <strong>Octubre</strong><br>
                            <strong>2023</strong>
                        </td>
                        <!-- Columna del Icono -->
                        <td class="text-end align-top">
                            <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                        </td>
                        <!-- Columna del Premio -->
                        <td class="columna-premio">
                            <span class="titulo-premio dorado">
                                Premio Nacional De La Calidad - Medalla De Oro
                            </span>
                            <br>
                            <strong>Otorga: </strong>
                            <p class="texto-premio">
                                Instituto nacional de defensa civil (indeci)
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <hr class="separador">
                        </td>
                    </tr>

                    <tr class="">
                        <!-- Columna de la Fecha (Reducimos su ancho) -->
                        <td class="texto-fecha text-start align-top">
                            <strong>Octubre</strong><br>
                            <strong>2023</strong>
                        </td>
                        <!-- Columna del Icono -->
                        <td class="text-end align-top">
                            <img src="~/Content/img/icon-ribbon.png" alt="Medalla" class="img">
                        </td>
                        <!-- Columna del Premio -->
                        <td class="columna-premio">
                            <span class="titulo-premio dorado">
                                Líder En Calidad Categoría Oro
                            </span>
                            <br>
                            <strong>Otorga: </strong>
                            <p class="texto-premio">
                                Sociedad nacional de industrias (SNI)
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <hr class="separador">
                        </td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="py-2">
            <div class="container   contenedor-lista">
                <div class="row">
                    <div class="col-xl-4 pl-5 pb-2">
                        <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="">
                        <h2 class="fuente-3 dorado">
                            Números Anteriores
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-seccion mt-0">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-6 col-md-3 mb-3">
                        <h3 class="fuente-3">Certificado ISO <br>37301 2021</h3>
                        <img src="~/Content/img/01-quienes-somos/premios-y-reconocimientos/certificado-7.jpg" alt="Certificado ABE" class="img-fluid zoom-img border border-dark border-2">
                        <div class="text-right mt-3 publicaciones-bloque__contenido">
                            <a class="boton-icono boton-icono--dorado" href="~/Content/descargas/premios-y-reconocimientos/certificado-ISO-37301_2021.pdf" target="_blank">
                                <img class="boton-icono__img svg img1" src="~/Content/img/icon-circular-descarga.png" alt="ico">
                                <span class="boton-icono__txt">Descargar</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 mb-3">
                        <h3 class="fuente-3">Certificado ABE<br /><br /></h3>
                        <img class="img-fluid zoom-img border border-dark border-2" src="~/Content/img/01-quienes-somos/premios-y-reconocimientos/certificado-5.jpg" alt="Certificado ABE" />
                        <div class="text-right mt-3">
                            <a class="boton-icono boton-icono--dorado" href="~/Content/descargas/premios-y-reconocimientos/certificado-ISO-37001_2016.pdf" target="_blank">
                                <img class="boton-icono__img svg img1" src="~/Content/img/icon-circular-descarga.png" alt="ico">
                                <span class="boton-icono__txt">Descargar</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 mb-3">
                        <h3 class="fuente-3">Certificado ISO <br>37001 2016</h3>
                        <img class="img-fluid zoom-img border border-dark border-2" src="~/Content/img/01-quienes-somos/premios-y-reconocimientos/certificado-6.jpg" />
                        <div class="text-right mt-3">
                            <a class="boton-icono boton-icono--dorado" href="~/Content/descargas/premios-y-reconocimientos/certificado-ISO-37001_2016.pdf" target="_blank">
                                <img class="boton-icono__img svg img1" src="~/Content/img/icon-circular-descarga.png" alt="ico">
                                <span class="boton-icono__txt">Descargar</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 mb-4">
                        <h3 class="fuente-3 mb-3">Certificado ISO <br>45001 2018</h3>
                        <img class="img-fluid zoom-img border border-dark border-2" src="~/Content/img/01-quienes-somos/premios-y-reconocimientos/certificado-1.jpg" />
                        <div class="text-right mt-3">
                            <a class="boton-icono boton-icono--dorado" href="~/Content/descargas/premios-y-reconocimientos/certificado-ISO-45001_2018.pdf" target="_blank">
                                <img class="boton-icono__img svg img1" src="~/Content/img/icon-circular-descarga.png" alt="ico">
                                <span class="boton-icono__txt">Descargar</span>
                            </a>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-6 col-md-3 mb-3">
                            <h3 class="fuente-3 mb-3">Certificado ISO <br>37001 2016</h3>
                            <img class="img-fluid zoom-img border border-dark border-2" src="~/Content/img/01-quienes-somos/premios-y-reconocimientos/certificado-6.jpg" />
                            <div class="text-right mt-3">
                                <a class="boton-icono boton-icono--dorado" href="~/Content/descargas/premios-y-reconocimientos/certificado-ISO-37001_2016.pdf" target="_blank">
                                    <img class="boton-icono__img svg img1" src="~/Content/img/icon-circular-descarga.png" alt="ico">
                                    <span class="boton-icono__txt">Descargar</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 mb-3">
                            <h3 class="fuente-3">Certificado ABE<br /><br /></h3>
                            <img class="img-fluid zoom-img border border-dark border-2" src="~/Content/img/01-quienes-somos/premios-y-reconocimientos/certificado-5.jpg" alt="Certificado ABE" />
                            <div class="text-right mt-3">
                                <a class="boton-icono boton-icono--dorado" href="~/Content/descargas/premios-y-reconocimientos/certificado-ISO-37001_2016.pdf" target="_blank">
                                    <img class="boton-icono__img svg img1" src="~/Content/img/icon-circular-descarga.png" alt="ico">
                                    <span class="boton-icono__txt">Descargar</span>
                                </a>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 mb-3">
                            <h3 class="fuente-3">Certificado ISO <br>37001 2016</h3>
                            <img class="img-fluid zoom-img border border-dark border-2" src="~/Content/img/01-quienes-somos/premios-y-reconocimientos/certificado-6.jpg" />
                            <div class="text-right mt-3">
                                <a class="boton-icono boton-icono--dorado" href="~/Content/descargas/premios-y-reconocimientos/certificado-ISO-37001_2016.pdf" target="_blank">
                                    <img class="boton-icono__img svg img1" x src="~/Content/img/icon-circular-descarga.png" alt="ico">
                                    <span class="boton-icono__txt">Descargar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

    </main>


    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>

