.bloque-de-4{
  position: relative;
  overflow: hidden;
  }
  .bloque-de-4-derecho{
  padding:3rem 2rem; 
  width: 100%;
  height: 100%;
  }
  .bloque-de-4-izquierdo{
  padding: 3rem 2rem;
  width: 100%;
  height: 100%;
  }


  .bloque-de-4-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  }
  .bloque-de-4-img img{
  width: 85%;
  height: auto;
  }
.bloque-de-4-foto img{
object-fit: cover ;
object-position: left;
}

.bloque-de-4-foto {
 height: 15rem;
  }
/********************************************/
/*               MEDIA QUERIES              */
/*------------------------------------------*/
/********************************************/
@media(min-width:768px){
  .bloque-de-4-foto {

    height: 13rem;
     }
}

@media(min-width:992px){
  .bloque-de-4-derecho{
    padding: 4rem; 
    }
    .bloque-de-4-izquierdo{
    padding: 4rem;

    }
    .bloque-de-4-foto {
      height: auto;
       }
}

@media(min-width:1200px){
  .bloque-de-4-derecho{
    padding: 5rem 6rem; 
    }
    .bloque-de-4-izquierdo{
    padding: 5rem 6rem;

    }

}

 