.contenedor-numeros h1{
    font-size: 6em;
}
/* .contenedor-lista__texto{
    padding-left: 2rem;
} */

/************************ @media*****************************************/
 
    @media(max-width:1400px){
        .contenedor-numeros h1{
            font-size: 5em;
        } 
    }
   /*  @media(max-width:1200px){
        .contenedor-lista__texto{
            padding-left: 0rem;
        }
    } */
    @media(max-width:1024px){
        .contenedor-numeros h1{
            font-size: 4.8em;
        } 
    }
