



  .linea-dorada{
    border-right: 0px solid var(--dorado);
    border-bottom: 3px solid var(--dorado);
    padding-right: 0%;
    margin: 0rem 0rem 3rem 0rem;
  }


.linea-dorada-der{
  padding-left: 2rem;
}

.rounded-right-100{
    border-radius: 0px 100px 0px 0px;
    object-fit: cover;
 }

 .rounded-80{
  border-radius: 50px 50px;
  object-fit: cover;
}


/********************************************/
/*               MEDIA QUERIES              */
/*------------------------------------------*/
/********************************************/
@media(min-width:768px){
  .rounded-80{
    border-radius: 80px 80px;
    object-fit: cover;
  }
}

@media(min-width:992px){
  .linea-dorada{
    border-right: 3px solid var(--dorado);
    border-bottom: 0px solid var(--dorado);
    padding-right: 2rem;
  }
}

@media(max-width:960px){
 .linea-dorada-der{
  padding-left: 0rem;
}

}

