/* ################################################## */
/* CURVA FOOTER */
/* ################################################## */
footer{
	position: relative;
	z-index: 1;

	/*margin-top: 1.5rem;*/
}
/*footer:before {
	content: "";
	display: block;
	width: 100%;
	height: 1.5rem;

	overflow: hidden;
	position: absolute;
	bottom: 99.5%;

	background-image: url(../../img/curva-footer.svg);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: cover;
}


@media(min-width: 576px){
	footer:before {
		height: 2rem;
	}
}
@media(min-width: 768px){
	footer:before {
		height: 2.5rem;
	}
}
@media(min-width: 992px){
	footer:before {
		height: 3rem;
	}
}
@media(min-width: 1200px){
	footer:before {
		height: 3.5rem;
	}
}*/
/* ################################################## */
.space-footer{
	padding-top: 0rem;
}




/* ################################################## */
/* FOOTER */
/* ################################################## */
footer{
	font-family: var(--fuente-2);
}

footer .container > .row > div:first-child{
	border-bottom: 2px solid var(--dorado);
}
footer .container > .row > div:not(:last-child){
	margin-bottom: 1.5rem;
}

footer ul{
	list-style: none;
	padding-left: 0;
}
footer li a{
	font-family: var(--fuente-2);
	color: var(--blanco);
	padding: .25rem 0;
	display: block;
}
footer li a:hover{
	color: var(--dorado);
	text-decoration: none;
}

footer .a--creditos{
	font-family: var(--fuente-2);
	color: var(--dorado);
}
footer .a--creditos:hover{
	color: var(--dorado);
}

.footer__titulo{
	margin-bottom: .5rem;
	text-transform: uppercase;
}



/* ESTADOS */



/* MEDIA QUERYS */
@media(min-width: 576px){
	
}
@media(min-width: 768px){
	
}
@media(min-width: 768px){

}
@media(min-width: 992px){
	footer .container > .row > div:first-child{
		border-bottom: 0;
		border-right: 2px solid var(--dorado);
	}
	.space-footer{
		padding-top: 45rem;
	}
	

}
@media(min-width: 1200px){
	.space-footer{
		padding-top: 42rem;
	}
	
}

@media(min-width: 1320px){
	.space-footer{
		padding-top: 40rem;
	}
	
}
/* ################################################## */
