/* ################################################## */
/* HEADER */
/* ################################################## */
header{
	position: relative;
	z-index: 1;

	/*background-image: url(../../img/web/bg-inf-header.svg);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;*/

	/*padding-bottom: 1rem;
	margin-bottom: -1rem;*/
}
header:before {
	content: "";
	display: block;
	width: 100%;
	height: 1.25rem;
	/*background-color: var(--blanco);*/

	/*border-radius: 50%;
	-moz-transform: translateY(50px);
	-webkit-transform: translateY(50px);
	-o-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(-50%);*/

	overflow: hidden;
	position: absolute;
	/* z-index: 1; */
	top: 98.5%;

	/*background-image: url(../../img/curva-cabecera.svg);*/
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;
}

/* MEDIA QUERYS */
@media(min-width: 576px){
	header:before {
		height: 1.4rem;
	}
}
@media(min-width: 768px){
	header:before {
		height: 1.75rem;
	}
}
@media(min-width: 992px){
	header:before {
		height: 2rem;
	}
}
@media(min-width: 1200px){
	header:before {
		height: 2.5rem;
	}
}
/* ################################################## */





/* ################################################## */
/* MENU PRIMARIO */
/* ################################################## */
.nav-pri {
	/* re-escrito */
	background-color: var(--blanco);
	/*background-color: transparent;*/
	padding-bottom: .25rem;
}



.nav-pri .navbar-toggler{
	background-color: var(--marron);
	padding: .5rem .75rem;
	border-radius: 0;
	outline: 0;
}
.nav-pri .fa-bars{
	color: var(--blanco);
}



.nav-pri .navbar-brand{
	/*position: absolute;*/
	z-index: 1;
	top: .6rem;
	/*left: 50%;*/
/*
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);*/

	width: 133px;

	/* re-escrito */
	margin-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}



.nav-pri .nav-link,
.nav-pri .dropdown-item{
	color: var(--marron);
	background-color: transparent;
}
.nav-pri .nav-link{
	font-size: 1rem;
	text-align: center;
}
.nav-pri .dropdown-item{
	font-size: .85rem;
}

.nav-pri .dropdown-item.active,
.nav-pri .dropdown-item:hover{
	color: var(--dorado);
}
.nav-pri .nav-link{
	font-family: var(--fuente-2-bold);
	
}
.nav-pri .nav-link.active,
.nav-pri .nav-link:hover{
	font-family: var(--fuente-2-bold);
}
.nav-pri .dropdown-item{
	font-family: var(--fuente-2);
}
/*
.nav-pri .dropdown-toggle::after{
	display: block;
	margin: 0 auto;
}*/

.nav-pri .dropdown-menu{
	background-color: var(--blanco-90);
	border: 0;
	border-radius: 0;
	margin-top: 0;
	text-align: center;
	padding-top: 0;
}
/*
.dropdown-linea{
	display: none;
}
*/
/* ESTADOS */




/* MEDIA QUERYS */
@media(min-width: 576px){
	.nav-pri .navbar-brand{
		width: 165px;
		top: .2rem;
	}
}
@media(min-width: 768px){
	.nav-pri{
		padding-bottom: .5rem;
	}
	.nav-pri .navbar-brand{
		top: .5rem;
	}
}
@media(min-width: 992px){


	#lista .nav-link:hover{
		border-bottom: var(--dorado) 1px solid;
	}


/*	#lista .puntero {
		display: inline-block;
		
		text-decoration: none;
		color: black;
		position: relative;
	}*/
	.menu-drow {
		position: relative;

	}
	#lista .puntero {
       /* bottom: -45px;*/
        /*left: 48%;*/
        /*transform: translateX(-50%);*/
        width: 50px;
        height: 25px;
        background-color: #494941;
        border-radius: 25px 25px 0 0;
        display: none;
        border: transparent;
		position: absolute;
		top:30px;
		/*margin-top: 2rem;*/
		
	}
/*
	#lista .puntero.active::after {
		display: block;
	}*/




	.lista_menu .dropdown-menu{
		background-color: transparent;
		border:0;
		border-left:3px solid var(--dorado);
		padding-right: 1rem;
		border-radius: 0;
		top:0;
		right: 0;
		color:#fff;
		/*inset: revert-layer !important;*/
		margin: 0px;
		padding-left: 1rem !important;
		transform: translate(370px, 0) !important;
		/*transform: none !important;*/
	  }
	  
	  

	.lista_menu .dropend .dropdown-menu[data-bs-popper] {
		left: 0 !important;
	}

	.bg-lg-marron{
       background-color: #494941 !important;
	}
    #lista .dropdown{
		position: inherit;
	
	}

	#lista .dropdown-menu[data-bs-popper] {
		top: 0 !important;
	}

	.mostrar {
		display: inherit !important; /* El div está oculto inicialmente */
	}
	.MultiLevelMenu.depth-2 {
		display: none; 
		position: absolute;
		left: 0;
		top: 135%;
		box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
		z-index: 1;
		height: 235px;
		/*margin-top: -2rem;*/
	 }

	/* .MultiLevelMenu:target {
		display: block; /* El div se muestra cuando es el objetivo (target) 
	}*/

	 .MultiLevelMenu {
		   width: 100%;
		   position: relative;
		   /*display: none;*/
		   color: #000;
	}

	.MultiLevelMenu .dropdown-menu{
		background-color: transparent;
    }
    
	.MultiLevelMenu .dropdown-menu .dropdown-item{
		color: #fff;
        font-size: 1rem;
        font-family: var(--fuente-1-bold);
        line-height: 0.7rem;
    }
	
	
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute;
	}
	

	.nav-pri {
		/* re-escrito */
	    padding: .25rem 1%;
	}

	.nav-pri .navbar-brand{
		top: -.7rem;
	}
/*
	.nav-pri .nav-item{
		position: relative;
	}*/
	/*.nav-pri .nav-item:after{
		content: "";
		display: block;
		width: 2px;
		height: .9rem;
		background-color: var(--dorado);

		position: absolute;
		top: 50%;
		left: 100%;

		-moz-transform: translateX(-1px) translateY(-50%);
		-webkit-transform: translateX(-1px) translateY(-50%);
		-o-transform: translateX(-1px) translateY(-50%);
		-ms-transform: translateX(-1px) translateY(-50%);
		transform: translateX(-1px) translateY(-50%);
	}*/
	.nav-pri .nav-item:last-child:after{
		content: none;
	}

	.nav-pri .nav-link{
		font-family: var(--fuente-2);
		text-align: left;
	}

	.nav-pri .nav-link,
	.nav-pri .dropdown-item{
        /*font-size:13px;*/
		font-size: 10.8px;
		/* re-escrito */
		/*padding: .25rem .6rem !important;*/
        padding: .25rem .4rem !important;
	}

	.nav-pri .dropdown-toggle::after{
		/* re-escrito */
		content: none;
	}

	.nav-pri .dropdown-menu{
		text-align: left;
		padding: .5rem 0;
	}
}
@media(min-width: 1200px){
	.nav-pri .navbar-brand{
		width: auto;

		top: -1.2rem;
	}
	/*.nav-pri .nav-link,
	.nav-pri .dropdown-item{
		font-size: 16px;
	}*/

    .nav-pri .nav-link,
	.nav-pri .dropdown-item{
		font-size: 13.7px;
	}


    .MultiLevelMenu.depth-2 {
        top: 112%;
    }

}
@media(min-width: 1400px){
    .nav-pri .nav-link,
	.nav-pri .dropdown-item{
		font-size: 16px;
	}

	.MultiLevelMenu .dropdown-menu .dropdown-item {
        font-size: 1.2rem;
        line-height: 1rem;
    }

    .MultiLevelMenu.depth-2 {    
        height: 260px;
        top: 117%;
    }

    #lista .puntero {
        top: 34px;
    }
}
/* ################################################## */





/* ################################################## */
/* MENU SECUNDARIO*/
/* ################################################## */
.nav-sec {
	background-color: var(--blanco);
    border-top: 2px solid #ccc;
    padding-top: .75rem;
    margin-top: .25rem;
}
.nav-sec .nav-link {
    font-family: var(--fuente-2);
    font-size: .85rem;
    padding: .25rem 0;
}



/* MEDIA QUERYS */
@media(min-width: 576px){
	
}
@media(min-width: 768px){
	
}
@media(min-width: 992px){
	.nav-sec{
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
		
		padding-right: 1.15%;
	}

	.nav-sec .nav-item{
		position: relative;
	}
	.nav-sec .nav-item:after{
		content: "";
		display: block;
		/*width: 2px;*/
		height: .65rem;
		background-color: var(--marron);

		position: absolute;
		top: 50%;
		left: 100%;

		-moz-transform: translateX(-1px) translateY(-50%);
		-webkit-transform: translateX(-1px) translateY(-50%);
		-o-transform: translateX(-1px) translateY(-50%);
		-ms-transform: translateX(-1px) translateY(-50%);
		transform: translateX(-1px) translateY(-50%);
	}
	.nav-sec .nav-item:last-child:after{
		content: none;
	}

	.nav-sec .nav-link{
		font-family: var(--fuente-2-bold);
		font-size: 12px;
		color: var(--dorado);
		/* re-escrito */
		padding: .75rem .55rem !important;
	}
	.nav-sec .nav-link:hover,
	.nav-sec .nav-link.active{
		font-family: var(--fuente-2-bold);
	}
}
@media(min-width: 1200px){
	
}
/* ################################################## */









/* ################################################## */
/* HEADER FIXED*/
/* ################################################## */
body{
	/*padding-top: 3.175rem;*/
}
.js-header-fixed-top{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

/*
@media(min-width: 576px){
	
}
@media(min-width: 768px){
	body{
		padding-top: 3.4rem;
	}
}
@media(min-width: 992px){
	body{
		padding-top: 4.25rem;
	}
}
@media(min-width: 1200px){
	body{
		padding-top: 4.5rem;
	}
}*/
/* ################################################## */





/* ################################################## */
/* HEADER SCROLL */
/* ################################################## */
@media(min-width: 992px){

	.sub-lista a{
		font-family: var(--fuente-1-bold);
		color:var(--dorado);
	}

	#carouselBanner{
		margin-top: 9rem !important;
	}

	.lista_menu .dropdown-menu {
		margin-left: -25px !important;
	}

	.dropdown-linea{
		border-bottom: 3px solid var(--dorado);
		width: 90px;
		margin-right: -3px;
		display: none;
	}
	header *{
		-webkit-transition: all .75s ease;
		-moz-transition: all .75s ease;
		-ms-transition: all .75s ease;
		-o-transition: all .75s ease;
		transition: all .75s ease;
	}
	header{
		background-color: var(--blanco);
		height: auto;

		-webkit-transition: all .75s ease;
		-moz-transition: all .75s ease;
		-ms-transition: all .75s ease;
		-o-transition: all .75s ease;
		transition: all .75s ease;	
	}
	.nav-sec{
		opacity: 1;
	}
	#navbarTogglerMenuPri{
		opacity: 1;
	}
	.nav-pri .navbar-brand{
		width: 165px;
	}

	.js-header-scrollDown{
		margin-top: 0;
		padding-bottom: 2rem;
	}
	.js-header-scrollDown .nav-sec{
		opacity: 0;
		pointer-events: none;
	}
	.js-header-scrollDown #navbarTogglerMenuPri{
		opacity: 0;
		pointer-events: none;
	}
	.js-header-scrollDown .nav-pri .navbar-brand{
		top: .5rem;
		width: 165px;
	}
}
@media(min-width: 1200px){
	.nav-pri .navbar-brand{
		width: 220px;
	}
	.js-header-scrollDown .nav-pri .navbar-brand{
		top: 1rem;
	}
}


.offcanvas.offcanvas-top {
    top: 115px;;
 }   

 .offcanvas-backdrop {
    top: 115px;
}

.offcanvas{
	--bs-offcanvas-transition: 0 !important;
}

.lista_menu {
	list-style: none;
	position: relative;
}

.lista_menu  .dropend{
   position: initial !important;
}

.lista_menu a{
	color:#fff;
	font-size: 1.2rem;
	text-decoration: none;
	list-style: none;
	width: 350px;
    display: inline-block;
    position: relative;
}




.flecha-menu{
	height: 15px;
	padding-right:1rem;
}

.imagen-menu{
	border-top-right-radius: 55px;
}

.offcanvas.offcanvas-top {
    height:35vh !important;
}

.dropend .dropdown-toggle::after {
    display: none;
}



/* ################################################## */



/* ################################################## */
/* VELO MENÚ*/
/* ################################################## */



.menuSecuVelo {
    position: absolute;
    z-index: 1;
    top: 14%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.menuSecuVelo--activo {
    z-index: 8;
    display: block;
}

/* ################################################## */
