/* ################################################## */
/* MÃSCARA DE VIDEO */
/* ################################################## */
.mascara-video{
    position: relative;
    width: 100%;
    height: 100%;
}

/*.mascara-video > video{
    display: block;
}*/



.mascara-video__velo{
    background-color: var(--negro-30);
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}
.mascara-video__img-play{
    position: absolute;
    top: 50%;
    left: 50%;

    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    height: 5rem;
}



/* MEDIA QUERYS */
@media(min-width: 576px){
	.mascara-video__img-play{
		height: 6rem;
	}
}
@media(min-width: 768px){
    .mascara-video__img-play{
        height: 7rem;
    }
}
@media(min-width: 992px){
    .mascara-video__img-play{
        height: 8rem;
    }
}
@media(min-width: 1200px){
    .mascara-video__img-play{
        height: 9rem;
    }
}
/* ################################################## */
