/* ################################################## */
/* VIDEO BANNER */
/* PÃGINAS: (home, ) */
.video-banner{
	position: relative;
}
.video-banner video{
	display: block;
}

.video-banner > .container{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2rem;
}

.video-banner__caja-texto{
	font-family: var(--fuente-2);
	color: var(--blanco);

	background-image: url(http://placehold.it/650x560);
	background-image: url(../../img/web/video-banner__caja-texto-adorno.svg);
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size: contain;

	position: absolute;
	bottom: 0;
	right: 0;

	/*width: 650px;
	height: 560px;*/
	width: 15rem;
	height: 12rem;
	padding-top: 5rem;
}
.video-banner__caja-texto strong{
	font-family: var(--fuente-2-bold);
}
.video-banner__txt-1{
	font-size: 1rem;
}
.video-banner__txt-2{
	font-size: 1.75rem;
	line-height: 1.75rem;
}
.video-banner__txt-3{
	font-size: 1.35rem;
	border-bottom: 4px solid var(--dorado);
	margin-top: -.25rem;
	margin-right: .25rem;
}
.video-banner__txt-4{
	font-size: 3rem;
	line-height: 2rem;
}



/* ESTADOS */




/* MEDIA QUERYS */
@media(min-width: 576px){
	.video-banner__caja-texto{
		width: 24.75rem;
		height: 20rem;
	}
	.video-banner__txt-1{
		font-size: 1.5rem;
	}
	.video-banner__txt-2{
		font-size: 2.5rem;
		line-height: 2.5rem;
	}
	.video-banner__txt-3{
		font-size: 2.25rem;
		border-bottom: 6px solid var(--dorado);
		margin-right: .5rem;
	}
	.video-banner__txt-4{
		font-size: 4rem;
		line-height: 3.5rem;
	}
}
@media(min-width: 768px){
	.video-banner__caja-texto{
		width: 29.5rem;
		height: 24rem;
	}
	.video-banner__txt-1{
		font-size: 1.5rem;
	}
	.video-banner__txt-2{
		font-size: 3rem;
		line-height: 3rem;
	}
	.video-banner__txt-3{
		font-size: 2.5rem;
		border-bottom: 9px solid var(--dorado);
	}
	.video-banner__txt-4{
		font-size: 4.5rem;
		line-height: 4rem;
	}
}
@media(min-width: 992px){
	.video-banner__caja-texto{
		width: 34rem;
		height: 28rem;
	}
	.video-banner__txt-1{
		font-size: 1.75rem;
	}
	.video-banner__txt-2{
		font-size: 3.5rem;
		line-height: 3.5rem;
	}
	.video-banner__txt-3{
		font-size: 2.75rem;
		border-bottom: 12px solid var(--dorado);
	}
	.video-banner__txt-4{
		font-size: 5rem;
		line-height: 4.5rem;
	}
}
@media(min-width: 1200px){
	.video-banner__caja-texto{
		width: 38rem;
		height: 31rem;
	}
	.video-banner__txt-1{
		font-size: 2rem;
	}
	.video-banner__txt-2{
		font-size: 4rem;
		line-height: 4rem;
	}
	.video-banner__txt-3{
		font-size: 3rem;
		border-bottom: 15px solid var(--dorado);
	}
	.video-banner__txt-4{
		font-size: 5.5rem;
		line-height: 5rem;
	}
}
/* ################################################## */
