/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Estilos del menú lateral */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

    .sidebar a {
        padding: 15px;
        text-decoration: none;
        color: white;
        text-align: center;
        border-bottom: 1px solid #444;
    }

        .sidebar a:hover {
            background-color: #575757;
        }

/* Contenido principal */
.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
}

.hidden {
    display: none; /* Oculta el contenido */
}

/* Estilos para los popups */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    .popup.active {
        display: block;
    }

    .popup button {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
    }

        .popup button:hover {
            background-color: #575757;
        }
