/* ################################################## */
/* FUENTES */
/* ################################################## */
@font-face {
    font-family: 'Calibri';
    /*src: url('../fonts/Calibri/Calibri.woff2') format('woff2'),*/
    src: url('../fonts/Calibri/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri-Italic';
    /*src: url('../fonts/Calibri/Calibri-Italic.woff2') format('woff2'),*/
    src: url('../fonts/Calibri/Calibri-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Calibri-Bold';
    /*src: url('../fonts/Calibri/Calibri-Bold.woff2') format('woff2'),*/
    src:   url('../fonts/Calibri/Calibri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri-BoldItalic';
    /*src: url('../fonts/Calibri/Calibri-BoldItalic.woff2') format('woff2'),*/
    src:  url('../fonts/Calibri/Calibri-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'HelveticaLTStd-Cond';
    /*src: url('../fonts/HelveticaLTStd/HelveticaLTStd-Cond.woff2') format('woff2'),*/
    src: url('../fonts/HelveticaLTStd/HelveticaLTStd-Cond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaLTStd-BoldCond';
    /*src: url('../fonts/HelveticaLTStd/HelveticaLTStd-BoldCond.woff2') format('woff2'),*/
    src:  url('../fonts/HelveticaLTStd/HelveticaLTStd-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/****************************************************************/
/* ####################NUEVA FONT GOTHAM###################### */
/***************************************************************/


@font-face {
    font-family: 'Gotham-Black';

    src:  url('../fonts/Gotham-Ultra/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book-Regular';
    src:  url('../fonts/Gotham-Ultra/Gotham-Book-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src:  url('../fonts/Gotham-Ultra/Gotham-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}