@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-03-colpa/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-03-colpa/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-03-colpa/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5"> Colpa– 5S</h3>
                <h1 class="bannerInterno__titulo fuente-3">Estándar COLPA</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>

    <section class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="imagenes/pagina-interna/iconos-circulos.png" alt="">
                    <p class="fuente-4 py-3">
                        La filosofía COLPA se encuentra en nuestro ADN. Es una filosofía japonesa (5S) que traducida al castellano promueve cinco hábitos: clasificar, ordenar, limpiar, prevenir y autodisciplina; que van más allá de la esfera laboral y que pueden aplicarse en la vida diaria.
                    </p>
                </div>

            </div>
        </div>

    </section>


    <section class="py-5">
        <div class="contenedor-ancho-circular">
            <div class="row">
                <div class="col-12 ">
                    <img src="imagenes/forma-derecha-dorada.png" class="img-fluid contenedor-gris__seccion-formaizdercha ">
                    <div class="row contenedor-gris__seccion ">
                        <div class="col-lg-4">
                            <img src="~/Content/img/400x400.png" alt="" class="img-fluid contenedor-gris__seccion-imagen">
                            <img src="imagenes/icono-circulo-dorado.png" class="img-fluid contenedor-gris__seccion-formaizquierda ">
                        </div>
                        <div class="col-lg-8 pt-5 pt-lg-0">
                            <h1 class="fuente-3 pb-2 dorado">
                                Estándar COLPA
                            </h1>
                            <p class="fuente-4 ">
                                Contamos con una herramienta importante que agrupa los lineamientos y criterios como guías consistentes para promover prácticas responsables y sostenibles en nuestras operaciones.
                                Tenemos dos estándares establecidos.
                            </p>
                            <div class=" contenedor-lista">
                                <ul class="pb-1">
                                    <li class="pb-1"> Estándar COLPA Rev.: 06 </li>
                                    <li> Estándar COLPA del Proceso – Minado Rev.: 00 </li>
                                </ul>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="position-relative py-5">
        <div class="container-custom2">
            <div class="row g-0">
                <div class="offset-xxl-1  col-12  col-xxl-3 d-flex flex-column pb-4 pe-xxl-5">
                    <h2 class="fuente-3">Premio Nacional Kaizen - 5S</h2>
                    <p class="fuente-4 gris-oscuro">Como parte del fortalecimiento de la disciplina COLPA, participamos en el Premio Nacional 5S-Kaizen, organizado por AOTS. Trabajamos esta metodología desde 1999, desde entonces hemos logrado obtener medallas de plata, oro y diamante en las diferentes participaciones.  </p>
                </div>

                <div class="col-12  col-xxl-8">
                    <div id="carousel-items" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/730x400.png" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/730x400.png" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/730x400.png" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/730x400.png" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/730x400.png" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/730x400.png" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex pt-4 pt-sm-0 pb-4">
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-items" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-items" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")

<!------------------------------------TABS---------------------------------------------->
<script src="~/Content/tabs/js/easyResponsiveTabs.js"></script>
<script src="~/Content/tabs/js/main.js"></script>
<!------------------------------------FN TABS---------------------------------------------->
</html>