@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-03-colpa/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-03-colpa/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-03-colpa/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5"> Colpa– 5S</h3>
                <h1 class="bannerInterno__titulo fuente-3">Estándar COLPA</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>

    <section class="py-5">
        <div class="container py-5">
            <div class="row">
                <div class=" col-lg-5 pb-5 contenedor-lista">
                    <p class="fuente-4">
                        Contamos con una herramienta importante que agrupa los lineamientos y criterios como guías consistentes para promover prácticas responsables y sostenibles en nuestras operaciones.
                        Tenemos dos estándares establecidos.
                    </p>
                    <ul>
                        <li class="pb-0"> <strong class="fuente-4">Estándar COLPA Rev.: 06 </strong></li>
                        <li> <strong class="fuente-4">Estándar COLPA del Proceso – Minado Rev.: 00</strong> </li>
                    </ul>
                    </p>
                </div>
                <div class=" col-lg-7 ">
                    <img src="~/Content/img/03-calidad-e-innovacion/03-03-colpa/03-03-01-estandar-colpa/01.png" alt="" class="img-fluid h-100 w-100 rounded-right-100">
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")

<!------------------------------------TABS---------------------------------------------->
<script src="~/Content/tabs/js/easyResponsiveTabs.js"></script>
<script src="~/Content/tabs/js/main.js"></script>
<!------------------------------------FN TABS---------------------------------------------->
</html>