
@Html.Partial("~/Views/Shared/_head.cshtml")

<!------------------------------------TABS---------------------------------------------->
<link href="~/Content/tabs/css/easy-responsive-tabs.css" rel="stylesheet" />
<!------------------------------------FN TABS------------------------------------------->
<!-- METAS -->
<title>Accionistas | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Accionistas | PODEROSA' />
<meta name='description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
<meta name='url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
<meta name='keywords' content='accionistas, estructura accionarial, reporte Anual de sostenibilidad, estatuto social, reporte cumplimiento del código de buen gobierno corporativo, Certificado OHSAS 18001 2007, Certificado ISO 9001 2015, Certificado ISO 14001 2015, Distintivo Empresa Socialmente Responsable, documentación, estados financieros, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Accionistas | PODEROSA' />
<meta property='og:description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
<meta property='og:url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/quienes-somos/accionistas/compartir.jpg' />
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4 ">
        <div class="bannerInterno__contenedor-largo">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-01-mejora-continua/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-01-mejora-continua/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-01-mejora-continua/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto-largo">
                <h3 class="bannerInterno__indice fuente-5">Mejora Continua</h3>
                <h1 class="bannerInterno__titulo-largo fuente-3">Metodología de solución de problemas</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </div>
    <section class="py-5">
        <div class="container text-center py-5">
            <div class="row ">
                <div class="col-6  col-md-6 col-lg-3 pb-5 ">
                    <img src="~/Content/img/pagina-interna-4/circulo-1.png" alt="" class="img-fluid ">
                </div>
                <div class="col-6 col-md-6  col-lg-3 pb-5">
                    <img src="~/Content/img/03-calidad-e-innovacion/03-01-mejora-continua/03-01-02-metodologia-solucion-de-problemas/01.jpg" alt="" class="img-fluid">
                </div>
                <div class="order-4  order-sm-4 order-lg-3 col-6 col-md-6 col-lg-3 pb-5  ">
                    <img src="~/Content/img/pagina-interna-4/circulo-3.png" alt="" class="img-fluid">
                </div>
                <div class="col-6 order-sm-3 col-md-6 col-lg-3 pb-5">
                    <img src="~/Content/img/03-calidad-e-innovacion/03-01-mejora-continua/03-01-02-metodologia-solucion-de-problemas/02.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <p class="fuente-4">
                Hemos establecido la mejora continua en todos los procesos, con la finalidad de adoptar herramientas y prácticas que nos ayuden a pensar desde una mentalidad de mejora, utilizando herramientas de calidad simples y accesibles para todos los colaboradores.
            </p>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>


