
@Html.Partial("~/Views/Shared/_head.cshtml")

<!------------------------------------TABS---------------------------------------------->
<link href="~/Content/tabs/css/easy-responsive-tabs.css" rel="stylesheet" />
<!------------------------------------FN TABS------------------------------------------->
<!-- METAS -->
<title>Accionistas | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Accionistas | PODEROSA' />
<meta name='description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
<meta name='url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
<meta name='keywords' content='accionistas, estructura accionarial, reporte Anual de sostenibilidad, estatuto social, reporte cumplimiento del código de buen gobierno corporativo, Certificado OHSAS 18001 2007, Certificado ISO 9001 2015, Certificado ISO 14001 2015, Distintivo Empresa Socialmente Responsable, documentación, estados financieros, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Accionistas | PODEROSA' />
<meta property='og:description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
<meta property='og:url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/quienes-somos/accionistas/compartir.jpg' />
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-01-mejora-continua/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-01-mejora-continua/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-01-mejora-continua/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Mejora Continua</h3>
                <h1 class="bannerInterno__titulo-largo fuente-3">Trabajo en equipo para la excelencia</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>
    <section class="py-5">
        <div class="contendor-iconos py-5">
            <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-1">
            <img src="~/Content/img/pagina-interna/forma-gris-transparente.png" alt="" class="contendor-iconos-img-2">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6">
                        <div class=" text-start pb-5">
                            <h2 class="fuente-3 granate">
                                Círculos de Mejora Continua (CMC):
                            </h2>
                            <p class="fuente-4">Son grupos autónomos de un mismo proceso que mejoran continuamente la calidad de su trabajo, productos y servicios.                    </p>
                        </div>
                        <div class=" text-start">
                            <h2 class="fuente-3 granate text-start">
                                Equipos de Trabajo (EDT):
                            </h2>
                            <p class="fuente-4 text-start">Los equipos de trabajo son grupos temporales de distintos procesos que colaboran para resolver un problema común.</p>
                        </div>
                    </div>
                    <div class="col-lg-6  pt-5 pt-lg-0">
                        <img src="~/Content/img/03-calidad-e-innovacion/03-01-mejora-continua/03-01-01-equipos-de-trabajo-cmcedt/01.png" alt="" class="w-100 h-100 rounded-80">
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>


