/* #################################################################################################### */
/* ETIQUETAS */
/* #################################################################################################### */

/**:last-child{
    margin-bottom: 0 !important;
}*/

html{
    font-size: 15px;
}

body{
    /*background-color: var(--color-3);*/
    color: var(--color-4);
    font-family: var(--fuente-1);
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: var(--fuente-2);
    line-height: 1.1;
    margin-bottom: 1rem;
}
h1, .h1 {
    font-size: 2.5rem;
}
h2, .h2 {
    font-size: 2rem;
}
h3, .h3 {
    font-size: 1.75rem;
}
h4, .h4 {
    font-size: 1.5rem;
}
h5, .h5 {
    font-size: 1.25rem;
}
h6, .h6 {
    font-size: 1rem;
}

p:last-child,
ul:last-child,
ol:last-child,
blockquote:last-child,
figure:last-child{
    margin-bottom: 0;
}

ul, ol{
    padding-left: 1rem;
}

/*ul li{
    color: var(--color-1);
}
ul li p{
    color: var(--color-2);
}*/

/*em{
    font-family: var(--fuente-1-italic);
}
strong{
    font-family: var(--fuente-1-bold);
}
strong em{
    font-family: var(--fuente-1-bold-italic);
}*/

a{
    /*color: var(--color-1);*/
    color: inherit;
}
a:hover{
    /*color: var(--color-1);*/
    color: inherit;
}

hr{
    border-color: inherit;
}

form{
    
}
/*input:not([type=checkbox]),
input:not([type=radio]),*/
input {
    border: 0;
    /*font-family: var(--fuente-1-italic);*/
    background-color: var(--color-blanco);
    color: var(--color-negro);
    width: 100%;
    padding: .5em .8em;
    border-radius: .4em;
    margin-bottom: .5rem;
}

/* MEDIA QUERYS */
@media(min-width: 576px){
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6{
        margin-bottom: 1.5rem;
    }
    h1, .h1 {
        font-size: 3rem;
    }
    h2, .h2 {
        font-size: 2.5rem;
    }
    h3, .h3 {
        font-size: 2rem;
    }
    p,
    ul,
    ol,
    blockquote,
    figure{
        margin-bottom: 1.5rem;
    }
}
@media(min-width: 768px){
    html{
        font-size: 16px;
    }
}
@media(min-width: 992px){
    html{
        font-size: 18px;
    }
}
@media(min-width: 1200px){
    html{
        font-size: 20px;
    }
}

/* #################################################################################################### */
