/* #################################################################################################### */
/* VARS */
/* #################################################################################################### */

:root{
    /* FUENTES */
    --fuente-1: 'MuseoSans-300';
    --fuente-2: 'Museo900-Regular';

    /* COLORES SÓLIDOS */
    --color-transparente: transparent;
    --color-blanco: #fff;
    --color-negro: #000;

    --color-1: #bc9d56;
    --color-2: #ea660a;
    --color-3: #75b52d;
    --color-4: #61544c;
    --color-5: #199ad7;

    --color-6: #d8a400;
    --color-7: #a29d96;
}

/* #################################################################################################### */
