@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>
    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-04-calidad-total/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-04-calidad-total/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-04-calidad-total/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Calidad Total</h3>
                <h1 class="bannerInterno__titulo-largo fuente-3">
                    Calidad en los procesos
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
        <section class="py-5">
            <div class="container py-5">
                <div class="row">
                    <div class=" col-lg-6 col-md-12 mb-5 mb-lg-5">
                        <img src="~/Content/img/03-calidad-e-innovacion/03-04-calidad-total/03-04-02-calidad-de-los-procesos/01.png" alt="" class="img-fluid h-100 w-100 rounded-right-100">
                    </div>

                    <div class=" col-lg-6 col-md-12  contenedor-lista">
                        <p class="fuente-4">Nuestro objetivo es lograr la efectividad organizacional, combinando eficiencia y eficacia. Por ello, nos centramos en el fortalecimiento de todos los procesos mediante el:  </p>
                        <ul>
                            <li class="pb-2 fuente-4"> Mejoramiento continuo</li>
                            <li class="pb-2 fuente-4"> Enfoque sistémico</li>
                            <li class="pb-2 fuente-4"> Innovación</li>
                            <li class="pb-2 fuente-4"> Control estadístico de procesos</li>
                            <li class="pb-2 fuente-4">   Aseguramiento</li>
                        </ul>
                        <!--  <p class="fuente-4">Para conseguir la <strong>Efectividad organizacional (Eficiencia + Eficacia).</strong> </p> -->
                    </div>
                </div>
            </div>
        </section>
        @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
