@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>

    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
<div class="pt-4 ">
    <div class="bannerInterno__contenedor">
        <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
        <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
        <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
        <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
        <div class="bannerInterno__texto">
            <h1 class="bannerInterno__titulo-largo fuente-3">
                Gestión De La Calidad
            </h1>
        </div>
        <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
    </div>

    <section class="py-3">
        <div class="container text-center py-5">
            <p class="fuente-4 pb-5">
                La Semana de la Calidad es el más importante encuentro anual donde se presentan Proyectos de Mejora categoría producción y Procesos Estratégicos y de Soporte por el Minero de Plata y Minero de Oro. Este encuentro incluye conferencias magistrales.<br>
                Desde 2002, Poderosa participa activamente en la Semana de la Calidad de la Sociedad Nacional de Industrias, donde los ganadores de la Semana de la Calidad de la empresa participan por el reconocimiento a las mejores prácticas de excelencia.
            </p>
            <div class="row ">
                <div class="col-6  col-md-6 col-lg-3 pb-5 ">
                    <img src="~/Content/img/pagina-interna-4/circulo-1.png" alt="" class="img-fluid ">
                </div>
                <div class="col-6 col-md-6  col-lg-3 pb-5">
                    <img src="~/Content/img/03-calidad-e-innovacion/03-02-gestion-de-calidad/03-02-01-semana-de-la-calidad-poderosa/01.png" alt="" class="img-fluid">
                </div>
                <div class="order-4  order-sm-4 order-lg-3 col-6 col-md-6 col-lg-3 pb-5 ">
                    <img src="~/Content/img/pagina-interna-4/circulo-3.png" alt="" class="img-fluid">
                </div>
                <div class="col-6 order-sm-3 col-md-6 col-lg-3 pb-5">
                    <img src="~/Content/img/03-calidad-e-innovacion/03-02-gestion-de-calidad/03-02-01-semana-de-la-calidad-poderosa/02.png" alt="" class="img-fluid">
                </div>
            </div>

        </div>
    </section>

    <section class="py-3">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 pb-5">
                    <p class="fuente-4">Poderosa recibió este premio en el 2023, destacándose como un referente en prácticas de gestión. Este galardón se otorga a las empresas que demuestran una gestión de calidad excepcional y tiene como propósito apoyar a las organizaciones en la implementación de sistemas integrales de calidad y productividad.</p>
                </div>
                <div class="col-lg-7 ">
                    <div id="carousel-small-1" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carousel-small-1" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carousel-small-1" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                            <button type="button" data-bs-target="#carousel-small-1" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img src="~/Content/img/800x300.png" class="d-block img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/img/800x300.png" class="d-block img-fluid" alt="...">
                            </div>
                            <div class="carousel-item active">
                                <img src="~/Content/img/800x300.png" class="d-block img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="contenedor-ancho-circular">
            <div class="row">
                <div class="col-12 ">
                    <img src="~/Content/img/forma-derecha-dorada.png" class="img-fluid contenedor-gris__seccion-formaizdercha ">
                    <div class="row contenedor-gris__seccion ">
                        <div class="col-lg-4">
                            <img src="~/Content/img/400x400.png" alt="" class="img-fluid contenedor-gris__seccion-imagen">
                            <img src="~/Content/img/icono-circulo-dorado.png" class="img-fluid contenedor-gris__seccion-formaizquierda ">
                        </div>
                        <div class="col-lg-8 pt-5 pt-lg-0">
                            <p class="fuente-4 "> La rendición de cuentas y transparencia son pilares fundamentales del quehacer corporativo que promueven el desarrollo, la confianza y la convivencia social. Es por ello que desde el 2011 participamos voluntaria y activamente en la implementación de esta iniciativa de la que el Perú es pionero en la región.</p>
                            <p>El EITI es un esfuerzo del que participan representantes de estados, empresas de los sectores extractivos y distintos grupos representativos de la sociedad civil. Su implementación promueve la transparencia y la rendición de cuentas de las empresas mineras, petrolíferas y gasíferas, y de los estados respecto a los ingresos recibidos de parte de las industrias extractivas. De esta manera, el EITI contribuye significativamente a fortalecer la gobernanza de estas importantes actividades económicas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-3">
        <div class="container py-5">
            <div class="row">
                <div class=" col-lg-6 col-md-12 mb-5 mb-lg-5">
                    <img src="~/Content/img/600x300.png" alt="" class="img-fluid h-100 w-100 rounded-right-100">
                </div>

                <div class=" col-lg-6 col-md-12  contenedor-lista">
                    <p class="fuente-4">Nuestro objetivo es lograr la efectividad organizacional, combinando eficiencia y eficacia. Por ello, nos centramos en el fortalecimiento de todos los procesos mediante el:  </p>
                    <ul>
                        <li class="pb-2 fuente-4"> Mejoramiento continuo</li>
                        <li class="pb-2 fuente-4"> Enfoque sistémico</li>
                        <li class="pb-2 fuente-4"> Innovación</li>
                        <li class="pb-2 fuente-4"> Control estadístico de procesos</li>
                        <li class="pb-2 fuente-4">   Aseguramiento</li>
                    </ul>
                    <!--  <p class="fuente-4">Para conseguir la <strong>Efectividad organizacional (Eficiencia + Eficacia).</strong> </p> -->
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
