@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>

    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto-largo">
                <h3 class="bannerInterno__indice fuente-5">Gestión De La Calidad</h3>
                <h1 class="bannerInterno__titulo-largo fuente-3">
                    Premio Nacional a la Calidad - Reconocimiento más importante en Perú
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>

    <section class="py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-5 pb-5">
                    <p class="fuente-4">Poderosa recibió este premio en el 2023, destacándose como un referente en prácticas de gestión. Este galardón se otorga a las empresas que demuestran una gestión de calidad excepcional y tiene como propósito apoyar a las organizaciones en la implementación de sistemas integrales de calidad y productividad.</p>
                </div>
                <div class="col-lg-7 ">
                    <div id="carousel-small-1" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carousel-small-1" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carousel-small-1" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                            <button type="button" data-bs-target="#carousel-small-1" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img src="https://placehold.co/800x300" class="d-block img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://placehold.co/800x300" class="d-block img-fluid" alt="...">
                            </div>
                            <div class="carousel-item active">
                                <img src="https://placehold.co/800x300" class="d-block img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
