@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>

    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-02-gestion-de-la-calidad/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto-largo">
                <h3 class="bannerInterno__indice fuente-5">Gestión De La Calidad</h3>
                <h1 class="bannerInterno__titulo-largo fuente-3">
                    Semana de la Calidad Sociedad Nacional de Industrias
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>

        <section class="py-5">
            <div class="container text-center py-5">
                <p class="fuente-4 pb-5">
                    Desde 2002, Poderosa participa activamente en la Semana de la Calidad de la Sociedad Nacional de Industrias, donde los ganadores de la Semana de la Calidad de la empresa participan por el reconocimiento a las mejores prácticas de excelencia.
                </p>
                <div class="row ">
                    <div class="col-6  col-md-6 col-lg-3 pb-5">
                        <img src="~/Content/img/pagina-interna-4/circulo-1.png" alt="" class="img-fluid ">
                    </div>
                    <div class="col-6 col-md-6  col-lg-3 pb-5">
                        <img src="~/Content/img/03-calidad-e-innovacion/03-02-gestion-de-calidad/03-02-02-semana-de-la-calidad-sociedad-nacional-de-industrias/01.png" alt="" class="img-fluid">
                    </div>
                    <div class="order-4  order-sm-4 order-lg-3 col-6 col-md-6 col-lg-3 pb-5 ">
                        <img src="~/Content/img/pagina-interna-4/circulo-3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 order-sm-3 col-md-6 col-lg-3 pb-5 ">
                        <img src="~/Content/img/03-calidad-e-innovacion/03-02-gestion-de-calidad/03-02-02-semana-de-la-calidad-sociedad-nacional-de-industrias/02.png" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
        </section>

        @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>

