@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Directorio y Gerencia | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Directorio y Gerencia | PODEROSA' />
<meta name='description' content='Miembros del directorio, gerencia y equipo administrativo' />
<meta name='url' content='https://www.poderosa.com.pe/quienes-somos/directorio-y-gerencia' />
<meta name='keywords' content='directorio, gerencia, equipo administrativo, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Directorio y Gerencia | PODEROSA' />
<meta property='og:description' content='Miembros del directorio, gerencia y equipo administrativo' />
<meta property='og:url' content='https://www.poderosa.com.pe/quienes-somos/directorio-y-gerencia' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/quienes-somos/directorio-y-gerencia/compartir.jpg' />
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/01-quienes-somos/directorio-y-gerencia/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/directorio-y-gerencia/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/directorio-y-gerencia/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <div class="bannerInterno__texto">
                <h1 class="bannerInterno__titulo fuente-3">Directorio Y Gerencia</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png"
                 class="img-fluid bannerInterno__small"
                 alt="" />
        </div>
    </div>
    <section class="py-5">
        <div class="container">
            <div class="mb-5">
                <h1 class="fuente-3 dorado">Directorio</h1>
                <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="" />
            </div>

            <div class="contenedor-directorio">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4 contenedor-directorio__foto mb-3">
                        <img src="~/Content/img/01-quienes-somos/directorio-y-gerencia/luz-evangelina-arias-vargas-2025.png" alt="" class="img-fluid" />
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <h3 class="fuente-3 dorado mb-1">
                            Evangelina Arias de Sologuren
                        </h3>
                        <h5 class="fuente-5">Presidenta Ejecutiva Del Directorio</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Juan A. Assereto Duharte</strong></a>
                            <br />
                            <a href="#" class="marron" target="_blank">
                                <strong class="fuente-4">Carolina M. Castro Quirós</strong>
                            </a>
                        </div>

                        <div class="fuente-5 mt-4">
                            <a href="#" class="button" data-toggle="modal" data-target="#director_1"> Ver más</a>
                        </div>
                    </div>
                    <div class="contenedor-directorio__formas">
                        <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png"
                             alt=""
                             class="img-fluid forma-1" />
                        <img src="~/Content/img/pagina-interna-4/icono-gris-trasparente.png"
                             alt=""
                             class="img-fluid forma-2" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="contenedor-directores">
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">José E. Picasso Salinas</h4>
                        <h5 class="fuente-5">Vice Presidente</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Ricardo E. Revoredo Luna</strong></a>
                            <br />
                            <a href="#" class="marron" target="_blank">
                                <strong class="fuente-4">Christian D. Eidson Aubry</strong>
                            </a>
                        </div>

                        <div class="fuente-5 my-4">
                            <a href="#" class="button"> Ver más</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Adolfo D. Arias Díaz</h4>
                        <h5 class="fuente-5">Director</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Carlos F. Aranda Arce</strong></a>
                            <br />
                            <a href="#" class="marron" target="_blank">
                                <strong class="fuente-4">Luis C. Marchese Montenegro</strong>
                            </a>
                        </div>

                        <div class="fuente-5 my-4">
                            <a href="#" class="button"> Ver más</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Ana C. Arias de Picasso</h4>
                        <h5 class="fuente-5">Directora</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Eduardo J. Ferrero Costa</strong></a>
                            <br />
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Ricardo E. Revoredo Luna</strong></a>
                        </div>

                        <div class="fuente-5 my-4">
                            <a href="#" class="button"> Ver más</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">
                            Víctor A. Ostolaza Fernández Prada
                        </h4>
                        <h5 class="fuente-5">Director</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank">
                                <strong class="fuente-4">Carolina M. Castro Quirós</strong>
                            </a>
                            <br />
                            <a href="#" class="marron" target="_blank">
                                <strong class="fuente-4">Fernando A. Cantuarias Alfaro</strong>
                            </a>
                        </div>

                        <div class="fuente-5 my-4">
                            <a href="#" class="button"> Ver más</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Victoria I. Arias Vargas</h4>
                        <h5 class="fuente-5">Directora</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank">
                                <strong class="fuente-4">Fernando A. Cantuarias Alfaro</strong>
                            </a>
                            <br />
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Carlos F. Aranda Arce </strong></a>
                        </div>

                        <div class="fuente-5 my-4">
                            <a href="#" class="button"> Ver más</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Jorge A. Picasso Salinas</h4>
                        <h5 class="fuente-5">Director</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Ricardo E. Revoredo Luna</strong></a>
                            <br />
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Rafael Picasso Salinas</strong></a>
                        </div>

                        <div class="fuente-5 my-4">
                            <a href="#" class="button"> Ver más</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Marcelo Santillana Salas</h4>
                        <h5 class="fuente-5">Director</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Juan A. Assereto Duharte</strong></a>
                            <br />
                            <a href="#" class="marron" target="_blank">
                                <strong class="fuente-4">
                                    Carolina M. Castro Quiros
                                </strong>
                            </a>
                        </div>

                        <div class="fuente-5 my-4">
                            <a href="#" class="button"> Ver más</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Walter E. Sologuren Jordan</h4>
                        <h5 class="fuente-5">Director</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Juan A. Proaño Arias</strong></a>
                            <br />
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Juan A. Assereto Duharte</strong></a>
                        </div>

                        <div class="fuente-5 my-4">
                            <a href="#" class="button"> Ver más</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">
                            José N. De Bernardis Cuglieván
                        </h4>
                        <h5 class="fuente-5">Director</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Eduardo J. Ferrero Costa</strong></a>
                            <br />
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Ricardo E. Revoredo Luna</strong></a>
                        </div>

                        <div class="fuente-5 my-4">
                            <a href="#" class="button"> Ver más</a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Jose N. Marún Sales</h4>
                        <h5 class="fuente-5">Director</h5>
                        <div>
                            <h6 class="mb-2">
                                <strong class="fuente-3">Directores Alternos</strong>
                            </h6>
                            <a href="#" class="marron" target="_blank"><strong class="fuente-4">Juan A. Proaño Arias</strong></a>
                            <br />
                            <a href="#" class="marron" target="_blank">
                                <strong class="fuente-4">Luis C. Marchese Montenegro</strong>
                            </a>
                        </div>

                        <div class="fuente-5 my-4">
                            <a href="#" class="button"> Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-dorado-claro-1">
        <div class="container">
            <div class="mb-5">
                <h1 class="fuente-3 marron">Gerencia Y Equipo Administrativo</h1>
                <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="" />
            </div>

            <div class="contenedor-directorio">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-4 contenedor-directorio__foto mb-3">
                        <img src="~/Content/img//01-quienes-somos/directorio-y-gerencia/russell-marcelo-santillana-salas.png"
                             alt=""
                             class="img-fluid" />
                    </div>
                    <div class="col-md-6 col-lg-8">
                        <div class="d-flex gap-4 py-4">
                            <img src="~/Content/img/pagina-interna-4/icono-comillas.png"
                                 alt=""
                                 class="img-fluid contenedor-directorio__icono" />
                        </div>
                        <h3 class="fuente-3 dorado mb-1">Marcelo Santillana Salas</h3>
                        <h5 class="fuente-5">Gerente General</h5>
                    </div>
                    <div class="contenedor-directorio__formas">
                        <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png"
                             alt=""
                             class="img-fluid forma-1" />
                        <img src="~/Content/img/pagina-interna-4/icono-gris-trasparente.png"
                             alt=""
                             class="img-fluid forma-2" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dorado-claro-1">
        <div class="container">
            <div class="contenedor-directores">
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">
                            Evangelina Arias de Sologuren
                        </h4>
                        <h5 class="fuente-5">Presidente Ejecutiva</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">José A. Elejalde Noya</h4>
                        <h5 class="fuente-5">
                            Gerente De Administración, Finanzas Y Comercialización
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Daniel R. Torres Espinoza</h4>
                        <h5 class="fuente-5">Gerente De Operaciones</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Pio W. Carrasco Viza</h4>
                        <h5 class="fuente-5">Gerente De Operaciones Adjunto</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Walter T. Díaz Meyzan</h4>
                        <h5 class="fuente-5">Gerente Del Sistema Integrado De Gestión</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Pablo De La Flor Belaunde</h4>
                        <h5 class="fuente-5">Gerente De Asuntos Corporativos</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">York S. Dueñas Boada</h4>
                        <h5 class="fuente-5">Subgerente De Tecnología De Información</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Anibal R. La Puente Valdivia</h4>
                        <h5 class="fuente-5">Subgerente Logística & Costos</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Jimena P. Sologuren Arias</h4>
                        <h5 class="fuente-5">
                            Subgerente De Responsabilidad Social Y Comunicaciones
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Diego E. Sologuren Arias</h4>
                        <h5 class="fuente-5">
                            Subgerente De Innovación Y Proyectos Estratégicos
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Máximo T. Simón Zavala</h4>
                        <h5 class="fuente-5">Superintendente De Planta</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">José A. Estela Ramírez</h4>
                        <h5 class="fuente-5">Superintendente De Proyectos Energéticos</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Wilfredo F. Chuco Valenzuela</h4>
                        <h5 class="fuente-5">Superintendente De Calidad</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Mario M. Echeverria Carrillo</h4>
                        <h5 class="fuente-5">
                            Superintendente De Energía Y Mantenimiento
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Jimmy C. Zavala Alegre</h4>
                        <h5 class="fuente-5">
                            Superintendente Adjunto De Energía Y Mantenimiento
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Victor E. Flores Sanchez</h4>
                        <h5 class="fuente-5">Superintendente De Unidad De Producción</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Juan J. Leureyro Rivera</h4>
                        <h5 class="fuente-5">Superintendente De Geología Up Marañon</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Ivan H. Lagones Cardenas</h4>
                        <h5 class="fuente-5">
                            Superintendente De Seguridad Y Salud En El Trabajo
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">
                            Lorgio Del Castillo Velasquez
                        </h4>
                        <h5 class="fuente-5">
                            Superintendente Adjunto De Seguridad Y Salud En El Trabajo
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Carlos A. Medrano Raymundo</h4>
                        <h5 class="fuente-5">Superintendente De Exploraciones</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Carlos Oré Sanchez</h4>
                        <h5 class="fuente-5">
                            Superintendente De La Unidad De Producción Santa María
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Alex S. Rojas Guiterrez</h4>
                        <h5 class="fuente-5">
                            Superintendente De Planeamiento E Ingeniería Y Proyectos
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Baltazar Obando Ochoa</h4>
                        <h5 class="fuente-5">
                            Superintendente Adjunto De Planeamiento E Ingeniería Y Proyectos
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Antony O. Ortega Tapia</h4>
                        <h5 class="fuente-5">
                            Superintendente De La Unidad De Producción Santa María
                        </h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Dennis I. Marcos Alvarez</h4>
                        <h5 class="fuente-5">Superintendente De Acopio</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Yvonne J. Lomparte Huayra</h4>
                        <h5 class="fuente-5">Superintendente De Gestión Ambiental</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Luz Mateu Mateo</h4>
                        <h5 class="fuente-5">Superintendente De Laboratorio Químico</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Carlos J.Romero Von Bancels</h4>
                        <h5 class="fuente-5">Superintendente De Seguridad Patrimonial</h5>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-0 mb-md-5">
                        <h4 class="fuente-3 dorado mb-1">Dante A. Benites Rebaza</h4>
                        <h5 class="fuente-5">Superintendente De Recursos Humanos</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @Html.Partial("~/Views/Shared/_footer.cshtml")
    <!-- jQuery (necesario para Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")

<div class="modal fade" id="director_1" role="dialog">
    <div class="modal-dialog modal-dialog_directores">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-dorado-claro-1 justify-content-end">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body bg-dorado-claro-1">
                <div class="row align-items-center">
                    <!-- Columna Izquierda (Alineada a la Derecha, pero con contenido alineado a la izquierda) -->
                    <div class="col-md-6 position-relative ms-auto">
                        <!-- Contenedor de imágenes decorativas detrás del contenido -->
                        <div class="contenedor-directorio__formas">
                            <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png"
                                 alt=""
                                 class="img-fluid forma-1">
                            <img src="~/Content/img/pagina-interna-4/icono-gris-trasparente.png"
                                 alt=""
                                 class="img-fluid forma-2">
                        </div>

                        <!-- Contenido en primer plano (mantiene su alineación a la izquierda) -->
                        <div class="d-flex flex-column align-items-start position-relative">
                            <div>
                                <h3 class="dorado fuente-3">Evangelina Arias de Sologuren</h3>
                                <p class="text-dark fuente-4">Presidenta Ejecutiva Del Directorio</p>
                            </div>
                        </div>
                        <div class="contenedor-directorio__formas">
                            <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png"
                                 alt=""
                                 class="img-fluid forma-1" />
                            <img src="~/Content/img/pagina-interna-4/icono-gris-trasparente.png"
                                 alt=""
                                 class="img-fluid forma-2" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column">
                            <p class="fuente-4 m-0"><strong>Director Titular</strong></p>
                            <p class="fuente-4 m-0"><strong>Género:</strong> Femenino</p>
                            <p class="fuente-4 m-0"><strong>Independiente:</strong> No</p>
                            <p class="fuente-4 m-0"><strong>Fecha de Nacimiento:</strong> 28/07/1949</p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-body">
                <p class="fuente-4">Presidenta Ejecutiva del Directorio. Se graduó como arquitecta en la Universidad Nacional de Ingeniería (UNI), ésta le otorgó el Título de Doctor Honoris Causa en el año 2014, y en el año 2013 la Facultad de Arquitectura de la UNI la distinguió con la Antorcha de Habich.</p>

                <p class="fuente-4">Actualmente es también Presidenta del Consejo Directivo de Asociación Pataz, Directora y Miembro del Consejo Consultivo de la Sociedad Nacional de Minería Petróleo y Energía (SNMPE), Directora de Compañía Minera San Ignacio de Morococha (SIMSA), Miembro del Consejo Empresario Asesor de la Fundación Internacional para La Libertad (FIL), Directora del Instituto de Ingenieros de Minas de Perú (IIMP), Miembro del Consejo Consultivo de la Carrera de Ingeniería de Gestión Minera en la Universidad Peruana de Ciencias Aplicadas (UPC), Miembro del Comité Consultivo del Comité Regional de Empresa, Estado, Academia y Sociedad Civil Organizada (CREEAS), Miembro fundador de Empresarios por la Integridad (ExI), Socia honoraria de Women in Mining (WIM), Miembro Women Corporate Directors (WCD), Miembro del Consejo Consultivo y Asociada honoraria de la Asociación de Mujeres Empresarias del Perú (AMEP), Miembro del Comité Minero de la Cámara de Comercio Canadá Perú (CCCP), entre otros.</p>

                <p class="fuente-4">Ha sido Presidenta de la Sociedad Interamericana de Minería SIM (2014-2016), Presidenta de la SNMPE (2013-2015), Directora de la Confederación de Instituciones Empresariales Privadas CONFIEP (2013-2015), Presidenta del Comité Sectorial Minero y Vicepresidenta de la SNMPE (2011-2013), Directora Alterna en la CONFIEP (2011-2013 y 2015-2017), miembro del Consejo Empresarial de América Latina CEAL (2013-2017), entre otros.</p>

                <p class="fuente-4">La señora Evangelina Arias Vargas de Sologuren es accionista con participación representativa en la empresa.</p>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.open-modal').click(function (e) {
                e.preventDefault(); // Evita que el enlace haga una redirección
                var targetModal = $(this).attr("data-target");
                $(targetModal).modal("show"); // Abre el modal manualmente
            });
        });
    </script>
}

</html>

