
    @Html.Partial("~/Views/Shared/_head.cshtml")

    <!------------------------------------TABS---------------------------------------------->
    <link href="~/Content/tabs/css/easy-responsive-tabs.css" rel="stylesheet" />
    <!------------------------------------FN TABS------------------------------------------->
     <!-- METAS -->
    <title>Accionistas | PODEROSA</title>
    <!-- Basic HTML Meta Tags -->
    <meta name='title' content='Accionistas | PODEROSA' />
    <meta name='description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
    <meta name='url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
    <meta name='keywords' content='accionistas, estructura accionarial, reporte Anual de sostenibilidad, estatuto social, reporte cumplimiento del código de buen gobierno corporativo, Certificado OHSAS 18001 2007, Certificado ISO 9001 2015, Certificado ISO 14001 2015, Distintivo Empresa Socialmente Responsable, documentación, estados financieros, poderosa' />
    <!-- OpenGraph Meta Tags -->
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Accionistas | PODEROSA' />
    <meta property='og:description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
    <meta property='og:url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
    <meta property='og:image' content='http://www.poderosa.com.pe/Content/img/quienes-somos/accionistas/compartir.jpg' />
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <main>

        <section>
            <div class="bannerInterno__contenedor">
                <img src="~/Content/img/cabeceras/07-Accionistas/01.jpg" class="img-fluid  h-auto w-100 d-none  d-lg-block" alt="">
                <img src="~/Content/img/cabeceras/07-Accionistas/01-movil.jpg" class="img-fluid  h-auto d-none d-md-block d-sm-none d-lg-none" alt="">
                <img src="~/Content/img/cabeceras/07-Accionistas/01-tablet.jpg" class="img-fluid  h-auto d-block d-md-none d-lg-none" alt="">
                <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
                <div class="bannerInterno__texto">
                    <h1 class="bannerInterno__titulo fuente-3">ACCIONISTAS</h1>
                </div>
                <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
            </div>
        </section>

        <section class="py-5">
            <div class="container">
                <div class=" text-center ">
                    <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="">
                    <h2 class="fuente-3 dorado pt-3">
                        Estructura Accionarial
                    </h2>
                    <p>Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.</p>
                </div>
            </div>
        </section>

        <section>
            <div class="row g-0">
                <div class="offset-lg-1 col-lg-3  col-md-12 p-0  d-lg-flex justify-content-lg-end">
                    <div class="imagen-encima-bloque-texto py-5">
                        <div class="container">

                            <p>Para mayor información, revise el capítulo 1 de <strong class="fuente-4">nuestro Reporte de Sostenibilidad 2023.</strong> </p>

                            <a href="~/Content/descargas/accionistas/reporte-sostenibilidad-2023.pdf" target="_blank" class="button-flecha button-flecha-dorado">
                                Descargar
                                <span class="button-flecha_icon">▶</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 imagen-encima-bloque-imagen">
                    <img src="~/Content/img/accionistas/02.jpg" alt="" class="img-fluid w-100">
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container text-center">
                <div class="row ">
                    <div class="col-6  col-md-6 col-lg-3 pb-5">
                        <img src="~/Content/img/pagina-interna-4/circulo-1.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 col-md-6  col-lg-3 pb-5">
                        <img src="~/Content/img/350x350-circular.png" alt="" class="img-fluid">
                    </div>
                    <div class="order-4  order-sm-4 order-lg-3 col-6 col-md-6 col-lg-3 pb-5 ">
                        <img src="~/Content/img/pagina-interna-4/circulo-3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 order-sm-3 col-md-6 col-lg-3 pb-5 ">
                        <img src="~/Content/img/350x350-circular.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container ">
                <div>
                    <div class="">
                        <div class="row ">
                            <div class="col-lg-3 pb-4 pb-lg-0">
                                <a href="~/Content/descargas/accionistas/estatuto-social-poderosa.pdf" target="_blank">
                                    <img src="~/Content/img/manual-plaft.jpg" alt="" class="img-fluid zoom-img border-coleccionables">
                                </a>
                            </div>
                            <div class="col-lg-3 d-flex flex-column mt-auto">
                                <h4 class="mt-auto"><strong class="fuente-3">Conoce a Detalle Nuestro Estatuto</strong></h4>
                                <div class="d-flex flex-column gap-3 pt-4">
                                    <a href="~/Content/img/descargas/accionistas/estatuto-social-poderosa.pdf" class="btn-descarga" target="_blank">
                                        Descargar
                                        <span class="btn-descarga-icon btn-descarga-dorado">
                                            <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3  pb-4 pb-lg-0">
                                <a href="imagenes/descargas/accionistas/principios-buen-gobierno-2023.pdf" target="_blank">
                                    <img src="~/Content/img/politica-de-cumplimiento-2023.jpg" alt="" class="img-fluid zoom-img border-coleccionables">
                                </a>
                            </div>
                            <div class="col-lg-3 d-flex flex-column mt-auto">
                                <h4><strong class="fuente-3 ">Reporte Cumplimiento del Código de buen Gob. Corporativo</strong></h4>
                                <div class="d-flex flex-column   gap-3 pt-4">

                                    <a href="imagenes/descargas/accionistas/principios-buen-gobierno-2023.pdf" class="btn-descarga" target="_blank">
                                        Descargar
                                        <span class="btn-descarga-icon btn-descarga-dorado">
                                            <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")

<!------------------------------------TABS---------------------------------------------->
<script src="~/Content/tabs/js/easyResponsiveTabs.js"></script>
<script src="~/Content/tabs/js/main.js"></script>
<!------------------------------------FN TABS---------------------------------------------->
</html>


