@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Proveedores | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Proveedores | PODEROSA' />
<meta name='description' content='Actualmente CIA. MINERA PODEROSA S.A. como parte de su proceso de mejora continua ha iniciado un proceso de homologación.' />
<meta name='url' content='http://www.poderosa.com.pe/home/proveedores' />
<meta name='keywords' content='Poderosa, minera, proceso, mejora, homologación' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Proveedores | PODEROSA' />
<meta property='og:description' content='Actualmente CIA. MINERA PODEROSA S.A. como parte de su proceso de mejora continua ha iniciado un proceso de homologación.' />
<meta property='og:url' content='http://www.poderosa.com.pe/home/proveedores' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/proveedores/compartir.jpg' />
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <main>

        <section>
            <div class="bannerInterno__contenedor">
                <img src="~/Content/img/proveedores/01.jpg" class="img-fluid  h-auto w-100 d-none  d-lg-block" alt="">
                <img src="~/Content/img/proveedores/01-tablet.jpg" class="img-fluid  h-auto d-none d-md-block d-sm-none d-lg-none" alt="">
                <img src="~/Content/img/proveedores/01-movil.jpg" class="img-fluid  h-auto d-block d-md-none d-lg-none" alt="">
                <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
                <div class="bannerInterno__texto">
                    <h1 class="bannerInterno__titulo fuente-3">Proveedores</h1>
                </div>
                <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
            </div>
        </section>

        <section class="py-5">
            <div class="container text-center ">
                <div class="row ">
                    <div class="col-12 fuente-4 text-center">
                        <p>Actualmente CIA. MINERA PODEROSA S.A. como parte de su proceso de mejora continua ha iniciado un proceso de homologación, el cual servirá para el diagnóstico de sus proveedores habituales considerados críticos, con el objetivo de disponer de una base de proveedores que cumplan con los estándares mínimos establecidos por Poderosa para la participación de los procesos de adjudicación de servicios y/o proyectos. </p>
                    </div>

                </div>
            </div>
        </section>
        I
        <section>
            <div class="row g-0">
                <div class="offset-lg-1 col-lg-3  col-md-12 p-0  d-lg-flex justify-content-lg-end">
                    <div class="imagen-encima-bloque-texto py-5">
                        <div class="container">
                            <p>
                                Es un proceso integral donde se realiza un análisis, investigación y evaluación en diferentes aspectos como comercial, recursos humanos, financiera, legal y CMSS (Calidad, Medio Ambiente, Seguridad, Salud Ocupacional y Responsabilidad Social) a todos nuestros proveedores con el fin de reforzar el vínculo comercial.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 imagen-encima-bloque-imagen">
                    <img src="~/Content/img/proveedores/02.jpg" alt="" class="img-fluid w-100">
                </div>
            </div>
        </section>

        <div class="container py-5 mt-5">
            <div class="contenedor-tres-filas">
                <div class=" text-center">
                    <h2 class="fuente-3 dorado pb-3">
                        Objetivo
                    </h2>
                    <div class="row ">
                        <div class="col-lg-6 contenedor-tres-filas__img">
                            <img src="~/Content/img/proveedores/03.jpg" alt="" class="img-fluid ">
                        </div>
                        <div class="col-lg-6">
                            <p class="text-start">Disponer de una lista de proveedores que cumplan con los estándares mínimos establecidos por Poderosa para la participación de los procesos de adjudicación de servicios y/o proyectos.</p>
                            <div class="contenedor-tres-filas__texto pb-3">

                                <div><img src="~/Content/img/proveedores/ico-03.png" alt="" class="px-4"></div>
                                <p class=" fuente-4">
                                    Establecer los lineamientos para validar los requisitos básicos establecidos según las políticas de Poderosa, para la contratación de un servicios u obra.
                                </p>
                            </div>
                            <div class="contenedor-tres-filas__texto pb-3">
                                <div><img src="~/Content/img/proveedores/ico-02.png" alt="" class="px-4"></div>
                                <p class="fuente-4">
                                    Contar con un maestro de proveedores actualizado para ofertar los servicios y/o proyectos.
                                </p>
                            </div>
                            <div class="contenedor-tres-filas__texto">
                                <div><img src="~/Content/img/proveedores/ico-01.png" alt="" class="px-4"></div>
                                <p class=" fuente-4">
                                    Validar que nuestros proveedores de servicios u obra cumplan con la Norma  nternacional ISO 37001:2016 (Sistemas de Gestión Antisoborno) y nuestro Sistema de Gestión de Cumplimiento y PLAFT.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="py-5">
            <div class="contenedor-mostaza ">
                <div class="row">
                    <div class="col-lg-6 ">
                        <img src="~/Content/img/proveedores/04.jpg" alt="" class="img-fluid h-100">
                    </div>
                    <div class="col-lg-6 ">
                        <div class="contenedor-mostaza_der">
                            <div class="row">
                                <div class="col-lg-5 d-flex justify-content-center align-items-center mb-3 mb-lg-0">
                                    <img src="~/Content/img/proveedores/circulo-01.png" alt="" class="img-fluid ">
                                </div>
                                <div class="col-lg-7 d-flex justify-content-center align-items-center">
                                    <div class="contenedor-mostaza_text">

                                        <p class="fuente-4">
                                            Si quiere ser parte de las empresas que brindan servicios para Poderosa, deberá contactarse con nuestro socio estratégico, el cual dará a conocer mayor detalle del proceso de homologación.
                                        </p>
                                        <div class="button-flecha  mt-3">
                                            Contactar Investing SAC.
                                            <span class="button-flecha_icon">▶</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="py-5">
            <div class="container">
                <div>
                    <div class="">
                        <div class="row ">
                            <div class="col-lg-6  pb-4 pb-lg-0">
                                <a href="~/Content/img/descargas/proveedores/poderosa-inicia-homologacion-de-proveedores-de-servicios-u-obra-es.pdf" target="_blank">
                                    <img src="~/Content/img/proveedores/doc-homologacion.png" alt="" class="img-fluid zoom-img">
                                </a>
                            </div>
                            <div class="col-lg-6">

                                <p class="fuente-4">Puede también revisar nuestro comunicado con respecto a las Homologaciones de proveedores en el siguiente documento:</p>
                                <h2><strong class="fuente-3">Homologación de proveedores</strong></h2>
                                <div class="d-flex flex-column   w-75 gap-3 pt-4">

                                    <a href="~/Content/img/descargas/proveedores/poderosa-inicia-homologacion-de-proveedores-de-servicios-u-obra-es.pdf" class="btn-descarga" target="_blank">
                                        Descargar PDF
                                        <span class="btn-descarga-icon btn-descarga-dorado">
                                            <img src="~/Content/img/icon-descarga.png" alt="Descargar" class="img-icon">
                                        </span>
                                    </a>
                                    <a href="~/Content/img/descargas/proveedores/poderosa-inicia-homologacion-de-proveedores-de-servicios-u-obra-en.pdf" class="btn-descarga" target="_blank">
                                        Versión Interactiva

                                        <span class="btn-descarga-icon btn-descarga-dorado">
                                            <img src="~/Content/img/icon-interactiva.png" alt="Descargar" class="img-icon">
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-dorado-claro-1 py-5 ">
            <div class="container   contenedor-lista">
                <div class="row">
                    <div class="col-xl-4 pl-5 pb-5">
                        <h1 class="fuente-3 dorado">
                            Tutoriales
                        </h1>
                        <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="">
                    </div>
                    <div class="col-xl-8 contenedor-lista__texto">
                        <p>Señores Proveedores, PODEROSA pone a su disposición los tutoriales con el paso a paso para la correcta presentación de los comprobantes de pago:</p>

                        <ul>
                            <li>
                                <strong class="fuente-4">Minería artesanal:</strong>
                                <a href="https://www.youtube.com/watch?v=Db3yJqfB0KY" target="_blank"> <span class="fuente-4"> https://www.youtube.com/watch?v=Db3yJqfB0KY</span></a>
                            </li>
                            <li>
                                <strong class="fuente-4">Servicios: </strong>
                                <a href="https://www.youtube.com/watch?v=hXovpSzWgzs" target="_blank"> <span class="fuente-4"> https://www.youtube.com/watch?v=hXovpSzWgzs</span></a>
                            </li>

                            <li>
                                <strong class="fuente-4">Activos fijos: </strong>
                                <a href="https://www.youtube.com/watch?v=5V6jaC6tFjA" target="_blank"> <span class="fuente-4"> https://www.youtube.com/watch?v=5V6jaC6tFjA</span></a>
                            </li>

                            <li>
                                <strong class="fuente-4">Compra de materiales: </strong>
                                <a href="https://www.youtube.com/watch?v=HHzLxzwKjAY" target="_blank"> <span class="fuente-4"> https://www.youtube.com/watch?v=HHzLxzwKjAY</span></a>
                            </li>

                            <li>
                                <strong class="fuente-4">Errores más comunes: </strong>
                                <a href="https://www.youtube.com/watch?v=iTCKIb2xmkA" target="_blank"> <span class="fuente-4"> https://www.youtube.com/watch?v=iTCKIb2xmkA</span></a>
                            </li>
                            <li>
                                <strong class="fuente-4">Honorarios profesionales: </strong>
                                <a href="https://www.youtube.com/watch?v=PxOX-JFJerY" target="_blank"> <span class="fuente-4"> https://www.youtube.com/watch?v=PxOX-JFJerY</span></a>
                            </li>
                            <li>
                                <strong class="fuente-4">Proceso de Facturación: </strong>
                                <a href="https://www.youtube.com/watch?v=H55BgJ1ZNmY" target="_blank"> <span class="fuente-4"> https://www.youtube.com/watch?v=H55BgJ1ZNmY</span></a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>
    </main>

    @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
