@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Quienes Somos | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Quienes Somos | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>

    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")

    <div class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/01-quienes-somos/quienes-somos/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/quienes-somos/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/01-quienes-somos/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h1 class="bannerInterno__titulo fuente-3">
                    Quiénes somos
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </div>

    <section class="py-5">
        <div class="container text-center ">
            <div class="row ">
                <div class="col-sm-6 fuente-4 text-start">
                    <p>Somos una empresa minera aurífera ubicada en el distrito y provincia de Pataz, La Libertad, Perú, operando a altitudes entre 1,250 y 3,000 metros sobre el nivel del mar. Nuestra operación cuenta con tres unidades de producción: Marañón, Santa María y Palca. Contamos con oficinas administrativas y almacenes ubicados en Lima y Trujillo, lo que fortalece nuestra presencia regional y nacional, y consolida nuestra posición como actor clave en la minería peruana.  </p>
                </div>
                <div class="col-sm-6 fuente-4 text-start">
                    <p>En Poderosa, contamos con una fuerza laboral compuesta por más de 7,000 personas, entre contratistas y personal de planilla, quienes desempeñan roles cruciales en diversas fases de la cadena de valor minera. Nos enorgullecemos de nuestra identidad como mineros responsables, dedicados a generar valor mientras minimizamos el impacto ambiental y fomentamos el bienestar de nuestras comunidades.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="row g-0">
            <div class="offset-lg-1 col-lg-3  col-md-12 p-0  d-lg-flex justify-content-lg-end">
                <div class="imagen-encima-bloque-texto py-5">
                    <div class="container">
                        <h2 class="fuente-3 pb-3">RESPETO</h2>
                        <p>Buscamos lograr un equilibrio apropiado entre nuestras operaciones y el medio ambiente que nos ayuden a liderar el camino hacia un futuro más sostenible.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 imagen-encima-bloque-imagen">
                <img src="~/Content/img/01-quienes-somos/quienes-somos/02.jpg" alt="" class="img-fluid w-100">
            </div>
        </div>
    </section>

    <section class="pb-5">
        <h1 class="fuente-3 dorado text-center">Habilitadores</h1>
        <div class="row gx-0 text-center">
            <div class="col-12 col-lg-4 d-flex flex-column bg-dorado-oscuro-2 p-4 p-xl-5">
                <h2 class="fuente-3 pt-4">Mentalidad de Crecimiento</h2>
                <p class="fuente-4 pb-4">Nos adaptamos de manera ágil e innovadora a diversas situaciones y entornos, mostrando apertura.</p>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column bg-dorado-2 p-4 p-xl-5">
                <h2 class="fuente-3 pt-4">Enfoque Integrador</h2>
                <p class="fuente-4 pb-4">Cuidamos y tomamos en cuenta cada detalle y rol como parte de una gran familia, para asegurar el mejor entregable posible.</p>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column bg-dorado-claro p-4 p-xl-5">
                <h2 class="fuente-3 pt-4">Impacto Positivo</h2>
                <p class="fuente-4 pb-4">Buscamos generar bienestar tomando en cuenta las características de las personas con las que nos relacionamos y de nuestro entorno.</p>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container text-center ">
            <div class="row ">
                <div class="col-12 col-lg-4 pb-3 text-start">
                    <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="">
                    <h2 class="fuente-3 dorado pt-3 text-nowrap">Eiti - Transparencia</h2>
                </div>
                <div class="col-12 col-lg-4  fuente-4 text-start">
                    <p> Compañía Minera Poderosa declara que desde el 2011 ha venido participando voluntaria y activamente en el proceso de implementación del EITI en el Perú. Ello obedece al convencimiento de que la transparencia y rendición de cuentas, componentes inamovibles del Estándar EITI, son pilares </p>
                </div>
                <div class=" col-12 col-lg-4  fuente-4 text-start">
                    <p> corporativos fundamentales y necesarios para que su actividad sea beneficiosa para el país. Asimismo, Compañía Minera Poderosa declara que apoya y alienta las políticas públicas y procesos que desde el Gobierno se implementen para transparentar el otorgamiento de licencias y contratos en su lucha contra la corrupción.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class=" text-center">
                <h1 class="fuente-3 dorado ">Valores Corporativos</h1>
                <!--  <p class="fuente-4 pb-2 text-center"> Nuestros principios y valores corporativos son los cimientos que moldean nuestra cultura organizacional y guían nuestro actuar en el día a día.</p> -->
            </div>
        </div>
        <div class="bloque-de-4">
            <div class="row">
                <div class="col-lg-6 bg-gris-oscuro-4 ">
                    <div class="bloque-de-4-derecho">
                        <h2 class="fuente-3 dorado ">Respeto</h2>
                        <p class="fuente-4 blanco">Tratamos como queremos ser tratados. Coherentes con lo que decimos y hacemos. Cumplimos con las leyes y cuidamos la naturaleza.</p>
                    </div>
                </div>
                <div class="col-lg-6 bg-gris-2 ">
                    <div class="bloque-de-4-izquierdo">
                        <h2 class="fuente-3 dorado">Productividad</h2>
                        <p class="fuente-4 blanco">Tenemos el compromiso de producir más, de mejor manera y con un buen uso de nuestros recursos. Respondemos y nos adaptamos ágilmente al cambio.</p>
                    </div>
                </div>
            </div>
            <div class="bloque-de-4-img">
                <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png" alt="" class="img-fluid ">
            </div>
        </div>
        <div class="bloque-de-4">
            <div class="row ">
                <div class="col-lg-6 bg-gris-2">
                    <div class="bloque-de-4-derecho">
                        <h2 class="fuente-3 dorado ">Aprendo y Enseño</h2>
                        <p class="fuente-4 blanco "> Pregunto lo que no sé y comparto lo que conozco.</p>
                    </div>
                </div>
                <div class="col-lg-6  bg-gris-oscuro-4 ">
                    <div class="bloque-de-4-izquierdo">
                        <h2 class="fuente-3 dorado">Integridad</h2>
                        <p class="fuente-4 blanco"> Honestos y justos, actuamos éticamente y hacemos lo correcto.</p>
                    </div>
                </div>
            </div>
            <div class="bloque-de-4-img">
                <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png" alt="" class="img-fluid ">
            </div>
        </div>
        <div class="bloque-de-4">
            <div class="row ">
                <div class="col-lg-6 bg-gris-oscuro-4">
                    <div class="bloque-de-4-derecho">
                        <h2 class="fuente-3 dorado">Trabajo en Equipo</h2>
                        <p class="fuente-4 blanco">Juntos encontramos la mejor solución y resultados. Sin soberbia y con respeto a las ideas de otros.</p>
                    </div>
                </div>
                <div class="col-lg-6  p-0 bloque-de-4-foto bg-gris-oscuro-4 ">
                    <img src="~/Content/img/01-quienes-somos/quienes-somos/03.jpg" alt="" class="img-fluid  h-100">
                </div>
            </div>
            <div class="bloque-de-4-img">
                <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png" alt="" class="img-fluid ">
            </div>
        </div>
        </div>
    </section>

    <section class="position-relative py-5">
        <div class="container-custom2">
            <div class="row ">
                <div class="col-12 col-lg-4 pb-3 text-center">
                    <img src="imagenes/pagina-interna/iconos-circulos.png" alt="">
                    <h2 class="fuente-3 dorado ">Políticas Integradas</h2>
                </div>
                <div class="col-12  col-xxl-8">
                    <div class="accordion" id="accordion-4">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button bg-dorado-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Política De Gestión
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion-4" style="">
                                <div class="accordion-body bg-crema">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="fuente-4">
                                                Somos una empresa minera principalmente de oro, tenemos el propósito de transformar responsablemente nuestra riqueza mineral en oportunidades de desarrollo y bienestar. Buscamos la
                                                sostenibilidad de nuestras operaciones, promoviendo la cultura de innovación en nuestros procesos, para lo cual nos comprometemos en:
                                            </p>
                                            <ul>
                                                <li>Enfocar todo esfuerzo al cumplimiento de nuestra visión, propósito, declaración de sostenibilidad, principios y valores establecidos, y al logro de nuestros objetivos estratégicos.</li>
                                                <br>
                                                <li>Demostrar liderazgo visible de la línea de mando con integridad en nuestro actuar, responsabilidad en seguridad, salud ocupacional, gestión ambiental y la calidad en los procesos.</li>
                                                <br>
                                                <li>Reconocer nuestros grupos de interés, sus necesidades, expectativas, requisitos, procurando su satisfacción y colaborando para que sean gestores de su desarrollo.</li>
                                                <br>
                                                <li>Desarrollar el trabajo en equipo y la práctica COLPA (5S) para su aplicación en el trabajo diario.</li>
                                                <br>
                                                <li>Mejorar continuamente el desempeño de los sistemas integrados de gestión.</li>
                                                <br>
                                                <li>Cumplir y respetar el marco legal aplicable, los Derechos Humanos y otros requisitos voluntariamente establecidos, en todas las actividades que se realicen en nuestra organización.
                                                </li>
                                                <br>
                                                <li>Comunicar y explicar nuestras políticas a toda persona que trabaja para Poderosa, además de ponerlas a disposición de nuestros grupos de interés</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button bg-dorado-oscuro-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Política De Calidad
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordion-4" style="">
                                <div class="accordion-body bg-crema">
                                    <div class="row">
                                        <div class="col-12">
                                            <ul>
                                                <li>
                                                    <p class="fuente-4">
                                                        Desarrollar de manera conjunta con nuestros colaboradores, procesos eficaces, productos y servicios
                                                        que son parte de una cadena productiva responsable para cumplir con las expectativas de nuestros
                                                        grupos de interés, adaptándonos a los cambios en la estrategia y gestión de procesos innovadores.
                                                    </p>
                                                </li>
                                                <br>
                                                <li>
                                                    <p class="fuente-4">Fomentar la innovación en todo lo que hacemos.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button bg-dorado-claro collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Política De Medio Ambiente
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordion-4" style="">
                                    <div class="accordion-body bg-crema">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                        <p class="fuente-4">
                                                            Proteger el medio ambiente, previniendo, reduciendo y mitigando los impactos negativos y las
                                                            emisiones que generamos.
                                                        </p>
                                                    </li>
                                                    <br>
                                                    <li>
                                                        <p class="fuente-4">
                                                            Promover el uso responsable y sostenible de los recursos naturales y materiales, desde la
                                                            perspectiva del ciclo de vida de nuestros productos, con la implementación de la economía circular
                                                            en nuestros procesos.
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button bg-dorado-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Política De Seguridad Y Salud Ocupacional
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordion-4" style="">
                                    <div class="accordion-body bg-crema">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul>
                                                    <li>
                                                        <p class="fuente-4">
                                                            Prevenir todo tipo de lesiones, enfermedades e incidentes relacionados con el trabajo, identificando
                                                            y eliminando en la medida de lo posible los peligros; evaluando y controlando los riesgos en nuestros
                                                            procesos.
                                                        </p>
                                                    </li>
                                                    <br>
                                                    <li>
                                                        <p class="fuente-4">
                                                            Promover la participación y consulta de los colaboradores para mantener instalaciones y labores
                                                            bajo condiciones de trabajo seguras y saludables.
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
