
@Html.Partial("~/Views/Shared/_head.cshtml")

<!------------------------------------TABS---------------------------------------------->
<link href="~/Content/tabs/css/easy-responsive-tabs.css" rel="stylesheet" />
<!------------------------------------FN TABS------------------------------------------->
<!-- METAS -->
<title>Accionistas | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Accionistas | PODEROSA' />
<meta name='description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
<meta name='url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
<meta name='keywords' content='accionistas, estructura accionarial, reporte Anual de sostenibilidad, estatuto social, reporte cumplimiento del código de buen gobierno corporativo, Certificado OHSAS 18001 2007, Certificado ISO 9001 2015, Certificado ISO 14001 2015, Distintivo Empresa Socialmente Responsable, documentación, estados financieros, poderosa' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Accionistas | PODEROSA' />
<meta property='og:description' content='Desde el 27 de enero del 2005, Poderosa tiene inscritas las acciones representativas de su capital social en el Registro Público del Mercado de Valores y la Bolsa de Valores de Lima.' />
<meta property='og:url' content='http://www.poderosa.com.pe/quienes-somos/accionistas' />
<meta property='og:image' content='http://www.poderosa.com.pe/Content/img/quienes-somos/accionistas/compartir.jpg' />
</head>
<body>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <div class="pt-4 ">

        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/04-cumplimiento/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/04-cumplimiento/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/04-sostenibilidad/04-cumplimiento/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Gestión de Cumplimiento</h3>
                <h1 class="bannerInterno__titulo fuente-3">
                    Procedimientos internos
                </h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>



        <section class="py-5">
            <div class="publicaciones-batolitos ">

                <div class="container py-0 py-lg-5">
                    <h3 class="fuente-3  pb-4">Nuestros procedimientos respaldan cada una de nuestras acciones:</h3>

                    <div class="row justify-content-between  g-5">
                        <div class="col-lg-4 col-md-6 publicaciones-batolitos__contenido">
                            <img src="~/Content/img/codigo-etica-y-conducta-2024.jpg" alt="" class="img-fluid border border-1">
                            <p class="mb-0 py-3">
                               <strong class="fuente-4 "> Código de Ética y Conducta</strong>
                            </p>
                            <a  target="_blank" href="~/Content/descargas/poderosa/codigo-etica-y-conducta-2024.pdf" class="button-flecha ">
                                Descargar
                                <span class="button-flecha_icon button-flecha-dorado">&#9654;</span>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 publicaciones-batolitos__contenido">
                            <img src="~/Content/img/politica-de-cumplimiento-2023.jpg" alt="" class="img-fluid border border-1">
                            <p class="mb-0 py-3">
                                    <strong class="fuente-4 "> Política de Cumplimiento</strong></p>
                                    <a target="_blank" href="~/Content/descargas/poderosa/politica-de-cumplimiento-2023.pdf"class="button-flecha ">
                                        Descargar
                                        <span class="button-flecha_icon button-flecha-dorado">&#9654;</span>
                                    </a>
</div>
                        <div class="col-lg-4 col-md-6  publicaciones-batolitos__contenido">
                            <img src="~/Content/img/manual-plaft.jpg" alt="" class="img-fluid border border-1">
                            <p class="mb-0 py-3">
                                <strong class="fuente-4 "> Manual PLAFT</strong></p>
                                    <a target="_blank" href="~/Content/descargas/poderosa/manual-plaft-2024.pdf" class="button-flecha ">
                                        Descargar
                                        <span class="button-flecha_icon button-flecha-dorado">&#9654;</span>
                                    </a>
</div>

                    </div>
                </div>
            </div>

        </section>
        @Html.Partial("~/Views/Shared/_footer.cshtml")

</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")

<!------------------------------------TABS---------------------------------------------->
<script src="~/Content/tabs/js/easyResponsiveTabs.js"></script>
<script src="~/Content/tabs/js/main.js"></script>
<!------------------------------------FN TABS---------------------------------------------->
</html>

