@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>

    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4 ">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-05-innovacion/01.png" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-05-innovacion/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-05-innovacion/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Gestión de la Innovación</h3>
                <h1 class="bannerInterno__titulo-largo fuente-3"> Estrategias para el cambio</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>


        <section class="py-5">
            <div class="container text-center">
                <p class="fuente-4 mb-5">
                    En Poderosa hemos diseñado una estrategia de cambio organizacional que se desglosa en tres procesos, cada una con pasos concretos diseñados para establecer, y reforzar un cambio estructural y cultural dentro de la organización.
                </p>
                <div class="row ">
                    <div class="col-6  col-md-6 col-lg-3 pb-5">
                        <img src="~/Content/img/pagina-interna-4/circulo-1.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 col-md-6  col-lg-3 pb-5">
                        <img src="~/Content/img/03-calidad-e-innovacion/03-05-innovacion/03-05-07-estrategias-para-el-cambio/01.png" alt="" class="img-fluid">
                    </div>
                    <div class="order-4  order-sm-4 order-lg-3 col-6 col-md-6 col-lg-3 pb-5 ">
                        <img src="~/Content/img/pagina-interna-4/circulo-3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 order-sm-3 col-md-6 col-lg-3 pb-5 ">
                        <img src="~/Content/img/03-calidad-e-innovacion/03-05-innovacion/03-05-07-estrategias-para-el-cambio/02.png" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
        </section>

        <section>
            <div class="bloque-de-4">
                <div class="row ">
                    <div class=" order-2 order-lg-0  col-lg-6 bg-gris-oscuro-4  ">
                        <div class="bloque-de-4-derecho">
                            <h2 class="fuente-3 dorado ">Gestión de desafíos: </h2>
                            <p class="fuente-4 blanco ">Nos dedicamos a la búsqueda sistemática de oportunidades en los procesos para crear cambios positivos que generen valor. Alineamos estas oportunidades con los objetivos y fines de nuestra organización, con lo que contribuimos a su 1 crecimiento y desarrollo sostenible</p>
                        </div>
                    </div>
                    <div class=" col-lg-6 bg-gris-2 ">
                        <div class="bloque-de-4-izquierdo">
                            <h2 class="fuente-3 dorado">Exploración de soluciones: </h2>
                            <p class="fuente-4 blanco">Nos comprometemos con la investigación, la búsqueda, el desarrollo y la validación de alternativas que nos permitan responder de manera ágil y efectiva a los desafíos planteados en los diversos procesos de nuestra organización. Nuestro enfoque está centrado en maximizar la creación de 2 valor y promover su desarrollo sostenible.</p>
                        </div>
                    </div>
                </div>
                <div class="bloque-de-4-img">
                    <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png" alt="" class="img-fluid ">
                </div>
            </div>

            <div class="bloque-de-4">
                <div class="row  ">
                    <div class="col-lg-6  bg-gris-2 ">
                        <div class="bloque-de-4-derecho">
                            <h2 class="fuente-3 dorado ">Adopción de soluciones: </h2>
                            <p class="fuente-4 blanco ">Nos comprometemos con la investigación, la búsqueda, el desarrollo y la validación de alternativas que nos permitan responder de manera ágil y efectiva a los desafíos planteados en los diversos procesos de nuestra organización. Nuestro enfoque está centrado en maximizar la creación de 2 valor y promover su desarrollo sostenible.</p>
                        </div>
                    </div>
                    <div class="col-lg-6  p-0 bloque-de-4-foto bg-gris-oscuro-4 ">
                        <img src="~/Content/img/03-calidad-e-innovacion/03-05-innovacion/03-05-07-estrategias-para-el-cambio/03.png" alt="" class="img-fluid  h-100">
                    </div>
                </div>
                <div class="bloque-de-4-img">
                    <img src="~/Content/img/pagina-interna-4/icono-dorado-transparente.png" alt="" class="img-fluid">
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container   contenedor-lista">
                <div class="row">
                    <div class="col-xl-4 pl-5 pb-5">
                        <h1 class="fuente-3 dorado">
                            Crear una infografía:
                        </h1>
                        <img src="~/Content/img/pagina-interna/iconos-circulos.png" alt="">
                    </div>
                    <div class="col-xl-8 contenedor-lista__texto">
                        <ul>
                            <li>Programas de liderazgo y metodologías ágiles.</li>
                            <li>
                                Iniciativas de innovación a través de talleres y acompañamiento
                            </li>
                            <li>Promoción del intraemprendimiento enfocado en la economía circular.</li>

                        </ul>

                    </div>
                </div>
            </div>
        </section>
        @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>