@Html.Partial("~/Views/Shared/_head.cshtml")
<!-- METAS -->
<title>Inicio | PODEROSA</title>
<!-- Basic HTML Meta Tags -->
<meta name='title' content='Inicio | PODEROSA' />
<meta name='description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta name='url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta name='keywords' content='minera poderosa, asociación pataz' />
<!-- OpenGraph Meta Tags -->
<meta property='og:type' content='website' />
<meta property='og:title' content='Inicio | PODEROSA' />
<meta property='og:description' content='Empresa minera aurífera ubicada en el distrito y provincia de Pataz, a casi 320 Km de la ciudad de Trujillo, a una altura que va entre los 1,250 y 3,000 m.s.n.m. en la región La Libertad, Perú. Con oficinas administrativas y almacenes en Lima y Trujillo.' />
<meta property='og:url' content='https://www.poderosa.com.pe/home/quienes-somos' />
<meta property='og:image' content='https://www.poderosa.com.pe/Content/img/compartir.jpg' />
</head>
<body>

    <div class="menuSecuVelo"></div>
    @Html.Partial("~/Views/Shared/_header.cshtml")
    <section class="pt-4">
        <div class="bannerInterno__contenedor">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-05-innovacion/iniciativas-en-innovacion/01.jpg" class="img-fluid  w-100 d-none  d-lg-block" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-05-innovacion/iniciativas-en-innovacion/01-tablet.jpg" class="img-fluid  d-none d-md-block d-sm-none d-lg-none" alt="">
            <img src="~/Content/img/cabeceras/03-calidad-e-innovacion/03-05-innovacion/iniciativas-en-innovacion/01-movil.jpg" class="img-fluid  d-block d-md-none d-lg-none" alt="">
            <img src="~/Content/img/pagina-interna/forma-dorada-transparente.png" class="img-fluid bannerInterno__dorada" alt="...">
            <div class="bannerInterno__texto">
                <h3 class="bannerInterno__indice fuente-5">Gestión de la Innovación</h3>
                <h1 class="bannerInterno__titulo-largo fuente-3"> Nuestras principales iniciativas en innovación</h1>
            </div>
            <img src="~/Content/img/pagina-interna/forma-dorada.png" class="img-fluid bannerInterno__small" alt="">
        </div>
    </section>

    <section class=" py-5">
        <div class="container py-5">
            <div class="contenedor-tres-filas">
                <div class=" text-center">

                    <div class="row ">
                        <div class="col-lg-6">
                            <img src="~/Content/img/03-calidad-e-innovacion/03-05-innovacion/03-05-06-nuestras-principales-iniciativas-en-innovacion/02.jpg" alt="" class="img-fluid  rounded-right-100">
                        </div>
                        <div class="col-lg-6">
                            <p class="text-start">Para fortalecer nuestro compromiso hemos establecido programas de capacitación. Incluimos talleres prácticos, complementados con mentorías personalizadas, y brindamos un acompañamiento constante a nuestros equipos de trabajo.</p>
                            <div class="contenedor-tres-filas__texto pb-3">

                                <div><img src="imagenes/proveedores/ico-03.png" alt="" class="px-4"></div>
                                <p class=" fuente-4">
                                    Nuestra estrategia reside el fomento de la colaboración interdisciplinaria, dirigida a descubrir métodos innovadores para crear valor. Todo esto se alinea con la implementación de iniciativas que no solo respaldan, sino que también son vitales para conseguir los objetivos estratégicos de nuestra empresa, con lo que aseguramos nuestra posición como líderes en el sector.



                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>








    <section class="py-5 bg-dorado-claro-1">

        <div class="container   contenedor-lista">
            <div class="row">
                <div class="col-xl-4 pl-5 pb-5">
                    <img src="imagenes/pagina-interna/iconos-circulos.png" alt="">
                    <h3 class="fuente-3 dorado pt-3">
                        Entre los proyectos de innovación de nuestros procesos destacamos los siguientes:
                    </h3>

                </div>
                <div class="col-xl-8 contenedor-lista__texto">
                    <ul>
                        <li>Aplicación de modelos digitales 3D en el cartografiado subterráneo y el registro de testigos de perforación diamantina.</li>
                        <li>
                            Reducir costos de electricidad e incrementar la confiabilidad eléctrica de Poderosa a través de un BESS.
                        </li>
                        <li>Generación de biogás y biofertilizante de residuos orgánicos generados en Poderosa, mediante un biodigestor portátil.</li>
                        <li>
                            Optimizar el consumo de reactivos en el procesamiento de minerales de Minera Poderosa.
                        </li>
                        <li>
                            Proyecto de planta piloto de refinería química.
                        </li>

                    </ul>

                </div>
            </div>
        </div>


    </section>

    <section class="position-relative py-5">
        <div class="container-custom2 py-5">
            <div class="row g-0">
                <div class="offset-xxl-1  col-12  col-xxl-3 d-flex flex-column pb-4 pe-xxl-5">
                    <p class="fuente-4 gris-oscuro">Participamos en los espacios de colaboración que nos permite compartir retos, presentar casos de interés, revisar propuestas innovadoras y desarrollar proyectos colaborativos de I+D+i con universidades, enfocados en sostenibilidad y economía circular. </p>
                </div>

                <div class="col-12  col-xxl-8">
                    <div id="carousel-items" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/03-calidad-e-innovacion/03-05-innovacion/03-05-06-nuestras-principales-iniciativas-en-innovacion/carrusel-01.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/03-calidad-e-innovacion/03-05-innovacion/03-05-06-nuestras-principales-iniciativas-en-innovacion/carrusel-02.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <img src="~/Content/img/03-calidad-e-innovacion/03-05-innovacion/03-05-06-nuestras-principales-iniciativas-en-innovacion/carrusel-03.jpg" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img src="~/Content/img/03-calidad-e-innovacion/03-05-innovacion/03-05-06-nuestras-principales-iniciativas-en-innovacion/carrusel-04.jpg" class="img-fluid" alt="...">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex pt-4 pt-sm-0 pb-4">
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-items" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel-items" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="contenedor-mostaza ">
            <div class="row">
                <div class="col-lg-6 ">
                    <img src="~/Content/img/03-calidad-e-innovacion/03-05-innovacion/03-05-06-nuestras-principales-iniciativas-en-innovacion/03.jpg" alt="" class="img-fluid h-100">
                </div>
                <div class="col-lg-6 ">
                    <div class="contenedor-mostaza_der">
                        <div class="row  ">
                            <div class="col-lg-5 d-flex justify-content-center align-items-center mb-3 mb-lg-0">
                                <img src="imagenes/350x350-circular.png" alt="" class="img-fluid ">
                            </div>
                            <div class="col-lg-7 d-flex justify-content-center align-items-center">
                                <div class="contenedor-mostaza_text">
                                    <h2 class="fuente-3">Plataforma Ideas De Oro </h2>
                                    <p class="fuente-4">
                                        Canal de Innovación que promueve la participación continua de los colaboradores de nuestra organización en la identificación y resolución de desafíos mediante la presentación de ideas innovadoras.
                                    </p>
                                    <div class="button-flecha  mt-3">
                                        Ir a la web
                                        <span class="button-flecha_icon">▶</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="py-5">
    </section>
    @Html.Partial("~/Views/Shared/_footer.cshtml")
</body>
@Html.Partial("~/Views/Shared/_foot.cshtml")
</html>
